<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <template v-if="$auth.can('view-administrator')">
                        <div v-if="loaded" class="row">
                            <div class="col-md-12 expo">
                                <div class="card card-stats">
                                    <div :class="getColorCardUser()">
                                        <div class="card-icon">
                                            <i class="material-icons">supervised_user_circle</i>
                                        </div>
                                        <p class="card-category"><b>All Administrators</b>
                                        <h3 class="card-title" style="color:red;"><b>{{users.length}}</b></h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">supervised_user_circle</i><b>All Administrators</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="!loaded" class="submit">
                            <Loaded/>
                        </div>
                        <div v-if="loaded" class="row">
                            <div class="col-md-12 expo">
                                <div class="card">
                                    <div :class="getColorHeaderUser()">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4 class="card-title">
                                                    <b>Datatables Administrators</b>
                                                </h4>
                                                <p class="card-title">
                                                    Historic Informations
                                                </p>
                                            </div>
                                            <div class="col-md-6 text-right">
                                            <span>
                                                <i id="tooltipSize" class="material-icons">supervised_user_circle</i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="card-body">
                                        <div class="header text-right">
                                            <button value="Refresh Page" @click="reload()" class="btn btn-warning btn-raised btn-round button_note btn-sm">
                                                <i class="material-icons">replay</i>
                                                <b class="title_hover">Refresh</b>
                                            </button>
                                        </div>
                                        <div class="toolbar">
                                            <div class="submit text-center">
                                                <button id="button_hover" @click="modalInvite()" class="btn btn-info btn-raised btn-round text-right">
                                                    <i class="material-icons">inbox</i>
                                                    <b class="title_hover">Invite Administrator</b>
                                                </button>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div v-for="(item,index) in users" :key="index" class="col-md-4 col-sm-4 ">
                                                <div class="card card-profile">
                                                    <div class="card-avatar">
                                                        <a href="#pablo">
                                                            <img class="img" :src="item.avatar" :alt="item.name"/>
                                                        </a>
                                                    </div>
                                                    <div class="stats text-center">
                                                        <router-link  :to="{ name: 'administrators.profile', params: { username: item.username  } }" class="btn btn-warning btn-just-icon btn-fill btn-round btn-sm" title="View">
                                                            <i class="material-icons">visibility</i>
                                                        </router-link>
                                                        <router-link  v-if="$auth.can('edit-administrator')" :to="{ name: 'administrators.edit', params: { id: item.id  } }" class="btn btn-success btn-just-icon btn-fill btn-sm btn-round btn-wd" title="Edit">
                                                            <i class="material-icons">mode_edit</i>
                                                            <div class="ripple-container"></div>
                                                        </router-link>
                                                    </div>
                                                    <div class="card-body">
                                                        <router-link  :to="{ name: 'administrators.profile', params: { username: item.username  } }">
                                                            <button v-if="item.statusOnline" type="button" class="btn btn-success btn-round btn-just-icon btn-sm" title="Administrator Online"></button>
                                                            <button v-else="item.statusOnline" type="button" class="btn btn-danger btn-round btn-just-icon btn-sm" title="Administrator Offline"></button>
                                                            {{ (item.name.length > 15 ? item.name.substring(0,15)+ "..." : item.name) | upText }}
                                                        </router-link>
                                                        <h6>
                                                            <span v-for="role in item.roles" :class="getRoleName(role)">
                                                            <b>{{role}}</b>
                                                            </span>
                                                        </h6>
                                                        <h4 class="card-title"><b>{{ item.name }} {{ item.first_name }}</b></h4>
                                                        <h4 class="card-title"><b>Sex:</b> {{ item.sex }}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal Invite Administrator -->
                                        <div class="modal fade" id="inviteAdmin" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-md" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"><b>Invite Administrator</b></h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form @keydown="form.onKeydown($event)" @submit.prevent="inviteAdmin()" role="form" method="POST" action="" accept-charset="UTF-8">
                                                            <div class="row">
                                                                <div class="alert alert-info">
                                                                    <div class="container text-justify">
                                                                        <div class="alert-icon">
                                                                            <i class="material-icons">info_outline</i>
                                                                        </div>
                                                                        <b>Info alert - </b> You are about to send a message to an adminsitrater to communicate his new role.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="bmd-label-floating"></label>
                                                                        <select name="name" v-model="form.email" id="name" class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                                                            <option value="" disabled >Select an administrator</option>
                                                                            <option v-for="user in users" :key="user.id" :value="user.email">{{user.name}}</option>
                                                                        </select>
                                                                        <has-error :form="form" field="email"></has-error>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="modal-footer">
                                                                <div class="text-center">
                                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                    <span class="btn-label">
                                                                        <i class="material-icons">clear</i>
                                                                        <b>Close</b>
                                                                    </span>
                                                                    </button>
                                                                    <button :disabled="form.busy" type="submit" class="btn btn-success btn-raised">
                                                                    <span class="btn-label">
                                                                        <i class="material-icons">alternate_email</i>
                                                                        <b>Yes, Invite</b>
                                                                    </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <div v-else="$auth.can('view-administrator')" class="container-fluid">
                        <alert-permission/>
                    </div>
                </div>
            </div>
            <FooterAdmin/>
        </div>
    </div>
</template>

<script>
    import NavAdmin from "../../../inc/admin/NavAdmin";
    import TopNav from "../../../inc/admin/TopNav";
    import FooterAdmin from "../../../inc/admin/FooterAdmin";
    import StatusAdmin from "../../../inc/admin/StatusAdmin";
    import Loaded from "../../../inc/animation/Loaded";

    export default {
        components: {Loaded, StatusAdmin, FooterAdmin, TopNav, NavAdmin },
        data() {
            return {
                loaded: false,
                isAllow: false,
                users: {},
                colors:[],
                roles:[],
                form: new Form({
                    email: '',
                    user: ''
                })
            }
        },
        methods: {
            getColorCardUser(){
                return 'card-header card-header-icon card-header-' + this.user.color_name;
			},
            getColorHeaderUser(){
                return 'card-header card-header-' + this.user.color_name;
			},
            getRoleName(role) {
                if (role === 'super-admin') {
                    return 'badge badge-info';
                }
                if (role === 'admin') {
                    return 'badge badge-success';
                }
                if (role === 'visitor') {
                    return 'badge badge-secondary';
                }
                if (role === 'editor') {
                    return 'badge badge-warning';
                }
                if (role === 'advertiser') {
                    return 'badge badge-danger';
                }
                if (role === 'moderator') {
                    return 'badge badge-primary';
                }
            },
            modalInvite() {
                this.form.reset();
                //Masquer le modal après la création
                $('#inviteAdmin').modal('show');
            },
            inviteAdmin() {
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.post("/invite")
                    .then(() => {
                        //Masquer le modal après la création
                        $('#inviteAdmin').modal('hide');

                        //Insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Administrator invited Successfully.</strong>', 'progress': 75});
                        }, 2000);

                        //End Progress bar
                        this.$Progress.finish();
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooop! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                })
            },
            loadItems() {
                //Start Progress bar
                this.$Progress.start();
                axios.get("/admin/api/administrators").then(response => {
                    this.loaded = true;
                    this.users = response.data.data;
                    this.mydatatables();
                    //End Progress bar
                    this.$Progress.finish();
                });
                let urlColors = "/admin/api/colors";
                axios.get(urlColors).then(({data}) => (this.colors = data.data));
                let urlRoles = "/admin/api/roles";
                axios.get(urlRoles).then(({data}) => (this.roles = data.data));
                axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
            },
            reload(){
                this.loadItems();
            },
        },
        created() {
            this.loadItems();
        Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
        }
    }
</script>

<style scoped>

</style>
