<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <div class="row">
                        <div class="col-md-12 expo">
                            <div class="card card-stats">
                                <div :class="getColorCardUser()">
                                    <div class="card-icon">
                                        <i class="material-icons">email</i>
                                    </div>
                                    <p class="card-category"><b>All Messages Assistance</b>
                                    <h3 class="card-title title-red"><b>{{aidecontactmessages.length}}</b></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">email</i><b>All Messages Assistance</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="!loaded" class="submit">
                       <Loaded/>
                    </div>
                    <div class="row">
                        <div class="col-md-12 expo">
                            <div class="card">
                                <div :class="getColorHeaderUser()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title">
                                                <b>Datatables Messages Assistance</b>
                                            </h4>
                                            <p class="card-title">
                                                Assistance services site
                                            </p>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span>
                                                <i id="tooltipSize" class="material-icons">email</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                   <div class="header text-right">
                                        <button  @click="reload" class="btn btn-warning btn-raised btn-round button_note btn-sm"
                                                title="Refresh Page">
                                            <i class="material-icons">replay</i>
                                            <b class="title_hover">Refresh</b>
                                        </button>
                                    </div>
                                    <div class="material-datatables">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th><b>Status</b></th>
                                                    <th><b>Sender Name</b></th>
                                                    <th><b>Theme</b></th>
                                                    <th><b>Demande</b></th>
                                                    <th><b>Date Reception</b></th>
                                                    <th class="disabled-sorting text-right"><b>Actions</b></th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th><b>Status</b></th>
                                                    <th><b>Sender Name</b></th>
                                                    <th><b>Theme</b></th>
                                                    <th><b>Demande</b></th>
                                                    <th><b>Date Reception</b></th>
                                                    <th class="text-right"><b>Actions</b></th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr v-for="item in aidecontactmessages" :key="item.id">
                                                    <td>
                                                        <span v-if="item.status === 1" class="badge badge-success">Read</span>
                                                        <span v-else-if="item.status === 0"  class="badge badge-rose">New</span>
                                                    </td>
                                                    <td><b>{{ item.user.name }} {{ item.user.last_name }} </b></td>
                                                    <td><b>{{ item.aidecontacttheme.title.substr(0 ,15) + '...' | upText }}</b></td>
                                                    <td><b>{{ item.aidecontactdemande.title.substr(0 ,15) + '...' | upText }}</b></td>
                                                    <td><b>{{ item.created_at | myDate }}</b></td>
                                                    <td class="td-actions text-right">
                                                        <template v-if="$auth.can('read-message')">
                                                            <a  href="javascript:void(0)" v-if="item.status === 1" @click="disableItem(item.id)" class="btn btn-link btn-success btn-round btn-just-icon " title="Disable Read">
                                                                <i class="material-icons">done_all</i>
                                                            </a>
                                                            <a href="javascript:void(0)" v-else-if="item.status === 0" @click="activeItem(item.id)" class="btn btn-link btn-danger btn-round btn-just-icon" title="Confirm Read">
                                                                <i class="material-icons">done</i>
                                                            </a>
                                                        </template>
                                                        <a href="javascript:void(0)" @click="editItem(item)"
                                                           class="btn btn-link  btn-warning btn-round btn-just-icon" title="View">
                                                            <i class="material-icons">visibility</i>
                                                        </a>
                                                        <a href="javascript:void(0)" @click="deleteItem(item.id)" v-if="$auth.can('delete-message')"
                                                           class="btn btn-link btn-danger btn-round btn-just-icon" title="Delete">
                                                            <i class="material-icons">delete_forever</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Modal Show Message Assistance -->
                                    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 v-show="editmode" class="modal-title" id="updatwNewLabel"><b>Message Assistance</b></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="RegisterValidation" @submit.prevent="editmode ? updateItem() : createItem()" role="form" method="POST" action="" accept-charset="UTF-8">
                                                        <div class="row">
                                                            <div class="col-md-6 ml-auto mr-auto">
                                                                <div style="padding-top: -100px;" class="profile text-center ">
                                                                    <div class="avatar">
                                                                        <div class="fileinput fileinput-new text-center"
                                                                             data-provides="fileinput">
                                                                            <div class="fileinput-new thumbnail img-circle img-raised">
                                                                                <img  :src="form.user.avatar" :alt="form.user.name">
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <span class="help-block">
                                                                            <strong class="text-center" v-text="form.user.name"></strong>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="bmd-label-floating"></label>
                                                                    <input v-model="form.aidecontacttheme.title" type="text" name="aidecontacttheme.title" placeholder="Name..."
                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('aidecontacttheme.title') }" disabled>
                                                                    <has-error :form="form" field="aidecontacttheme.title"></has-error>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="bmd-label-floating"></label>
                                                                    <input v-model="form.aidecontactdemande.title" type="text" name="aidecontactdemande.title" placeholder="Email ..."
                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('aidecontactdemande.title') }" disabled>
                                                                    <has-error :form="form" field="aidecontactdemande.title"></has-error>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="bmd-label-floating"></label>
                                                                    <input v-model="form.object" type="text" name="object" placeholder="subject ..."
                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('object') }" disabled>
                                                                    <has-error :form="form" field="object"></has-error>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group text-justify">
                                                            <p  v-html="form.body"></p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="text-center">
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                    <span class="btn-label">
                                                                        <i class="material-icons">clear</i>
                                                                        <b>Close</b>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <FooterAdmin/>
        </div>
    </div>
</template>

<script>
    import NavAdmin from "../../inc/admin/NavAdmin";
    import TopNav from "../../inc/admin/TopNav";
    import FooterAdmin from "../../inc/admin/FooterAdmin";
    import StatusAdmin from "../../inc/admin/StatusAdmin";
    import Loaded from "../../inc/animation/Loaded";
    export default {
        components: {Loaded, StatusAdmin, FooterAdmin, TopNav, NavAdmin},
        data() {
            return {
                loaded: false,
                editmode: false,
                user: {},
                aidecontactmessages: {},
                form: new Form({
                    id: '',
                    object: '',
                    body: '',
                    slug: '',
                    status: '',
                    aidecontacttheme: '',
                    aidecontactdemande: '',
                    user: ''
                })
            }
        },
        methods: {
            mydatatables(){
                $( function () {
                    $('#datatables').DataTable({
                        "pagingType": "full_numbers",
                        "lengthMenu": [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"]
                        ],
                        order: [[ 0, 'desc' ], [ 3, 'asc' ]],
                        responsive: true,
                        stateSave: true,
                        destroy: true,
                        retrieve:true,
                        autoFill: true,
                        colReorder: true,
                        language: {
                            search: "<i class='material-icons'>search</i>",
                            searchPlaceholder: "Search Record"
                        },
                        "sPaginationType": "full_numbers"
                    });
                });
            },
            getColorCardUser(){
                let colorCard = 'card-header card-header-icon card-header-' + this.user.color_name;
                return colorCard;
            },
            getColorHeaderUser(){
                let colorHeader = 'card-header card-header-' + this.user.color_name;
                return colorHeader;
            },
            editItem(item) {
                this.editmode = true;
                this.form.reset();
                //Masquer le modal après la création
                $('#addNew').modal('show');
                //On passe les informations
                this.form.fill(item);
            },
            deleteItem(id) {
                //Alert delete
                Swal.fire({
                    title: 'Delete Message Assistance?',
                    text: "Are you sure you want to delete this message?",
                    type: 'warning',
                    animation: false,
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then((result) => {
                    //Envoyer la requete au server
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();
                        this.form.delete('/admin/demande/contact/assistance/all-assistance/' + id).then(() => {
                            /** Alert notify bootstrapp **/
                            var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                                allow_dismiss: false,
                                showProgressbar: true
                            });
                            setTimeout(function() {
                                notify.update({'type': 'success', 'message': '<strong>Message assistance deleted successfully.</strong>', 'progress': 75});
                            }, 2000);
                            /* End alert ***/

                            //End Progress bar
                            this.$Progress.finish();

                            Fire.$emit('AfterCreate');
                        }).catch(() => {
                            //Failled message
                            this.$Progress.fail();
                            $.notify("Ooop! Something wrong. Try later", {
                            type: 'danger',
                                animate: {
                                    enter: 'animated bounceInDown',
                                    exit: 'animated bounceOutUp'
                                }
                            });
                        })
                    }
                })
            },
            /** Ici c'est l'activation de la couleur  **/
            activeItem(id) {
                //Start Progress bar
                this.$Progress.start();
                
                this.form.get('/admin/demande/contact/assistance/active_all-assistance/' + id).then(() => {

                    /** Alert notify bootstrapp **/
                    var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                        allow_dismiss: false,
                        showProgressbar: true
                    });
                    setTimeout(function() {
                        notify.update({'type': 'success', 'message': '<strong>Message assistance readed successfully.</strong>', 'progress': 75});
                    }, 2000);
                    /** End alert **/

                    //End Progress bar
                    this.$Progress.finish();
                    
                    Fire.$emit('AfterCreate');
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                    type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                })
            },
            /** Ici c'est la désactivation de la couleur **/
            disableItem(id) {
                //Start Progress bar
                this.$Progress.start();
                
                this.form.get('/admin/demande/contact/assistance/disable_all-assistance/' + id).then(() => {

                    /** Alert notify bootstrapp **/
                    var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                        allow_dismiss: false,
                        showProgressbar: true
                    });
                    setTimeout(function() {
                        notify.update({'type': 'success', 'message': '<strong>Message assistance unreaded successfully.</strong>', 'progress': 75});
                    }, 2000);
                    /** End alert **/

                    //End Progress bar
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                    type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                })
            },
            loadItems() {
                //Start Progress bar
                this.$Progress.start();
                axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
                const url = "/admin/api/demande/contact/assistance/all-assistance";
                axios.get(url).then(response => {
                    this.loaded = true;
                    this.aidecontactmessages = response.data.data;
                    this.mydatatables();
                });
                //End Progress bar
                this.$Progress.finish();
            },
            reload(){
                this.loadItems();
            },
            intervalFetchData: function () {
                setInterval(() => {
                    this.loadItems();
                }, 120000);
            },
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
            this.intervalFetchData();
        }
    }
</script>

<style scoped>

</style>
