<template>
    <div class="tab-content tab-space">
        <vue-progress-bar/>
        <!-- Messages -->
        <div class="tab-pane active" id="pillMessage">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto expo">
                        <div class="card card-contact">
                            <form id="RegisterValidation" accept-charset="UTF-8" @submit.prevent="createItem()" action
                                  method="POST" enctype="multipart/form-data">
                                <div :class="getColorCardUser()">
                                    <h4 class="card-title">Help & Customer Service</h4>
                                    <p class="card-category">Contact our email support service for a particular
                                        concern.</p>
                                </div>
                                <div class="card-body">
                                    <div class="form-group label-floating is-empty">
                                        <label class="bmd-label-floating">Object*</label>
                                        <input v-model="form.object" type="text" name="object" class="form-control"
                                               :class="{ 'is-invalid': form.errors.has('object') }">
                                        <has-error :form="form" field="object"></has-error>
                                        <span class="material-input"></span>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Theme *</label>
                                                <select name="country" v-model="form.aidecontacttheme_id"
                                                        id="aidecontacttheme_id"
                                                        class="form-control"
                                                        :class="{ 'is-invalid': form.errors.has('aidecontacttheme_id') }"
                                                        style="margin-top: 15px;">
                                                    <option value disabled>Choose Your Theme</option>
                                                    <option v-for="aidecontacttheme in aidecontactthemes"
                                                            :key="aidecontacttheme.name" :value="aidecontacttheme.id">
                                                        {{aidecontacttheme.title}}
                                                    </option>
                                                </select>
                                                <has-error :form="form" field="aidecontacttheme_id"></has-error>
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Demande *</label>
                                                <select name="country" v-model="form.aidecontactdemande_id"
                                                        id="aidecontactdemande_id" class="form-control"
                                                        :class="{ 'is-invalid': form.errors.has('aidecontactdemande_id') }"
                                                        style="margin-top: 15px;">
                                                    <option value disabled>Choose Your Demande</option>
                                                    <option v-for="aidecontactdemande in aidecontactdemandes"
                                                            :key="aidecontactdemande.id" :value="aidecontactdemande.id">
                                                        {{aidecontactdemande.title}}
                                                    </option>
                                                </select>
                                                <has-error :form="form" field="aidecontactdemande_id"></has-error>
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Description<span style="color: red;">*</span></label>
                                        <vue-editor v-model="form.body" :editorToolbar="customToolbar"></vue-editor>
                                        <div class="form-check">
                                            <label class="form-check-label pull-right">
                                                You can use the
                                                <a href="https://help.github.com/articles/getting-started-with-writing-and-formatting-on-github/"
                                                   target="_blank" class="text-danger">Markdown there</a>
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                        <has-error :form="form" field="body"></has-error>
                                    </div>
                                </div>
                                <br>
                                <div class="submit">
                                    <div class="text-center">
                                        <button id="button_hover" type="submit" class="btn btn-info btn-round btn-md">
                                            <span class="btn-label">
                                                <i class="material-icons">mail</i>
                                            </span>
                                            <b class="title_hover">Send</b>
                                        </button>
                                    </div>
                                    <br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FAQs -->
        <div class="tab-pane text-center" id="pillFaqs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto expo">
                        <div class="card card-contact">
                            <div :class="getColorCardUser()">
                                <h4 class="card-title">Help & Customer Service</h4>
                                <p class="card-category">
                                    A question to your concern among the questions frequently asked by other customers?
                                </p>
                            </div>
                            <div class="card-body">
                                <br>
                                <h5>Visit our FAQs (Frequently Asked Questions)</h5>
                                <br>
                                <a id="button_hover" href="/faqs" class="btn btn-info btn-round btn-md">
                                    <i class="material-icons">format_align_left</i>
                                    <b class="title_hover">FAQs</b>
                                </a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chat -->
        <div class="tab-pane text-center" id="pillChat">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto expo">
                        <div class="card card-contact">
                            <div :class="getColorCardUser()">
                                <h4 class="card-title">Help & Customer Service</h4>
                                <p class="card-category">
                                    Want to leave and/or directly speak with your client or customer Service?
                                </p>
                            </div>
                            <div class="card-body">
                                <br>
                                <h5>Start your chat section now</h5>
                                <br>
                                <a id="button_hover" href="/conversations"
                                   class="btn btn-info btn-round btn-md">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <b class="title_hover">Chat</b>
                                </a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {VueEditor, Quill} from "vue2-editor";

    export default {
        components: {
            VueEditor
        },
        data() {
            return {
                colors: {},
                user: [],
                aidecontactthemes: {},
                aidecontactdemandes: {},
                form: new Form({
                    id: "",
                    object: "",
                    body: "",
                    aidecontacttheme_id: "",
                    aidecontactdemande_id: ""
                }),
                customToolbar: [
                    [{'header': [1, 2, 3, 4, 5, 6, false]}],
                    [{'font': []}],
                    //[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                    //[{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{'align': []}],
                    //[{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote', 'code-block'],
                    //['blockquote', 'code-block'],
                    [{'list': 'ordered'}, {'list': 'bullet'}, {'list': 'check'}],
                    //[{ 'script': 'sub'}, { 'script': 'super' }],
                    //[{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{'color': []}, {'background': []}],
                    //['link', 'image', 'video', 'formula'],
                    //[{ 'direction': 'rtl' }],
                    ['clean'],
                    //['emoji'],
                ],
            };
        },
        methods: {
            getColorCardUser() {
                let colorUser = 'card-header card-header-raised card-header-' + this.user.color_name + ' text-center';
                return colorUser;
            },
            createItem() {
                //Start Progress bar
                this.$Progress.start();

                this.form.post("aide_contact_messages/save").then(() => {
                    /** Dèbut de l'alert **/
                    Swal.fire({
                        type: "success",
                        title: "Merci pour votre message",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    /** End Alert **/

                    this.form.reset();

                    //End Progress bar
                    this.$Progress.finish();
                }).catch(error => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                    this.onFail(error.response.data);

                    reject(error.response.data);
                });
            }
        },
        created() {
            //Start Progress bar
            this.$Progress.start();
            axios.get("/aide_contact_messages/contact_themes").then(({data}) => (this.aidecontactthemes = data.data));
            axios.get("/aide_contact_messages/contact_demandes").then(({data}) => (this.aidecontactdemandes = data.data));
            axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
            //End Progress bar
            this.$Progress.finish();
        }
    };
</script>
