<template>
    <div>
        <body class="blog-post sidebar-collapse">
  <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
       <a class="navbar-brand" href="/">
                <img src="/images/kazoucoin-logo.png" class="kazoucoin-logo">
                <img src="/images/kazoucoin-scroll-logo.png" class="kazoucoin-scroll-logo">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">apps</i> Market Place
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="../presentation.html" class="dropdown-item">
                <i class="material-icons">layers</i> Presentation
              </a>
              <a href="../index.html" class="dropdown-item">
                <i class="material-icons">line_style</i> All Components
              </a>
              <a href="http://demos.creative-tim.com/material-kit-pro/docs/2.1/getting-started/introduction.html" class="dropdown-item">
                <i class="material-icons">content_paste</i> Documentation
              </a>
            </div>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">view_day</i> Categories
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="../sections.html#teams" class="dropdown-item">
                <i class="material-icons">people</i> Teams
              </a>
              <a href="../sections.html#projects" class="dropdown-item">
                <i class="material-icons">assignment</i> Projects
              </a>
              <a href="/testimonials" class="dropdown-item">
                <i class="material-icons">chat</i> Testimonials
              </a>
              <a href="/contact-us" class="dropdown-item">
                <i class="material-icons">call</i> Contacts
              </a>
            </div>
          </li>
          <li class="button-container nav-item iframe-extern">
            <h2 class= "kazou-blog"  style="font-weight: 600; color: red">KAZOUBLOG</h2>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/bg5.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">How We Built the Most Successful SaaS</h1>
          <h4>The last 48 hours of my life were total madness. This is what I did.</h4>
          <br>
          <a href="#pablo" class="btn btn-rose btn-round btn-lg">
            <i class="material-icons">format_align_left</i> Read Article
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
      <div class="container">
          <div class="section">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                      <ul class="nav nav-pills nav-pills-primary">
                          <li class="nav-item">
                              <a class="nav-link active" href="#pill1" data-toggle="tab">Kazoucoin</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#pill2" data-toggle="tab">Kazoutech</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#pill3" data-toggle="tab">Kazoufood</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#pill3" data-toggle="tab">Kazoujob</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#pill3" data-toggle="tab">Kazoutravel</a>
                          </li>
                      </ul>
                      <div class="tab-content tab-space">
                          <div class="tab-pane active" id="pill1"></div>
                          <div class="tab-pane" id="pill2"></div>
                          <div class="tab-pane" id="pill3"></div>
                          <div class="tab-pane" id="pill4"></div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="card card-raised card-background" style="background-image: url('../assets/img/examples/office2.jpg')">
                          <div class="card-body">
                              <h6 class="card-category text-info">Kazoucoin</h6>
                              <a href="#pablo">
                                  <h3 class="card-title">The Best Productivity Apps on Market</h3>
                              </a>
                              <p class="card-description">
                                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                              </p>
                              <a href="#pablo" class="btn btn-danger btn-round">
                                  <i class="material-icons">format_align_left</i> Read Article
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="card card-raised card-background" style="">
                          <div class="card-body">
                              <h6 class="card-category text-info">Kazoutech</h6>
                              <h3 class="card-title">Working on Wallstreet is Not So Easy</h3>
                              <p class="card-description">
                                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                              </p>
                              <a href="#pablo" class="btn btn-primary btn-round">
                                  <i class="material-icons">format_align_left</i> Read Article
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="card card-raised card-background" style="">
                          <div class="card-body">
                              <h6 class="card-category text-info">Kazoufood</h6>
                              <h3 class="card-title">0 to 100.000 Customers in 6 months</h3>
                              <p class="card-description">
                                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                              </p>
                              <a href="#pablo" class="btn btn-warning btn-round">
                                  <i class="material-icons">subject</i> Read Case Study
                              </a>
                              <a href="#pablo" class="btn btn-white btn-just-icon btn-link" title="" rel="tooltip" data-original-title="Save to Pocket">
                                  <i class="fa fa-get-pocket"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="section">
              <h3 class="title text-center">You may also be interested in</h3>
              <br>
              <div class="row">
                  <div class="col-md-4">
                      <div class="card card-plain card-blog">
                          <div class="card-header card-header-image">
                              <a href="#pablo">
                                  <img class="img img-raised" src="">
                              </a>
                          </div>
                          <div class="card-body">
                              <h6 class="card-category text-info">Enterprise</h6>
                              <h4 class="card-title">
                                  <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                              </h4>
                              <p class="card-description">
                                  Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                  <a href="#pablo"> Read More </a>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card card-plain card-blog">
                          <div class="card-header card-header-image">
                              <a href="#pablo">
                                  <img class="img img-raised" src="">
                              </a>
                          </div>
                          <div class="card-body">
                              <h6 class="card-category text-success">
                                  Startups
                              </h6>
                              <h4 class="card-title">
                                  <a href="#pablo">Lyft launching cross-platform service this week</a>
                              </h4>
                              <p class="card-description">
                                  Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                  <a href="#pablo"> Read More </a>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card card-plain card-blog">
                          <div class="card-header card-header-image">
                              <a href="#pablo">
                                  <img class="img img-raised" src="">
                              </a>
                          </div>
                          <div class="card-body">
                              <h6 class="card-category text-danger">
                                  <i class="material-icons">trending_up</i> Enterprise
                              </h6>
                              <h4 class="card-title">
                                  <a href="#pablo">6 insights into the French Fashion landscape</a>
                              </h4>
                              <p class="card-description">
                                  Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                  <a href="#pablo"> Read More </a>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="team-5 section-image" style="background-image: url('../assets/img/bg10.jpg')">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="card card-profile card-plain">
                          <div class="row">
                              <div class="col-md-5">
                                  <div class="card-header card-header-image">
                                      <a href="#pablo">
                                          <img class="img" src="">
                                      </a>
                                      <div class="ripple-container"></div>
                                  </div>
                              </div>
                              <div class="col-md-7">
                                  <div class="card-body">
                                      <h4 class="card-title">Alec Thompson</h4>
                                      <h6 class="card-category text-muted">Author of the Month</h6>
                                      <p class="card-description">
                                          Don't be scared of the truth because we need to restart the human foundation in truth...
                                      </p>
                                  </div>
                                  <div class="card-footer">
                                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                          <i class="fa fa-facebook-square"></i>
                                      </a>
                                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                          <i class="fa fa-google"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="card card-profile card-plain">
                          <div class="row">
                              <div class="col-md-5">
                                  <div class="card-header card-header-image">
                                      <a href="#pablo">
                                          <img class="img" src="">
                                      </a>
                                  </div>
                              </div>
                              <div class="col-md-7">
                                  <div class="card-body">
                                      <h4 class="card-title">Kendall Andrew</h4>
                                      <h6 class="card-category text-muted">Author of the Week</h6>
                                      <p class="card-description">
                                          Don't be scared of the truth because we need to restart the human foundation in truth...
                                      </p>
                                  </div>
                                  <div class="card-footer">
                                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                          <i class="fa fa-facebook-square"></i>
                                      </a>
                                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                          <i class="fa fa-dribbble"></i>
                                      </a>
                                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                          <i class="fa fa-google"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="subscribe-line">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <h3 class="title">Get Tips &amp; Tricks every Week!</h3>
                      <p class="description">
                          Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                      </p>
                  </div>
                  <div class="col-md-6">
                      <div class="card card-plain card-form-horizontal">
                          <div class="card-body">
                              <form method="" action="">
                                  <div class="row">
                                      <div class="col-md-8">
                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                    <i class="material-icons">mail</i>
                                                  </span>
                                              </div>
                                              <input type="text" class="form-control" placeholder="Your Email...">
                                          </div>
                                      </div>
                                      <div class="col-md-4">
                                          <button type="button" class="btn btn-primary btn-round btn-block">Subscribe</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title text-center">Similar Stories</h2>
          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-header card-header-image">
                  <a href="#pablo">
                    <img class="img img-raised" src="">
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="category text-info">Enterprise</h6>
                  <h4 class="card-title">
                    <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                  </h4>
                  <p class="card-description">
                    Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                    <a href="#pablo"> Read More </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-header card-header-image">
                  <a href="#pablo">
                    <img class="img img-raised" src="">
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="category text-success">
                    Startups
                  </h6>
                  <h4 class="card-title">
                    <a href="#pablo">Lyft launching cross-platform service this week</a>
                  </h4>
                  <p class="card-description">
                    Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                    <a href="#pablo"> Read More </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-header card-header-image">
                  <a href="#pablo">
                    <img class="img img-raised" src="">
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="category text-danger">
                    <i class="material-icons">trending_up</i> Enterprise
                  </h6>
                  <h4 class="card-title">
                    <a href="#pablo">6 insights into the French Fashion landscape</a>
                  </h4>
                  <p class="card-description">
                    Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                    <a href="#pablo"> Read More </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
      <div class="container">
          <nav class="float-left">
              <ul>
                  <li class="title-grey">
                      <a href="pablo">
                          KazouGroup
                      </a>
                  </li>
                  <li class="title-grey">
                      <a href="/about">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="/faqs">
                          Faqs
                      </a>
                  </li>
                  <li class="title-grey">
                      <a href="/orders">
                          Services
                      </a>
                  </li>
                  <li class="title-grey">
                      <a href="/site_plan">
                          Site Plan
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright float-right">
              &copy; made  by
              <a href="pablo" target="_blank">KAZOUGROUP</a> for a better web.
          </div>
      </div>
  </footer>
</body>
    </div>
</template>

<script>

    export default {

        data() {
            return {}
        },

        methods: {
//
        },

        created() {

        }
    }
</script>

<style scoped>

</style>
