<template>
    <div class="chat-section">
        <div id="frame">
            <div id="sidepanel">
                <div id="profile">
                    <div class="wrap">
                        <img id="profile-img" :src="user.avatar" class="online" alt=""/>
                        <p>{{ user.name }}</p>
                        <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                        <div id="status-options">
                            <ul class="chat-style-none">
                                <li id="status-online" class="active"><span class="status-circle"></span>
                                    <p>Online</p></li>
                                <li id="status-away"><span class="status-circle"></span>
                                    <p>Away</p></li>
                                <li id="status-busy"><span class="status-circle"></span>
                                    <p>Busy</p></li>
                                <li id="status-offline"><span class="status-circle"></span>
                                    <p>Offline</p></li>
                            </ul>
                        </div>
                        <div id="expanded">
                            <div class="container">
                                <div class="row">
                                    <div class="text-center">
                                        <p>Member Since {{ user.created_at | formatDate }}</p>
                                    </div>
                                    <div class="text-center">
                                        <p>{{ user.work }}</p>
                                    </div>
                                    <div class="text-center">
                                        <a v-if="user.fblink != null" :href="fcbLink()"
                                           class="btn btn-just-icon btn-link btn-facebook" target="_blank"><i
                                            class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
                                        <a v-if="user.twlink != null" :href="twLink()"
                                           class="btn btn-just-icon btn-link btn-twitter" target="_blank"><i
                                            class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
                                        <a v-if="user.instalink != null" :href="instaLink()"
                                           class="btn btn-just-icon btn-link btn-instagram" target="_blank"><i
                                            class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="search">
                    <label><i class="fa fa-search" aria-hidden="true"></i></label>
                    <input type="text" placeholder="Rechercher ou démarrer une discussion..."/>
                </div>
                <div id="contacts">
                    <ul class="chat-style-none">
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status online"></span>
                                <img src="http://emilcarlsson.se/assets/louislitt.png" alt=""/>
                                <div class="meta">
                                    <p class="name">Louis Litt <span class="contact-message-last">10.52</span></p>
                                    <p class="preview">You just got LITT up, Mike.</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status busy"></span>
                                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                                <div class="meta">
                                    <p class="name">Harvey Specter <span class="contact-message-last">Hier</span></p>
                                    <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you
                                        call their bluff. Or, you do any one of a hundred and forty six other
                                        things.</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status away"></span>
                                <img src="http://emilcarlsson.se/assets/rachelzane.png" alt=""/>
                                <div class="meta">
                                    <p class="name">Rachel Zane <span class="contact-message-last">Vendredi</span></p>
                                    <p class="preview">I was thinking that we could have chicken tonight, sounds
                                        good?</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status online"></span>
                                <img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt=""/>
                                <div class="meta">
                                    <p class="name">Donna Paulsen <span class="contact-message-last">11/08/2019</span>
                                    </p>
                                    <p class="preview">Mike, I know everything! I'm Donna..</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status busy"></span>
                                <img src="http://emilcarlsson.se/assets/jessicapearson.png" alt=""/>
                                <div class="meta">
                                    <p class="name">Jessica Pearson <span class="contact-message-last">Jeudi</span></p>
                                    <p class="preview">Have you finished the draft on the Hinsenburg deal?</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status offline"></span>
                                <img src="http://emilcarlsson.se/assets/haroldgunderson.png" alt=""/>
                                <div class="meta">
                                    <p class="name">Harold Gunderson <span class="contact-message-last">08.05</span></p>
                                    <p class="preview">Thanks Mike! :)</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status offline"></span>
                                <img src="http://emilcarlsson.se/assets/danielhardman.png" alt=""/>
                                <div class="meta">
                                    <p class="name">Daniel Hardman <span class="contact-message-last">10.52</span></p>
                                    <p class="preview">We'll meet again, Mike. Tell Jessica I said 'Hi'.</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status busy"></span>
                                <img src="http://emilcarlsson.se/assets/katrinabennett.png" alt=""/>
                                <div class="meta">
                                    <p class="name">Katrina Bennett <span class="contact-message-last">22.02</span></p>
                                    <p class="preview">I've sent you the files for the Garrett trial.</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status offline"></span>
                                <img src="http://emilcarlsson.se/assets/charlesforstman.png" alt=""/>
                                <div class="meta">
                                    <p class="name">Charles Forstman <span class="contact-message-last">Lundi</span></p>
                                    <p class="preview">Mike, this isn't over.</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status offline"></span>
                                <img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt=""/>
                                <div class="meta">
                                    <p class="name">Jonathan Sidwell <span class="contact-message-last">Dimanche</span>
                                    </p>
                                    <p class="preview"><span>You:</span> That's bullshit. This deal is solid.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="bottom-bar">
                    <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                        <span>Ajouter un contact</span></button>
                    <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                        <span>Paramétres</span>
                    </button>
                </div>
            </div>
            <div class="content">
                <div class="contact-profile">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                    <p>Harvey Specter</p>
                    <div class="social-media">
                        <a href="#" class="btn btn-just-icon btn-link btn-facebook" target="_blank"><i
                            class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" class="btn btn-just-icon btn-link btn-twitter" target="_blank"><i
                            class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="btn btn-just-icon btn-link btn-instagram" target="_blank"><i
                            class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="messages">
                    <ul>
                        <li class="sent">
                            <div>
                                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                                <p>How the hell am I supposed to get a jury to believe you when I am not even sure that
                                    I do?!</p>
                            </div>
                            <span>10:25, Today</span>
                        </li>
                        <li class="replies">
                            <div>
                                <img :src="user.avatar" alt=""/>
                                <p>When you're backed against the wall, break the god damn thing down.</p>
                            </div>
                            <span>10:25, Aujourd'hui</span>
                        </li>
                        <li class="replies">
                            <div>
                                <img :src="user.avatar" alt=""/>
                                <p>Excuses don't win championships.</p>
                            </div>
                            <span>08:05, Vendredi</span>
                        </li>
                        <li class="sent">
                            <div>
                                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                                <p>Oh yeah, did Michael Jordan tell you that?</p>
                            </div>
                            <span>08:41, Vendredi</span>
                        </li>
                        <li class="replies">
                            <div>
                                <img :src="user.avatar" alt=""/>
                                <p>No, I told him that.</p>
                            </div>
                            <span>12:55, Il ya une semaine</span>
                        </li>
                        <li class="replies">
                            <div>
                                <img :src="user.avatar" alt=""/>
                                <p>What are your choices when someone puts a gun to your head?</p>
                            </div>
                            <span>12:55, 12/08/2019</span>
                        </li>
                        <li class="sent">
                            <div>
                                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                                <p>What are you talking about? You do what they say or they shoot you.</p>
                            </div>
                            <span>08:41, Il ya une semaine</span>
                        </li>
                        <li class="replies">
                            <div>
                                <img :src="user.avatar" alt=""/>
                                <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you
                                    do any one of a hundred and forty six other things.</p>
                            </div>
                            <span>08:41, Il ya un mois</span>
                        </li>
                    </ul>
                </div>

                <div class="message-input">
                    <div class="wrap">
                        <input type="text" placeholder="Taper un message ..."/>
                        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                        <button class="submit">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import 'vue-loading-overlay/dist/vue-loading.css';
    import Loaded from "../inc/animation/Loaded";

    export default {
        components: {
            Loaded
        },
        data() {
            return {
                loaded: false,
                user: {},
            }
        },
        methods: {
            fcbLink() {
                return 'https://facebook.com/' + this.user.fblink;
            },
            twLink() {
                return 'https://twitter.com/' + this.user.twlink;
            },
            instaLink() {
                return 'https://instagram.com/' + this.user.instalink;
            },
            loadItems() {
                //Start Progress bar
                this.$Progress.start();
                // Da sistemare dopo
                setTimeout(function () {
                    this.loaded = true;
                }, 2000);
                axios.get("/admin/api/account/profile").then(response => {
                    this.user = response.data.data
                });
                //End Progres bar
                this.$Progress.finish();
            }
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
        }
    }
</script>

<style scoped>

</style>
