<template>
    <div class="col-md-6 ml-auto">
        <vue-progress-bar/>
        <br>
        <br>
        <div class="card card-contact">
            <form
                id="RegisterValidation"
                accept-charset="UTF-8"
                @keydown="form.onKeydown($event)"
                method="POST"
                @submit.prevent="createItem()"
                enctype="multipart/form-data">
                <div class="card-header card-header-raised card-header-warning text-center">
                    <h4 class="card-title">
                        <i class="material-icons">call</i>
                        <h4 class="card-title">
                            <b>Contact Us</b>
                        </h4>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="submit text-center"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="bmd-label-floating">Prenom *</label>
                                <input
                                    v-model="form.lastname"
                                    type="text"
                                    name="lastname"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('lastname') }"
                                    required>
                                <has-error :form="form" field="lastname"></has-error>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="bmd-label-floating">Nom *</label>
                                <input
                                    v-model="form.name"
                                    type="text"
                                    name="name"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('name') }"
                                    required>
                                <has-error :form="form" field="name"></has-error>
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group label-floating is-empty">
                                <label class="bmd-label-floating">youremail@example.com *</label>
                                <input
                                    v-model="form.email"
                                    type="email"
                                    name="email"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('email') }"
                                    required>
                                <has-error :form="form" field="email"></has-error>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating is-empty">
                                <label class="bmd-label-floating">Phone Number</label>
                                <input
                                    v-model="form.phone"
                                    type="number"
                                    name="phone"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('phone') }">
                                <has-error :form="form" field="phone"></has-error>
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating is-empty">
                                <label class="bmd-label-floating">Objet *</label>
                                <input
                                    v-model="form.subject"
                                    type="text"
                                    name="subject"
                                    class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('subject') }"
                                    required>
                                <has-error :form="form" field="subject"></has-error>
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group label-floating is-empty">
                        <label class="bmd-label-floating">Your Message *</label>
                        <textarea
                            v-model="form.msg"
                            rows="8"
                            name="msg"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('msg') }"
                            style="height:200px;"
                            required
                            autofocus>
                        </textarea>
                        <has-error :form="form" field="msg"></has-error>
                        <span class="material-input"></span>
                    </div>
                    <br>
                    <div class="submit text-center">
                        <vue-recaptcha
                            ref="recaptcha"
                            @verify="onVerify"
                            sitekey="6LdGsroUAAAAACNi1bHcf6UvE_MJhFc6eD8i5xlA"></vue-recaptcha>
                            <ul class="alert alert-danger" v-if="errors.length != 0">
                                <li v-for="error in errors">
                                    {{ error[0] }}
                                </li>
                            </ul>
                        <button id="button_hover" :disabled="form.busy" class="btn btn-warning btn-raised btn-round"
                                type="submit">
                            <span class="btn-label">
                              <i class="material-icons">drafts</i>
                            </span>
                            <b class="title_hover">Send Message</b>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import VueRecaptcha from "vue-recaptcha";
    export default {
        components: { VueRecaptcha },
        data() {
            return {
                errors: [],
                form: new Form({
                    id: "",
                    name: "",
                    lastname: "",
                    email: "",
                    phone: "",
                    subject: "",
                    msg: ""
                })
            };
        },
        methods: {
            onVerify(response) {
                this.form.recaptcha = response;
            },
            createItem() {
                //Start Progress bar
                this.$Progress.start();
                this.form.post("contact-us/save").then(() => {
                    this.errors = [];
                    this.$refs.recaptcha.reset();
                        /** Début de l'alert **/
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp',
                                align: 'center'
                            },
                        });
                        setTimeout(function () {
                            notify.update({
                                'type': 'success',
                                'message': '<strong>Thanks for your message...</strong>',
                                'progress': 100
                            });
                        }, 2000);
                        /** Fin de l'alert**/

                        //End Progress bar
                        this.$Progress.finish();
                        this.form.reset();
                    })
                    .catch(error => {
                        if(error) {
                            this.errors = error.response.data.errors;
                        }
                        this.$Progress.fail();
                    });
            }
        },
        created() {
            //Start Progress bar
            this.$Progress.start();
            //End Progress bar
            this.$Progress.finish();
        }
    };
</script>

<style scoped>

</style>
