<template>
  <div>
    <div class="subscribe-line subscribe-line-image" data-parallax="true" style="background-image: url(&apos;/assets/img/about/1538132025.fond.jpg&apos;);">
      <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title">Envie des bonnes affaires?</h1>
                <h4 class="description">Inscrivez-vous gratuitement à notre newletters et soyez contacter par mail en premiers chaque week-end pour les offres de prèmier choix.</h4>
            </div>
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card card-raised card-form-horizontal">
                    <div class="card-body">
                        <form id="form-newsletter-subscribe" method="post" action=""
                            @submit.prevent="createItem()" accept-charset="UTF-8">
                            <div class="row">
                                <div id="fooDiv">
                                    <label for="foo">Ce champ m'evite les spam dans le server</label>
                                    <input type="text" name="foo" id="foo">
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input v-model="form.user_email" type="email" name="user_email"
                                            class="form-control" :class="{ 'is-invalid': form.errors.has('user_email') }"
                                            placeholder=" Email ..." required="required">
                                        <has-error :form="form" field="user_email"></has-error>
                                    </div>
                                </div>
                            <div class="col-md-4">
                              <button id="button_hover" type="submit" class="btn btn-warning btn-block btn-round" title="View">
                                <i class="material-icons">done_all</i>
                                <b class="title_hover">Subscribe</b>
                              </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      form: new Form({
        id: "",
        user_email: ""
      })
    };
  },

  methods: {
    createItem() {
      //Start Progress bar
      this.$Progress.start();

      this.form
        .post("newsletter")
        .then(() => {
          /** Dèbut de l'alert **/
            var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                allow_dismiss: false,
                showProgressbar: true,
                animate: {
                    enter: 'animated bounceInDown',
                    exit: 'animated bounceOutUp',
                    align: 'center'
                },
            });
            setTimeout(function () {
                notify.update({
                    'type': 'success',
                    'message': '<strong>Thanks for your subscribing...</strong>',
                    'progress': 100
                });
            }, 2000);
          /** Fin de l'alert **/

          //End Progress bar
          this.$Progress.finish();

          this.form.reset();
        }).catch(error => {
          //Failled message
          this.$Progress.fail();
          Swal.fire({
            type: "error",
            title: "Your email is required",
            buttonsStyling: false,
            showConfirmButton: true,
            confirmButtonClass: "btn btn-success"
          });
        });

      //console.log('mise a jour des donnees')
    }
  },

  created() {
    //Start Progress bar
    this.$Progress.start();

    //End Progress bar
    this.$Progress.finish();
  }
};
</script>

<style scoped>
</style>
