<template>
    <div>
        <div class="ecommerce-page sidebar-collapse">
            <div class="page-header header-filter header-small" data-parallax="true"
                 style="background-image: url(&apos; &apos;);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto text-center">
                            <h1 class="title">Our Business Plan</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main main-raised">
                <div class="section">
                    <div class="container">
                        <div class="col-md-12 ml-auto mr-auto">
                            <h2 class="kazoucoin-title title-red text-center">Plan du Site</h2>
                        </div>
                        <div class="col-md-12 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="info">
                                        <div class="description text-center">
                                            <h3 class="kazoucoin-subtitle title-grey">Services</h3>
                                            <div class="siteplan">
                                                <a href="/orders" class="description">Trouvez un article</a>
                                            </div>
                                            <div class="siteplan">
                                                <a href="/evenements" class="description">Trouvez un évènement</a>
                                            </div>
                                            <div class="siteplan">
                                                <a href="/register" class="description">Inscription</a>
                                            </div>
                                            <div class="siteplan">
                                                <a href="/" class="description">Acceder à Kazoucoin</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="info">
                                        <div class="description text-center">
                                            <h3 class="kazoucoin-subtitle title-grey">À Propos</h3>
                                            <div class="siteplan">
                                                <a href="/blog" class="description">Blog</a>
                                            </div>
                                            <div class="siteplan">
                                                <a href="/terms_conditions" class="description">Conditions générales
                                                    d’utilisation
                                                </a>
                                            </div>
                                            <div class="siteplan">
                                                <router-link to="" class="description">Conditions générales de vente
                                                </router-link>
                                            </div>
                                            <div class="siteplan">
                                                <a href="/our_concept" class="description">Politique de confidentialité
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="info">
                                        <div class="description text-center">
                                            <h3 class="kazoucoin-subtitle title-grey">Restez en contact</h3>
                                            <div class="siteplan">
                                                <router-link to="" class="description">LinkedIn</router-link>
                                            </div>
                                            <div class="siteplan">
                                                <a href="https://www.facebook.com/Kazoucoin-468953957209740/"
                                                   target="_blank" class="description">Facebook</a>
                                            </div>
                                            <div class="siteplan">
                                                <a href="https://www.instagram.com/kazoucoin/" target="_blank"
                                                   class="description">Instagram</a>
                                            </div>
                                            <div class="siteplan">
                                                <router-link to="" class="description">YouTube
                                                </router-link>
                                            </div>
                                            <div class="siteplan">
                                                <a href="/contact-us" class="description">Ecrivez-nous
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            // Insert deuxButtons templates with vuejs
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {

        data() {
            return {}
        },

        methods: {
//
        },

        created() {

        }
    }
</script>

<style scoped>
    .kazoucoin-subtitle {
        text-transform: uppercase;
        font-weight: 600;
    }
</style>
