<template>
    <div>
        <form id="RegisterValidation"
          accept-charset="UTF-8"
          @keydown="form.onKeydown($event)"
          method="POST"
          @submit.prevent="createItem()"
          enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail img-circle img-raised">
                        <img class="img" :src="getImagesave()" :alt="user.name" width="100" height="100">
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">face</i>
                                </span>
                                </div>
                                <input v-model="user.name" type="text" name="fullname" disabled
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('fullname') }" placeholder="Full Name">
                                <has-error :form="form" field="fullname"></has-error>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">face</i>
                                </span>
                                </div>
                                <input type="text" class="form-control" value="{{ Auth::user()->first_name }}"
                                       placeholder="With Material Icons" disabled>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">email</i>
                        </span>
                        </div>
                        <input type="text" class="form-control" value="{{ Auth::user()->email }}"
                               placeholder="With Material Icons" disabled>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row">
            <br>
            <textarea class="form-control" placeholder="Write some nice stuff or nothing..." rows="6"></textarea>
            <br>
            <div class="media-footer text-center">
                <a id="button_hover" href="#pablo" class="btn btn-success btn-round">
                    <i class="material-icons">done</i>
                    <b class="title_hover">Send</b>
                </a>
            </div>
        </div>
    </form>
    </div>
</template>

<script>
    //import VueRecaptcha from "vue-recaptcha";
    export default {
        //components: { VueRecaptcha },
        data() {
            return {
                loaded: false,
                myRate: 0,
                user:[],
                form: new Form({
                    ip: '',
                    body: '',
                    user_id: '',
                    role: '',
                    stars_evaluation: '',
                    photo: '',
                    slug: ''
                })
            };
        },
        methods: {
            getImagesave(){
                let photo = (this.user.avatar.length > 200) ? this.user.avatar : this.user.avatar;
                return photo;
            },
            createItem() {
                //Start Progress bar
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.post("/admin/testimonials")
                    .then(() => {

                        //Insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Testimonial Created Successfully.</strong>', 'progress': 75});
                        }, 2000);
                        // Ici on ferme le modal
                        setTimeout(() => this.$router.push({ name: 'testimonials.index' }));

                        //End Progress bar
                        this.$Progress.finish();
                    }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                })
            }
        },
        created() {
            //Start Progress bar
            this.$Progress.start();
            axios.get("/admin/api/account/user").then(response => {this.user = response.data.data});
            //End Progress bar
            this.$Progress.finish();
        }
    };
</script>

<style scoped>

</style>
