<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 expo">
                                        <div class="card">
                                            <div :class="getColorCardUser()" style="margin-top: -5px;">
                                                <div class="card-icon">
                                                    <i class="material-icons">home</i>
                                                </div>
                                                <br>
                                                <h4 class="card-title" style="margin-top: 0px;"><b>Create</b> -
                                                    <small class="category">New Slide Home</small>
                                                </h4>
                                            </div>
                                            <br>
                                            <div class="card-body">
                                                <form id="RegisterValidation" @keydown="form.onKeydown($event)" @submit.prevent="createItem()" role="form"
                                                      method="POST" action="" accept-charset="UTF-8">
                                                    <div class="col-md-8 ml-auto mr-auto">
                                                        <div class="profile text-center">
                                                            <br>
                                                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="https://www.kazoucoin.com/assets/img/photo.jpg" alt="...">
                                                                </div>
                                                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                                <div>
                                                                        <span class="btn btn-raised btn-round btn-warning btn-file">
                                                                            <span class="fileinput-new" style="cursor: pointer">
                                                                                <i class="material-icons">insert_photo</i>
                                                                                <b>Add Slide</b>
                                                                            </span>
                                                                            <span class="fileinput-exists" style="cursor: pointer">
                                                                                <i class="material-icons">photo_library</i>
                                                                                <b>Change</b>
                                                                            </span>
                                                                            <input id="photo" @change="updateImage" type="file" class="form-control" name="photo">
                                                                        </span>
                                                                    <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                                                        <i class="material-icons">cancel</i>
                                                                        <b>Remove</b>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <has-error :form="form" field="photo"></has-error>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating"></label>
                                                                <input v-model="form.slide_title" type="text" name="slide_title"
                                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('slide_title') }" placeholder="Slide Title">
                                                                <has-error :form="form" field="slide_title"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating"></label>
                                                                <input v-model="form.slide_btn_icon" type="text" name="slide_btn_icon"
                                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('slide_btn_icon') }" placeholder="Material Icon">
                                                                <has-error :form="form" field="slide_btn_icon"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating"></label>
                                                                <input v-model="form.slide_btn_title" type="text" name="slide_btn_title"
                                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('slide_btn_title') }" placeholder="Button Title">
                                                                <has-error :form="form" field="slide_btn_title"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <select name="slide_btn_link" v-model="form.slide_btn_link" id="slide_btn_link" class="form-control"
                                                                        :class="{ 'is-invalid': form.errors.has('slide_btn_link') }">
                                                                    <option value="" disabled>Choose Link Button</option>
                                                                    <option v-for="link in links" :key="link.id" :value="link.link">{{link.name}}</option>
                                                                </select>
                                                                <has-error :form="form" field="slide_btn_link"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <select name="slide_btn_color" v-model="form.slide_btn_color" id="slide_btn_color" class="form-control"
                                                                        :class="{ 'is-invalid': form.errors.has('slide_btn_color') }">
                                                                    <option value="" disabled>Choose Button Color</option>
                                                                    <option v-for="color in colors" :key="color.id" :value="color.slug">{{color.color_name}}</option>
                                                                    <option value="rose">Rose</option>
                                                                    <option value="dark">Dark</option>
                                                                    <option value="facebook">Facebook</option>
                                                                    <option value="twitter">Twitter</option>
                                                                    <option value="outline-danger">Outline-danger</option>
                                                                    <option value="outline-warning">Outline-warning</option>
                                                                    <option value="outline-info">Outline-info</option>
                                                                    <option value="instagram">Instagram</option>
                                                                    <option value="github">Github</option>
                                                                    <option value="google">Google</option>
                                                                </select>
                                                                <has-error :form="form" field="slide_btn_color"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <select name="slide_btn_position" v-model="form.slide_btn_position" id="slide_btn_position" class="form-control"
                                                                        :class="{ 'is-invalid': form.errors.has('slide_btn_position') }">
                                                                    <option value="" disabled>Choose Button Style</option>
                                                                    <option value="left">Left</option>
                                                                    <option value="center">Center</option>
                                                                    <option value="right">Right</option>
                                                                </select>
                                                                <has-error :form="form" field="slide_btn_position"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <select name="slide_btn_style" v-model="form.slide_btn_style" id="slide_btn_style" class="form-control"
                                                                        :class="{ 'is-invalid': form.errors.has('slide_btn_style') }">
                                                                    <option value="" disabled>Choose Button Form</option>
                                                                    <option value="link">Link</option>
                                                                    <option value="lg">Large</option>
                                                                    <option value="round">Round</option>
                                                                    <option value="null">Standard</option>
                                                                </select>
                                                                <has-error :form="form" field="slide_btn_style"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <select name="slide_btn_style1" v-model="form.slide_btn_style1" id="slide_btn_style1" class="form-control"
                                                                        :class="{ 'is-invalid': form.errors.has('slide_btn_style1') }">
                                                                    <option value="" disabled>Choose Button Form (Alternatif)</option>
                                                                    <option value="link">Link</option>
                                                                    <option value="lg">Large</option>
                                                                    <option value="round">Round</option>
                                                                    <option value="null">Standard</option>
                                                                </select>
                                                                <has-error :form="form" field="slide_btn_style1"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br><br>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating"></label>
                                                                <input v-model="form.slide_fblink" type="text" name="slide_fblink"
                                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('slide_fblink') }" placeholder="Facebook Link Slide">
                                                                <has-error :form="form" field="slide_fblink"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating"></label>
                                                                <input v-model="form.slide_instalink" type="text" name="slide_instalink"
                                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('slide_instalink') }" placeholder="Instagram Link Slide">
                                                                <has-error :form="form" field="slide_instalink"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating"></label>
                                                                <input v-model="form.slide_twlink" type="text" name="slide_twlink"
                                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('slide_twlink') }" placeholder="Twitter Link Slide">
                                                                <has-error :form="form" field="slide_twlink"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating"></label>
                                                                <input v-model="form.slide_youtubelink" type="text" name="slide_youtubelink"
                                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('slide_youtubelink') }" placeholder="Youtube Link Slide">
                                                                <has-error :form="form" field="slide_youtubelink"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <select name="slide_btn_style_fblink" v-model="form.slide_btn_style_fblink" id="slide_btn_position" class="form-control" :class="{ 'is-invalid': form.errors.has('slide_btn_style_fblink') }">
                                                                    <option value="" disabled>Choose Facebook Button Style</option>
                                                                    <option value="link">Link</option>
                                                                    <option value="lg">Large</option>
                                                                    <option value="round">Round</option>
                                                                    <option value="null">Standard</option>
                                                                </select>
                                                                <has-error :form="form" field="slide_btn_style_fblink"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <select name="slide_btn_style_instalink" v-model="form.slide_btn_style_instalink" id="slide_btn_position" class="form-control" :class="{ 'is-invalid': form.errors.has('slide_btn_style_instalink') }">
                                                                    <option value="" disabled>Choose Instagram Button Style</option>
                                                                    <option value="link">Link</option>
                                                                    <option value="lg">Large</option>
                                                                    <option value="round">Round</option>
                                                                    <option value="null">Standard</option>
                                                                </select>
                                                                <has-error :form="form" field="slide_btn_style_instalink"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <select name="slide_btn_style_twlink" v-model="form.slide_btn_style_twlink" id="slide_btn_style_twlink" class="form-control" :class="{ 'is-invalid': form.errors.has('slide_btn_style_twlink') }">
                                                                    <option value="" disabled>Choose Twitter Button Style</option>
                                                                    <option value="link">Link</option>
                                                                    <option value="lg">Large</option>
                                                                    <option value="round">Round</option>
                                                                    <option value="null">Standard</option>
                                                                </select>
                                                                <has-error :form="form" field="slide_btn_style_twlink"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <select name="slide_btn_style_youtubelink" v-model="form.slide_btn_style_youtubelink" id="slide_btn_style_youtubelink" class="form-control"
                                                                        :class="{ 'is-invalid': form.errors.has('slide_btn_style_youtubelink') }">
                                                                    <option value="" disabled>Choose Youtube Button Style</option>
                                                                    <option value="link">Link</option>
                                                                    <option value="lg">Large</option>
                                                                    <option value="round">Round</option>
                                                                    <option value="null">Standard</option>
                                                                </select>
                                                                <has-error :form="form" field="slide_btn_style_youtubelink"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br><br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Description <span class="title-red">*</span></label>
                                                                <vue-editor v-model="form.body" :editorToolbar="customToolbar"></vue-editor>
                                                                <div class="form-check">
                                                                    <label class="form-check-label pull-right">
                                                                        You can use the
                                                                        <a href="https://help.github.com/articles/getting-started-with-writing-and-formatting-on-github/" class="text-danger" target="_blank">
                                                                            Markdown here
                                                                        </a>
                                                                        <span class="form-check-sign"></span>
                                                                    </label>
                                                                </div>
                                                                <has-error :form="form" field="body"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="submit">
                                                        <div class="text-center">
                                                            <div class="form-check mr-auto">
                                                                <label class="form-check-label" style="color:red; font-weight: bold;">
                                                                    <input type="checkbox" class="form-check-input" id="slide_btn_status" name="slide_btn_status" v-model="form.slide_btn_status"> Show your button
                                                                        <span class="form-check-sign">
                                                                            <span class="check"></span>
                                                                        </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <hr>
                                                    <div class="submit">
                                                        <div class="text-center">
                                                            <router-link :to="{ name: 'slide_home.index' }" class="btn btn-danger btn-round" id="button_hover">
                                                                <i class="material-icons">chevron_left</i>
                                                                <b class="title_hover">Back</b>
                                                            </router-link>
                                                            <button id="button_hover" :disabled="form.busy" type="submit" class="btn btn-success btn-raised btn-round">
                                                                <i class="material-icons">save_alt</i>
                                                                <b class="title_hover">Save</b>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
            <FooterAdmin/>
        </div>
    </div>
</template>

<script>
    import {VueEditor} from 'vue2-editor'
    import NavAdmin from "../../../inc/admin/NavAdmin";
    import TopNav from "../../../inc/admin/TopNav";
    import FooterAdmin from "../../../inc/admin/FooterAdmin";
    import StatusAdmin from "../../../inc/admin/StatusAdmin";
    export default {
        components: {
            StatusAdmin,
            FooterAdmin,
            TopNav,
            NavAdmin,
            VueEditor
        },
        data() {
        return {
            colors: {},
            links: {},
            form: new Form({
                id: '',
                ip: '',
                body: '',
                slide_title: '',
                slide_subtitle: '',
                slide_btn_status: true,
                slide_btn_link: '',
                slide_btn_icon: '',
                slide_btn_title: '',
                slide_btn_style: '',
                slide_btn_style1: '',
                slide_btn_color: '',
                slide_fblink: '',
                slide_btn_style_fblink: '',
                slide_twlink: '',
                slide_btn_style_twlink: '',
                slide_instalink: '',
                slide_btn_style_instalink: '',
                slide_youtubelink: '',
                slide_btn_style_youtubelink: '',
                slide_btn_position: '',
                photo: '',
                image: '',
                user_id: '',
                status: '',
                slug: '',
            }),
            customToolbar: [
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                [{ 'font': [] }],
                //[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                //[{ 'size': ['small', false, 'large', 'huge'] }],
                ['bold', 'italic', 'underline', 'strike'],
                [{ 'align': [] }],
                //[{ 'list': 'ordered'}, { 'list': 'bullet' }],
                ['blockquote', 'code-block'],
                //['blockquote', 'code-block'],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                //[{ 'script': 'sub'}, { 'script': 'super' }],
                //[{ 'indent': '-1'}, { 'indent': '+1' }],
                [{ 'color': [] }, { 'background': [] }],
                //['link', 'image', 'video', 'formula'],
                //[{ 'direction': 'rtl' }],
                ['clean'],
                //['emoji'],
            ]
        }
    },
    methods: {
        getColorCardUser(){
            let colorCard = 'card-header card-header-icon card-header-' + this.user.color_name;
            return colorCard;
        },
        getColorHeaderUser(){
            let colorHeader = 'card-header card-header-' + this.user.color_name;
            return colorHeader;
        },
        updateImage(e){
            //console.log('uploadert')
            let file = e.target.files[0];
            console.log(file);
            let reader = new FileReader();
            if (file['size'] < 6000775){
                reader.onloadend = (file) => {
                    //console.log('RESULT',reader.result)
                    this.form.photo = reader.result
                };
                reader.readAsDataURL(file);
            }else{
                this.$Progress.fail();
                Swal.fire({
                    type: 'error',
                    title: 'Your image is very big',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                });
            }
        },
        loadSlides() {
            //Start Progress bar
            this.$Progress.start();
            const urlColors = "/admin/api/colors";
            axios.get(urlColors).then(({data}) => (this.colors = data.data));
            const urlLinks = "/admin/api/links";
            axios.get(urlLinks).then(({data}) => (this.links = data.data));
            //End Progress bar
            this.$Progress.finish();
        },
        createItem() {
            //Start Progress bar
            this.$Progress.start();
            // Submit the form via a POST request
            this.form.post("/admin/slide_home")
                    .then(() => {
                    //Event
                    Fire.$emit('AfterCreate');

                    //Ici c'est l'insertion de l'alert !
                    var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                        allow_dismiss: false,
                        showProgressbar: true,
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        },
                    });
                    setTimeout(function() {
                        notify.update({'type': 'success', 'message': '<strong>Slide Home Created Successfully.</strong>', 'progress': 75});
                    }, 2000);
                    setTimeout(() => this.$router.push({ name: 'slide_home.index' }));

                    //End Progress bar
                    this.$Progress.finish();
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                    type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                })
            }
    },
    created() {
            this.loadSlides();
            Fire.$on('AfterCreate', () => {
            this.loadSlides();
        });
    }
}
</script>

<style scoped>

</style>