<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 expo">
                                        <div class="card">
                                            <div :class="getColorCardUser()" style="margin-top: -5px;">
                                                <div class="card-icon">
                                                    <i class="material-icons">info</i>
                                                </div>
                                                <br>
                                                <h4 class="card-title" style="margin-top: 0px;"><b>Edit</b> -
                                                    <small class="category">New Information Site</small>
                                                </h4>
                                            </div>
                                            <div class="card-body">
                                                <form id="RegisterValidation" @submit.prevent="updateItem()" role="form"
                                                      method="POST" action="" accept-charset="UTF-8" @keydown="form.onKeydown($event)">
                                                        <br>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <div class="form-group">
                                                                        <label class="bmd-label-floating"></label>
                                                                        <input v-model="form.title" type="text" name="title" placeholder="Info Title" class="form-control" :class="{ 'is-invalid': form.errors.has('title') }" required>
                                                                        <has-error :form="form" field="title"></has-error>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label class="bmd-label-floating"></label>
                                                                        <input v-model="form.icon" type="text" name="icon" placeholder="Materialize Icon" class="form-control" :class="{ 'is-invalid': form.errors.has('icon') }" required>
                                                                        <has-error :form="form" field="icon"></has-error>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="color_name"></label>
                                                                        <select name="color_name" v-model="form.color_name" id="color_name" class="form-control" :class="{ 'is-invalid': form.errors.has('color_name') }">
                                                                            <option value="" disabled>Choose your Color</option>
                                                                            <option v-for="color in colors" :key="color.id" :value="color.slug">{{color.color_name}}</option>
                                                                        </select>
                                                                        <has-error :form="form" field="color_name"></has-error>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <!-- User Data -->
                                                        <div class="col-md-12">
                                                            <div class="card card-nav-tabs">
                                                                <div class="card-body">
                                                                    <div class="tab-content">
                                                                        <div class="tab-pane active" id="profile">
                                                                            <div class="form-group">
                                                                                <label class="bmd-label-floating">Description <span class="title-red">*</span></label>
                                                                                <vue-editor v-model="form.body" :editorToolbar="customToolbar"></vue-editor>
                                                                                  <div class="form-check">
                                                                                     <label class="form-check-label pull-right">
                                                                                                  Created by
                                                                                      <router-link  :to="{ path: `/admin/profile/${form.user.username}` }" class="text-danger">
                                                                                              {{ form.user.name }}
                                                                                       </router-link>
                                                                                   </label>
                                                                                </div>
                                                                                <has-error :form="form" field="body"></has-error>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="submit">
                                                            <div class="text-center">
                                                                <router-link  :to="{ name: 'informations.index' }" id="button_hover" class="btn btn-danger btn-raised btn-round" data-toggle="tab">
                                                                    <i class="material-icons">chevron_left</i>
                                                                    <b class="title_hover">Back</b>
                                                                </router-link>
                                                                <button id="button_hover" :disabled="form.busy" type="submit" class="btn btn-success btn-raised btn-round">
                                                                    <i class="material-icons">save_alt</i>
                                                                    <b class="title_hover">Update</b>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <FooterAdmin/>
        </div>
    </div>
</template>

<script>
    import api from '../../../../api/mixins/collections';
    import NavAdmin from "../../../inc/admin/NavAdmin";
    import TopNav from "../../../inc/admin/TopNav";
    import FooterAdmin from "../../../inc/admin/FooterAdmin";
    import StatusAdmin from "../../../inc/admin/StatusAdmin";
    import Loaded from "../../../inc/animation/Loaded";

    export default {
        components: { Loaded, StatusAdmin, FooterAdmin, TopNav, NavAdmin },
         data() {
            return {
                loaded: false,
                colors:[],
                user:'',
                form: new Form({
                    id: '',
                    icon: '',
                    user_id: '',
                    color_name: '',
                    status: '',
                    slug: '',
                    title: '',
                    body: '',
                    image: '',
                    user: ''
                }),
                customToolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'font': [] }],
                    //[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                    //[{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ 'align': [] }],
                    //[{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote', 'code-block'],
                    //['blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                    //[{ 'script': 'sub'}, { 'script': 'super' }],
                    //[{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{ 'color': [] }, { 'background': [] }],
                    ['link'],
                    //['link', 'image', 'video'],
                    //[{ 'direction': 'rtl' }],
                    ['clean'],
                    //['emoji'],
                ]
            }
        },
        methods: {
            getColorCardUser(){
                return 'card-header card-header-icon card-header-' + this.user.color_name;
			},
            getColorHeaderUser(){
                return 'card-header card-header-' + this.user.color_name;
			},
            getMaterialIcon(color){
                return 'material-icons text-' + color;
            },
            updateItem() {
                //Start Progress bar
                this.$Progress.start();
                this.form.put('/admin/informations/' + this.form.id)
                    .then(() => {

                        /** Debut de l'alert **/
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true
                        });
                        setTimeout(function() {
                          notify.update({'type': 'success', 'message': '<strong>Information updated successfully.</strong>', 'progress': 75});
                        }, 2000);
                        /** Fin alert **/
                         setTimeout(() => this.$router.push({ name: 'informations.index' }));

                        //End Progress bar
                        this.$Progress.finish();
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooop! Something wrong. Try later", {
                        type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                    })
            },
        },
        created() {
             //Start Progress bar
            this.$Progress.start();
            api.informationID(this.$route.params.id).then(({data}) => this.form.fill(data.data));
            axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
            const urlColors = "/admin/api/colors";
            axios.get(urlColors).then(({data}) => (this.colors = data.data));
            //End Progress bar
            this.$Progress.finish();
        }
    }
</script>

<style scoped>

</style>
