<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 expo">
                                        <div class="card">
                                            <div :class="getColorCardUser()" style="margin-top: -5px;">
                                                <div class="card-icon">
                                                    <i class="material-icons">info</i>
                                                </div>
                                                <br>
                                                <h4 class="card-title" style="margin-top: 0px;"><b>Create</b> -
                                                    <small class="category">New Information Site</small>
                                                </h4>
                                            </div>
                                            <div class="card-body">
                                                <form id="RegisterValidation" @submit.prevent="createItem()" role="form"
                                                      method="POST" action="" accept-charset="UTF-8" @keydown="form.onKeydown($event)">
                                                        <br>
                                                        <div class="container">
                                                            <div class="row">
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <label class="bmd-label-floating"></label>
                                                                    <input v-model="form.title" type="text" name="title" placeholder="Info Title" class="form-control" :class="{ 'is-invalid': form.errors.has('title') }" required>
                                                                    <has-error :form="form" field="title"></has-error>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="bmd-label-floating"></label>
                                                                    <input v-model="form.icon" type="text" name="icon" placeholder="Materialize Icon" class="form-control" :class="{ 'is-invalid': form.errors.has('icon') }" required>
                                                                    <has-error :form="form" field="icon"></has-error>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="color_name"></label>
                                                                    <select name="color_name" v-model="form.color_name" id="color_name" class="form-control" :class="{ 'is-invalid': form.errors.has('color_name') }">
                                                                        <option value="" disabled>Choose your Color</option>
                                                                        <option v-for="color in colors" :key="color.id" :value="color.slug">{{color.color_name}}</option>
                                                                    </select>
                                                                    <has-error :form="form" field="color_name"></has-error>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <!-- User Data -->
                                                        <br>
                                                        <div class="col-md-12">
                                                        <div class="card card-nav-tabs">
                                                            <div class="card-body">
                                                                <div class="tab-content">
                                                                    <div class="tab-pane active" id="profile">
                                                                        <div class="form-group">
                                                                            <label class="bmd-label-floating">Description <span class="title-red">*</span></label>
                                                                            <vue-editor v-model="form.body" :editorToolbar="customToolbar"></vue-editor>
                                                                            <div class="form-check">
                                                                                <label class="form-check-label pull-right">
                                                                                    You can use the
                                                                                    <a href="https://help.github.com/articles/getting-started-with-writing-and-formatting-on-github/" class="text-danger" target="_blank">
                                                                                        Markdown here
                                                                                    </a>
                                                                                    <span class="form-check-sign"></span>
                                                                                </label>
                                                                            </div>
                                                                            <has-error :form="form" field="body"></has-error>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <hr>
                                                        <div class="submit">
                                                            <div class="text-center">
                                                                <router-link  :to="{ name: 'informations.index' }" id="button_hover" class="btn btn-danger btn-raised btn-round" data-toggle="tab">
                                                                    <i class="material-icons">chevron_left</i>
                                                                    <b class="title_hover">Back</b>
                                                                </router-link>
                                                                <button id="button_hover" :disabled="form.busy" type="submit" class="btn btn-success btn-raised btn-round">
                                                                    <i class="material-icons">save_alt</i>
                                                                    <b class="title_hover">Save</b>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <FooterAdmin/>
        </div>
    </div>
</template>

<script>
    import NavAdmin from "../../../inc/admin/NavAdmin";
    import TopNav from "../../../inc/admin/TopNav";
    import FooterAdmin from "../../../inc/admin/FooterAdmin";
    import StatusAdmin from "../../../inc/admin/StatusAdmin";

    export default {
        components: {StatusAdmin, FooterAdmin, TopNav, NavAdmin},
         data() {
            return {
                loaded: false,
                colors:[],
                color_user:'',
                form: new Form({
                    id: '',
                    icon: '',
                    user_id: '',
                    color_name: '',
                    status: '',
                    slug: '',
                    title: '',
                    body: '',
                    image: ''
                }),
                customToolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'font': [] }],
                    //[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                    //[{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ 'align': [] }],
                    //[{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote', 'code-block'],
                    //['blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                    //[{ 'script': 'sub'}, { 'script': 'super' }],
                    //[{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{ 'color': [] }, { 'background': [] }],
                    ['link'],
                    //['link', 'image', 'video'],
                    //[{ 'direction': 'rtl' }],
                    ['clean'],
                    //['emoji'],
                ]
            }
        },
        methods: {
            getColorCardUser(){
                return 'card-header card-header-icon card-header-' + this.color_user;
			},
            getColorHeaderUser(){
                return 'card-header card-header-' + this.color_user;
			},
            getMaterialIcon(color){
                return 'material-icons text-' + color;
            },
            createItem() {
                //Start Progress bar
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.post("/admin/informations")
                    .then(() => {
                        //Insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Information Created Successfully.</strong>', 'progress': 75});
                        }, 2000);
                         setTimeout(() => this.$router.push({ name: 'informations.index' }));

                    
                        //End Progress bar
                        this.$Progress.finish();
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooop! Information field empty", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                    })
            }
        },
        created() {
             //Start Progress bar
                this.$Progress.start();
                const urlColorUser = "/admin/api/account/user";
                axios.get(urlColorUser).then(({data}) => (this.color_user = data.color_name));
                const urlColors = "/admin/api/colors";
                axios.get(urlColors).then(({data}) => (this.colors = data.data));
                //End Progress bar
                this.$Progress.finish();
        }
    }
</script>

<style scoped>

</style>
