<template>
    <div>
        <div class="row">
            <div class="col-md-12 expo">
                <div class="card card-stats">
                    <div :class="getColorCardUser()">
                        <div class="card-icon">
                            <i class="material-icons">photo_size_select_actual</i>
                        </div>
                        <p class="card-category"><b>All Home Profile</b>
                        <h3 class="card-title title-red"><b>{{homepageprofiles.length}}</b></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">photo_size_select_actual</i><b>All Home Profile</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 expo">
                <div class="card">
                    <div :class="getColorHeaderUser()">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">
                                    <b>Datatables Home Profile</b>
                                </h4>
                                <p class="card-title">
                                    Background image page
                                </p>
                            </div>
                            <div class="col-md-6 text-right">
                                <span>
                                    <i id="tooltipSize" class="material-icons">photo_size_select_actual</i>
                                </span>
                            </div>
                        </div>
                    </div>
                     <div class="card-body">
                          <div class="header text-right">
                            <button  @click="reload" class="btn btn-warning btn-raised btn-round button_note btn-sm"
                                  title="Refresh Page">
                                 <i class="material-icons">replay</i>
                               <b class="title_hover">Refresh</b>
                           </button>
                     </div>
                    <br>
                    <div class="card-body">
                        <div class="toolbar">
                            <div class="submit text-center">
                                <button  id="button_hover" class="btn btn-warning btn-raised btn-round " @click="newModal">
                                     <span class="btn-label">
                                       <i class="material-icons">insert_photo</i>
                                    </span>
                                    <b class="title_hover">New profile</b>
                                </button>
                            </div>
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                   cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th><b>Profile Image</b></th>
                                        <th><b>Status</b></th>
                                        <th><b>Edit By</b></th>
                                        <th><b>Last Update</b></th>
                                        <th class="disabled-sorting text-right"><b>Actions</b></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th><b>Profile Image</b></th>
                                        <th><b>Status</b></th>
                                        <th><b>Edit By</b></th>
                                        <th><b>Last Update</b></th>
                                        <th class="text-right"><b>Actions</b></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr v-for="item in homepageprofiles" :key="item.id">
                                        <td><img :src="item.photo" style="height: 50px; width: 80px; border-radius: 10px"></td>
                                        <td>
                                            <div class="timeline-heading">
                                                <span v-if="item.status === 1" class="badge badge-info"><b>Active</b></span>
                                                <span v-else-if="item.status === 0"  class="badge badge-danger"><b>Deactive</b></span>
                                            </div>
                                        </td>
                                        <td>
                                            <a v-if="item.user.status" :href="`/admin/profile/${item.user.username}`" title="Administrator Online">
                                                <button type="button" class="btn btn-success btn-round btn-just-icon btn-sm"></button>
                                                {{ (item.user.name.length > 15 ? item.user.name.substring(0,15)+ "..." : item.user.name) | upText }}
                                            </a>
                                            <a v-else="item.user.status" :href="`/admin/profile/${item.user.username}`" title="Administrator Offline">
                                                <button type="button" class="btn btn-danger btn-round btn-just-icon btn-sm"></button>
                                                {{ (item.user.name.length > 15 ? item.user.name.substring(0,15)+ "..." : item.user.name) | upText }}
                                            </a>
                                        </td>
                                        <td><b>{{ item.updated_at | myDate }}</b></td>
                                        <td class="td-actions text-right">
                                            <button  v-if="item.status === 1" @click="disableItem(item.id)" class="btn btn-link btn-info btn-round btn-just-icon " title="Disable">
                                                <i class="material-icons">power_settings_new</i>
                                            </button>
                                            <button  v-else-if="item.status === 0" @click="activeItem(item.id)" class="btn btn-link btn-danger btn-round btn-just-icon" title="Activate">
                                                <i class="material-icons">power_settings_new</i>
                                            </button>
                                            <button @click="editItem(item)"
                                               class="btn btn-link  btn-success btn-round btn-just-icon" title="Edit">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button @click="deleteItem(item.id)"
                                               class="btn btn-link btn-danger btn-round btn-just-icon" title="Delete">
                                                <i class="material-icons">delete_forever</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <!-- Modal création/édition Profile Home -->
                        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 v-show="!editmode" class="modal-title" id="addNewLabel"><b>New Home Profile</b></h5>
                                        <h5 v-show="editmode" class="modal-title" id="updatwNewLabel"><b>Update Home Profile</b></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="RegisterValidation" @submit.prevent="editmode ? updateItem() : createItem()" role="form" method="POST" action="" accept-charset="UTF-8">
                                            <div class="col-md-8 ml-auto mr-auto">
                                                <div class="profile text-center">
                                                    <br>
                                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail">
                                                            <img v-show="!editmode" src="https://www.kazoucoin.com/assets/img/photo.jpg" alt="...">
                                                            <img v-show="editmode" :src="getImagesave()" :alt="form.slug">
                                                        </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                        <div>
                                                            <span class="btn btn-raised btn-round btn-warning btn-file">
                                                                <span class="fileinput-new" style="cursor: pointer">
                                                                    <i class="material-icons">insert_photo</i>
                                                                    <b>Add Slide</b></span><span class="fileinput-exists" style="cursor: pointer">
                                                                <i class="material-icons">photo_library</i>
                                                                <b>Change</b></span>
                                                                <input id="photo" @change="updateImage" type="file" class="form-control" name="photo">
                                                            </span>
                                                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                                                <i class="material-icons">cancel</i>
                                                                <b>Remove</b>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <has-error :form="form" field="photo"></has-error>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="modal-footer">
                                                <div class="text-center">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                        <span class="btn-label">
                                                            <i class="material-icons">clear</i>
                                                            <b>Close</b>
                                                        </span>
                                                    </button>
                                                    <button v-show="!editmode" type="submit" class="btn btn-success btn-raised">
                                                        <span class="btn-label">
                                                            <i class="material-icons">check</i>
                                                            <b>Yes, Save</b>
                                                        </span>
                                                    </button>
                                                    <button v-show="editmode" type="submit" class="btn btn-success btn-raised">
                                                        <span class="btn-label">
                                                            <i class="material-icons">save_alt</i>
                                                            <b>Yes, Update</b>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                homepageprofiles: {},
                color_user: '',
                form: new Form({
                    id: '',
                    photo: '',
                    user_id: '',
                    status: '',
                    slug: ''
                })
            }
        },
        methods: {
            getColorCardUser(){
                let colorCard = 'card-header card-header-icon card-header-' + this.color_user;
                return colorCard;
            },
            getColorHeaderUser(){
                let colorHeader = 'card-header card-header-' + this.color_user;
                return colorHeader;
            },
            getImagesave(){
                let photo = (this.form.photo.length > 200) ? this.form.photo : this.form.photo;
                return photo;
            },
            updateImage(e){
                //console.log('uploadert')
                let file = e.target.files[0];
                 console.log(file);
                 let reader = new FileReader();
                  if (file['size'] < 6000775){
                      reader.onloadend = (file) => {
                          //console.log('RESULT',reader.result)
                          this.form.photo = reader.result
                      };
                      reader.readAsDataURL(file);
                  }else{
                      this.$Progress.fail();
                      Swal.fire({
                          type: 'error',
                          title: 'Your image is verry big',
                          buttonsStyling: false,
                          confirmButtonClass: "btn btn-success",
                      });
                  }
            },
            updateItem() {
                //Start Progress bar
                this.$Progress.start();

                this.form.put('/admin/homepageprofile/' + this.form.id)
                    .then(() => {
                        //Masquer le modal après la création
                        $('#addNew').modal('hide');

                        /** Debut de l'alert **/
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Home profile updated successfully.</strong>', 'progress': 75});
                        }, 2000);
                        /** Fin alert **/

                        //End Progress bar
                        this.$Progress.finish();
                    
                        //Event
                        Fire.$emit('AfterCreate');
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooop! Something wrong. Try later", {
                                type: 'danger',
                                animate: {
                                    enter: 'animated bounceInDown',
                                    exit: 'animated bounceOutUp'
                                }
                            });
                    })
            },
            editItem(item) {
                this.editmode = true;
                this.form.reset();
                //Masquer le modal après la création
                $('#addNew').modal('show');
                //On passe les information
                this.form.fill(item);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                //Masquer le modal après la création
                $('#addNew').modal('show');
            },
            deleteItem(id) {
                //Alert delete
                Swal.fire({
                    title: 'Delete Home Profile?',
                    text: "Are you sure you want to delete this Home profile?",
                    type: 'warning',
                    animation: false,
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();
                        //Envoyer la requete au server
                        this.form.delete('/admin/homepageprofile/' + id).then(() => {

                            /** Alert notify bootstrapp **/
                            var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                                allow_dismiss: false,
                                showProgressbar: true
                            });
                            setTimeout(function() {
                                notify.update({'type': 'success', 'message': '<strong>Home profile deleted successfully.</strong>', 'progress': 75});
                            }, 2000);
                            /* End alert ***/

                            //End Progress bar
                            this.$Progress.finish();

                            Fire.$emit('AfterCreate');
                        }).catch(() => {
                            //Failled message
                            this.$Progress.fail();
                            $.notify("Ooop! Something wrong. Try later", {
                                type: 'danger',
                                animate: {
                                    enter: 'animated bounceInDown',
                                    exit: 'animated bounceOutUp'
                                }
                            });
                        })
                    }
                })
            },
            /** Ici c'est l'activation de la couleur  **/
            activeItem(id) {
                //Start Progress bar
                this.$Progress.start();
                this.form.get('/admin/active_home_page/' + id).then(() => {
                    /** Alert notify bootstrapp **/
                    var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                        allow_dismiss: false,
                        showProgressbar: true
                    });
                    setTimeout(function() {
                        notify.update({'type': 'success', 'message': '<strong>Home profile activated successfully.</strong>', 'progress': 75});
                    }, 2000);
                    /** End alert **/

                    //End Progress bar
                    this.$Progress.finish();
                    
                    Fire.$emit('AfterCreate');
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                                type: 'danger',
                                animate: {
                                    enter: 'animated bounceInDown',
                                    exit: 'animated bounceOutUp'
                                }
                            });
                })
            },
            /** Ici c'est la désactivation de la couleur **/
            disableItem(id) {
                //Start Progress bar
                this.$Progress.start();

                this.form.get('/admin/unactive_home_page/' + id).then(() => {
                    /** Alert notify bootstrapp **/
                    var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                        allow_dismiss: false,
                        showProgressbar: true
                    });
                    setTimeout(function() {
                        notify.update({'type': 'success', 'message': '<strong>Home profile desactivated successfully.</strong>', 'progress': 75});
                    }, 2000);
                    /** End alert **/

                    //End Progress bar
                    this.$Progress.finish();

                    Fire.$emit('AfterCreate');
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    toastr.error('', 'Ooop! Something wrong. Try later');
                })
            },
            loadItems() {
                //Start Progress bar
                this.$Progress.start();
                const url = "/admin/api/homepageprofile";
                axios.get(url).then(({data}) => (this.homepageprofiles = data.data));
                const urlColorUser = "/admin/api/account/user";
                axios.get(urlColorUser).then(({data}) => (this.color_user = data.color_name));
                //End Progress bar
                this.$Progress.finish()
            },
             reload(){
                this.loadItems();
            },
            createItem() {
                //Start Progress bar
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.post("/admin/homepageprofile")
                    .then(() => {

                        //Event
                        Fire.$emit('AfterCreate');

                        //Masquer le modal après la création
                        $('#addNew').modal('hide');

                        //Ici c'est l'insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Home profile Created Successfully.</strong>', 'progress': 75});
                        }, 2000);

                        //End Progress bar
                        this.$Progress.finish();
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooop! Something wrong. Try later", {
                                type: 'danger',
                                animate: {
                                    enter: 'animated bounceInDown',
                                    exit: 'animated bounceOutUp'
                                }
                            });
                    })
            }
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
        }
    }
</script>

<style scoped>

</style>
