<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 expo">
                                        <div class="card">
                                            <div :class="getColorCardUser()" style="margin-top: -5px;">
                                                <div class="card-icon">
                                                    <i class="material-icons">assignment</i>
                                                </div>
                                                <br>
                                                <h4 class="card-title" style="margin-top: 0px;"><b>Create</b> -
                                                    <small class="category">New Presentation</small>
                                                </h4>
                                            </div>
                                            <br>
                                            <div class="card-body">
                                                <form id="RegisterValidation" @submit.prevent="createItem()" role="form"
                                                      method="POST" action="" accept-charset="UTF-8" @keydown="form.onKeydown($event)">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating"></label>
                                                                <input v-model="form.title" type="text" name="title"
                                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('title') }" placeholder="Presentation Title">
                                                                <has-error :form="form" field="title"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating"></label>
                                                                <input v-model="form.icon" type="text" name="icon"
                                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('icon') }" placeholder="Material Icon">
                                                                <has-error :form="form" field="icon"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <select name="color_name" v-model="form.color_name" id="color_name" class="form-control"
                                                                        :class="{ 'is-invalid': form.errors.has('color_name') }">
                                                                    <option value="" disabled>Choose your Color</option>
                                                                    <option v-for="color in colors" :key="color.id" :value="color.slug">{{color.color_name}}</option>
                                                                </select>
                                                                <has-error :form="form" field="color_name"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 ml-auto mr-auto">
                                                        <div class="profile text-center">
                                                            <br>
                                                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail">
                                                                    <img src="https://www.kazoucoin.com/assets/img/photo.jpg" alt="...">
                                                                </div>
                                                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                                <div>
                                                                    <span class="btn btn-raised btn-round btn-warning btn-file">
                                                                        <span class="fileinput-new" style="cursor: pointer">
                                                                            <i class="material-icons">insert_photo</i>
                                                                            <b>Add Slide</b>
                                                                        </span>
                                                                        <span class="fileinput-exists" style="cursor: pointer">
                                                                            <i class="material-icons">photo_library</i>
                                                                            <b>Change</b>
                                                                        </span>
                                                                        <input id="photo" @change="updateImage" type="file" class="form-control" name="photo">
                                                                    </span>
                                                                    <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                                                        <i class="material-icons">cancel</i>
                                                                        <b>Remove</b>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <has-error :form="form" field="photo"></has-error>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Description <span style="color: red;">*</span></label>
                                                        <vue-editor v-model="form.body" :editorToolbar="customToolbar"></vue-editor>
                                                        <div class="form-check">
                                                            <label class="form-check-label pull-right">
                                                                You can use the
                                                                <a href="https://help.github.com/articles/getting-started-with-writing-and-formatting-on-github/" class="text-danger" target="_blank">
                                                                    Markdown here
                                                                </a>
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                        <has-error :form="form" field="body"></has-error>
                                                    </div>
                                                    <hr>
                                                    <div class="submit">
                                                        <div class="text-center">
                                                            <router-link :to="{ name: 'presentations.index' }" class="btn btn-danger btn-round" id="button_hover">
                                                                <i class="material-icons">chevron_left</i>
                                                                <b class="title_hover">Back</b>
                                                            </router-link>
                                                            <button id="button_hover" :disabled="form.busy" type="submit" class="btn btn-success btn-raised btn-round">
                                                                <i class="material-icons">save_alt</i>
                                                                <b class="title_hover">Save</b>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
        <FooterAdmin/>
        </div>
    </div>
</template>
<script>
    import NavAdmin from "../../inc/admin/NavAdmin";
    import TopNav from "../../inc/admin/TopNav";
    import FooterAdmin from "../../inc/admin/FooterAdmin";
    import StatusAdmin from "../../inc/admin/StatusAdmin";
    import Loaded from "../../inc/animation/Loaded";

    export default {
        components: {Loaded, StatusAdmin, FooterAdmin, TopNav, NavAdmin},
        data() {
            return {
                loaded: false,
                colors:[],
                color_user:'',
                form: new Form({
                    id: '',
                    icon: '',
                    title: '',
                    photo: '',
                    body: '',
                    user_id: '',
                    color_name:'',
                    color_user: '',
                    status: '',
                }),
                customToolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'font': [] }],
                    //[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                    //[{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ 'align': [] }],
                    //[{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote', 'code-block'],
                    //['blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                    //[{ 'script': 'sub'}, { 'script': 'super' }],
                    //[{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{ 'color': [] }, { 'background': [] }],
                    ['link'],
                    //[{ 'direction': 'rtl' }],
                    ['clean'],
                    //['emoji'],
                ]
            }
        },
        methods: {
            getColorCardUser(){
                let colorCard = 'card-header card-header-icon card-header-' + this.user.color_name;
                return colorCard;
            },
            getColorHeaderUser(){
                let colorHeader = 'card-header card-header-' + this.user.color_name;
                return colorHeader;
            },
            getMaterialIcon(color){
                let icon = 'material-icons text-' + color;
                return icon;
            },
            updateImage(e){
                //console.log('uploadert')
                let file = e.target.files[0];
                console.log(file);
                let reader = new FileReader();
                if (file['size'] < 6000775){
                    reader.onloadend = (file) => {
                        //console.log('RESULT',reader.result)
                        this.form.photo = reader.result
                    };
                    reader.readAsDataURL(file);
                }else{
                    this.$Progress.fail();
                    Swal.fire({
                        type: 'error',
                        title: 'Your image is verry big',
                        buttonsStyling: false,
                        confirmButtonClass: "btn btn-success",
                    });
                }
            },
            createItem() {
                //Start Progress bar
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.post("/admin/presentations")
                    .then(() => {
                        //Ici c'est l'insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Presentation Created Successfully.</strong>', 'progress': 75});
                        }, 2000);

                        setTimeout(() => this.$router.push({ name: 'presentations.index' }));
                        //End Progres bar
                        this.$Progress.finish()
                    }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                })
            }
        },
        created() {
            //Start Progress bar
            this.$Progress.start();
            axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
            axios.get("/admin/api/colors").then(({data}) => (this.colors = data.data));
            //End Progress bar
            this.$Progress.finish()
        }
    }
</script>

<style scoped>

</style>
