<template>
    <div class="col-md-12 ml-auto mr-auto expo">
        <div class="card">
            <div class="card-header card-header-icon card-header-warning">
                <div class="card-icon">
                    <i class="material-icons">account_circle</i>
                </div>
                <h4 class="card-title">Create profile page -
                    <small class="category">Profile</small>
                </h4>
            </div>
            <div class="card-body">
                <br>
                <form id="RegisterValidation"  @keydown="form.onKeydown($event)" role="form" method="POST" action="#" @submit="admin/homepageprofile" enctype="multipart/form-data" accept-charset="UTF-8">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <div class="profile text-center">
                                <br>
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail">
                                        <img src="https://www.kazoucoin.com/assets/img/photo.jpg" alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                    <div>
                                        <span class="btn btn-raised btn-round btn-warning btn-file">
                                            <span class="fileinput-new" style="cursor: pointer">
                                                <i class="material-icons">insert_photo</i>
                                                <b>Add Slide</b>
                                            </span>
                                            <span class="fileinput-exists" style="cursor: pointer">
                                                <i class="material-icons">photo_library</i>
                                                <b>Change</b>
                                            </span>
                                            <input id="photo" type="file" class="form-control" name="photo" v-on:change="onChange">
                                        </span>
                                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                            <i class="material-icons">cancel</i>
                                            <b>Remove</b>
                                        </a>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <br><br><hr>
                    <div class="submit">
                        <div class="text-center">
                            <a href="#" class="btn btn-info btn-raised btn-round">
                                <span class="btn-label">
                                    <i class="material-icons">undo</i>
                                </span>
                                <b>Back</b>
                            </a>
                            <button id="button_hover" type="submit" class="btn btn-success btn-raised btn-round">
                                <span class="btn-label">
                                    <i class="material-icons">save_alt</i>
                                </span>
                                <b class="title_hover">Create</b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Homepageprofile",
        mounted() {
            console.log('Teste image')
        },
        data(){
            return{
                photo: '',
            };
        },
        methods: {
            onChange(e){
                console.log(e.target.files[0]);
                this.photo = e.target.files[0];
            },
            formSubmit(e){
                e.preventDefault();
                let currentObj = this;

                const config = {
                    headers: {'content-type': 'multipart/form-data'}
                };

                let  formData = new FormData();
                formData.append('photo',this.photo);

                axios.post('/admin/homepageprofile/', formData, config).then(() => {
                        toastr.success('', 'Image create upload');
                }).catch(() => {
                    swal("Failed!", "Une erreur c'est produit ici", "warning")
                })
            }
        }
    }
</script>

<style scoped>

</style>
