<template>
<div>
    <vue-progress-bar/>
    <NavAdmin/>
    <div class="main-panel" id="javascriptComponents">
        <TopNav/>
        <div class="content">
            <div class="container-fluid">
                <br>
                <StatusAdmin/>
                <br>
                <div class="row">
                    <div class="col-md-12 expo">
                        <div class="card card-stats">
                            <div :class="getColorCardUser()">
                                <div class="card-icon">
                                    <i class="material-icons">unsubscribe</i>
                                </div>
                                <p class="card-category"><b>All Newsletters</b>
                                <h3 class="card-title title-red"><b>{{subscribemails.length}}</b></h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">unsubscribe</i><b>All Newsletters</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="!loaded" class="submit">
                    <Loaded/>
                </div>
                <div class="row">
                    <div class="col-md-12 expo">
                        <div class="card">
                            <div :class="getColorHeaderUser()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title">
                                            <b>Datatables Newsletters</b>
                                        </h4>
                                        <p class="card-title">
                                            Users Subscribe In Newsletters
                                        </p>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <span>
                                            <i id="tooltipSize" class="material-icons">unsubscribe</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="header text-right">
                                    <button @click="reload" class="btn btn-warning btn-raised btn-round button_note btn-sm"
                                            title="Refresh Page">
                                        <i class="material-icons">replay</i>
                                        <b class="title_hover">Refresh</b>
                                    </button>
                                </div>
                            <br>
                            <div class="card-body">
                                <div class="toolbar">
                                </div>
                                <br>
                                <div class="material-datatables">
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                           cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th><b>Email</b></th>
                                                <th><b>Ip Address</b></th>
                                                <th><b>Last Update</b></th>
                                                <th class="disabled-sorting text-right"><b>Actions</b></th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th><b>Email</b></th>
                                                <th><b>Ip Address</b></th>
                                                <th><b>Last Update</b></th>
                                                <th class="text-right"><b>Actions</b></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr v-for="item in subscribemails" :key="item.id">
                                            <td><b>{{ item.user_email}}</b></td>
                                            <td><b>{{ item.ip}}</b></td>
                                            <td>{{ item.updated_at | myDate }}</td>
                                            <td class="td-actions text-right">
                                                <button @click="editItem(item)"
                                                        class="btn btn-link  btn-warning btn-round btn-just-icon" title="View">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- Export Excel Newletters -->
                                <div v-if="$auth.can('download_excel')" class="submit text-center">
                                    <button type="button" id="myNewletterDownload" class="btn btn-success btn-raised btn-round button_note">
                                        <i class="material-icons">cloud_download</i>
                                        <b class="title_hover">Get Excel Newletters</b>
                                    </button>
                                </div>

                                <!-- Modal Show Newletters -->
                                <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"><b class="title-red">Show Email Subscription</b></h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <br>
                                            <div class="modal-body">
                                                <br><h4 class="card-title text-center"><b>{{ form.user_email }}</b></h4><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <FooterAdmin/>
</div>
</div>
</template>

<script>
    import NavAdmin from "../../inc/admin/NavAdmin";
    import TopNav from "../../inc/admin/TopNav";
    import FooterAdmin from "../../inc/admin/FooterAdmin";
    import StatusAdmin from "../../inc/admin/StatusAdmin";
    import Loaded from "../../inc/animation/Loaded";
    export default {
        components: {Loaded, StatusAdmin, FooterAdmin, TopNav, NavAdmin},
        data() {
            return {
                loaded: false,
                editmode: false,
                subscribemails: {},
                color_name:'',
                form: new Form({
                    id: '',
                    ip: '',
                    email: '',
                    user_email: ''
                })
            }
        },
        methods: {
            mydatatables(){
                $( function () {
                    $('#datatables').DataTable({
                        "pagingType": "full_numbers",
                        "lengthMenu": [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"]
                        ],
                        order: [[ 0, 'desc' ], [ 3, 'asc' ]],
                        responsive: true,
                        stateSave: true,
                        destroy: true,
                        retrieve:true,
                        autoFill: true,
                        colReorder: true,
                        language: {
                            search: "<i class='material-icons'>search</i>",
                            searchPlaceholder: "Search Record",
                        },
                        "sPaginationType": "full_numbers",

                    });
                });
            },
            getColorCardUser(){
				let colorUser = 'card-header card-header-icon card-header-' + this.color_name;
				return colorUser;
			},
            getColorHeaderUser(){
				let colorUser = 'card-header card-header-' + this.color_name;
				return colorUser;
			},
            editItem(item) {
                this.editmode = true;
                this.form.reset();
                //Masquer le modal après la création
                $('#addNew').modal('show');
                //On passe les informations
                this.form.fill(item);
            },
            loadItems() {
                //Start Progress bar
                this.$Progress.start();
                const url = "/admin/api/subscribe_email";
                axios.get(url).then(response => {
                    this.loaded = true;
                    this.subscribemails = response.data.data;
                    this.mydatatables()
                });
                const urlColor = "/admin/api/account/user";
                axios.get(urlColor).then(({data}) => (this.color_name = data.color_name));
                //End Progress bar
                this.$Progress.finish()
            },
              reload(){
                this.loadItems();
            },
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
        }
    }

</script>

<style scoped>

</style>
