<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 expo">
                                        <div class="card">
                                            <div :class="getUserColorName()" style="margin-top: -5px;">
                                                <div class="card-icon">
                                                    <i class="material-icons">perm_identity</i>
                                                </div>
                                                <br>
                                                <h4 class="card-title" style="margin-top: 0px;"><b>Edit Profile</b> -
                                                    <small class="category">Complete My Profile</small>
                                                </h4>
                                            </div>
                                            <div class="card-body">
                                                <form id="RegisterValidation" @submit.prevent="updateItem()" role="form"
                                                      method="POST" action="" accept-charset="UTF-8" @keydown="form.onKeydown($event)">
                                                    <!-- Profile Image -->
                                                    <div class="row">
                                                        <div class="col-md-6 ml-auto mr-auto">
                                                            <div style="padding-top: -100px;" class="profile text-center ">
                                                                <div class="avatar">
                                                                    <div class="fileinput fileinput-new text-center"
                                                                         data-provides="fileinput">
                                                                        <div class="fileinput-new thumbnail img-circle img-raised">
                                                                            <img :src="getImagesave()" :alt="form.name">
                                                                        </div>
                                                                        <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                                                                        <div>
                                                                            <span class="btn btn-raised btn-round btn-info btn-file">
                                                                                <span class="fileinput-new">
                                                                                    <b>Add Profile</b>
                                                                                </span>
                                                                                <span class="fileinput-exists">
                                                                                    <i class="material-icons">edit</i>
                                                                                    <b>Change</b>
                                                                                </span>
                                                                                <input @change="updateImage" id="avatar" type="file" class="form-control" name="avatar"/>
                                                                             </span>
                                                                            <br/>
                                                                            <a href="#pablo"
                                                                               class="btn btn-danger btn-round fileinput-exists"
                                                                               data-dismiss="fileinput"><i class="fa fa-times"></i>
                                                                                <b>Remove</b>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <!-- User Data -->
                                                    <div class="col-md-12">
                                                        <div class="card card-nav-tabs">
                                                            <div :class="getUserPanelName()">
                                                                <div class="nav-tabs-navigation">
                                                                    <div class="nav-tabs-wrapper">
                                                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                                                            <li class="nav-item">
                                                                                <router-link :to="{ name: 'admin.account' }" class="nav-link" style="cursor:pointer;" data-toggle="tab">
                                                                                    <i class="material-icons">face</i>
                                                                                    <b>My Profile</b>
                                                                                </router-link>
                                                                            </li>
                                                                            <li class="nav-item">
                                                                                <router-link :to="{ name: 'admin.edit_profile' }" class="nav-link" style="cursor:pointer;" data-toggle="tab">
                                                                                    <i class="material-icons">create</i>
                                                                                    <b>Edit Profile</b>
                                                                                </router-link>
                                                                            </li>
                                                                            <li class="nav-item">
                                                                                <router-link :to="{ name: 'admin.change_password' }" class="nav-link" style="cursor:pointer;" data-toggle="tab">
                                                                                    <i class="material-icons">vpn_key</i>
                                                                                    <b>Change Password</b>
                                                                                </router-link>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="tab-content">
                                                                    <div class="tab-pane active" id="profile">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <label class="bmd-label-floating">Company - {{company}}</label>
                                                                                    <input type="text" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>Pseudo</label>
                                                                                    <input v-model="form.username" type="text" name="username"
                                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('username') }">
                                                                                    <has-error :form="form" field="username"></has-error>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>Last Name</label>
                                                                                    <input v-model="form.name" type="text" name="name" maxlength="25"
                                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                                                                    <has-error :form="form" field="name"></has-error>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>First Name</label>
                                                                                    <input v-model="form.first_name" type="text" maxlength="25" name="first_name" class="form-control" :class="{ 'is-invalid': form.errors.has('first_name') }">
                                                                                    <has-error :form="form" field="first_name"></has-error>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row" style="padding-top: 10px; padding-bottom: 15px;">
                                                                            <div class="col-md-3">
                                                                                <div class="form-group">
                                                                                    <label>Sex</label>
                                                                                    <select name="sex" v-model="form.sex" id="sex" class="form-control"
                                                                                            :class="{ 'is-invalid': form.errors.has('sex') }" style="margin-top: 15px;">
                                                                                        <option value="" disabled>Choose Your Sex</option>
                                                                                        <option value="Male">Male</option>
                                                                                        <option value="Female">Female</option>
                                                                                    </select>
                                                                                    <has-error :form="form" field="sex"></has-error>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <div class="form-group">
                                                                                    <label>Your Country</label>
                                                                                    <select name="country_id" v-model="form.country_id"
                                                                                            id="country" class="form-control"
                                                                                            :class="{ 'is-invalid': form.errors.has('country_id') }"
                                                                                            style="margin-top: 15px;">
                                                                                        <option value="" disabled>Choose Your Country
                                                                                        </option>
                                                                                        <option v-for="country in countries"
                                                                                                :key="country.name"
                                                                                                :value="country.id">{{country.name}}
                                                                                        </option>
                                                                                    </select>
                                                                                    <has-error :form="form" field="country_id"></has-error>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <div class="form-group">
                                                                                    <label>Header Color Card
                                                                                        <a @click="openHeaderCardModal" title="View Legend">
                                                                                            <i class="material-icons info-header-card">info</i>
                                                                                        </a>
                                                                                    </label>
                                                                                    <select name="color_name" v-model="form.color_name" id="color_name" class="form-control"
                                                                                            :class="{ 'is-invalid': form.errors.has('color_name') }" style="margin-top: 15px;">
                                                                                        <option value="" disabled>Choose Your Color</option>
                                                                                        <option v-for="color in colors" :key="color.id" :value="color.slug">{{color.color_name}}</option>
                                                                                    </select>
                                                                                    <has-error :form="form" field="color_name"></has-error>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <div class="form-group">
                                                                                    <label>Menu Sidebar Color
                                                                                        <a @click="opendSidebarMenuModal" title="View Legend">
                                                                                            <i class="material-icons info-sidebar-menu">info</i>
                                                                                        </a>
                                                                                    </label>
                                                                                    <select name="color_style" v-model="form.color_style" id="color_style" class="form-control"
                                                                                            :class="{ 'is-invalid': form.errors.has('color_style') }" style="margin-top: 15px;">
                                                                                        <option value="" disabled>Choose Your Color Style</option>
                                                                                        <option value="purple">Purple</option>
                                                                                        <option value="azure">Azure</option>
                                                                                        <option value="green">Green</option>
                                                                                        <option value="orange">Orange</option>
                                                                                        <option value="danger">Danger</option>
                                                                                    </select>
                                                                                    <has-error :form="form" field="color_style"></has-error>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>Birthday</label>
                                                                                    <input type="text" v-model="form.my_birthday" name="my_birthday"
                                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('my_birthday') }">
                                                                                    <has-error :form="form" field="my_birthday"></has-error>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>Your Phone Number</label>
                                                                                    <input v-model="form.cellphone" type="text" name="cellphone"
                                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('cellphone') }">
                                                                                    <has-error :form="form" field="cellphone"></has-error>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>Email</label>
                                                                                    <input v-model="form.email" type="email" name="email"
                                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                                                                    <has-error :form="form" field="email"></has-error>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>Street Address</label>
                                                                                    <input v-model="form.address" type="text" name="address"
                                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('adress') }">
                                                                                    <has-error :form="form" field="address"></has-error>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>Postal Code</label>
                                                                                    <input v-model="form.cap" type="number" name="cap"
                                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('cap') }">
                                                                                    <has-error :form="form" field="cap"></has-error>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label>Professional Work</label>
                                                                                    <input v-model="form.work" type="text" name="work"
                                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('work') }">
                                                                                    <has-error :form="form" field="work"></has-error>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="tab-pane" id="settings">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="media-body">
                                                                                        <label class="bmd-label-floating">Description <span style="color: red;">*</span></label>
                                                                                        <vue-editor v-model="form.body" :class="{ 'is-invalid': form.errors.has('body') }"
                                                                                                    :editorToolbar="customToolbar"></vue-editor>
                                                                                        <has-error :form="form" field="body"></has-error>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="submit">
                                                        <div class="text-center">
                                                            <button id="button_hover" :disabled="form.busy" type="submit" class="btn btn-success btn-raised btn-round">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">save_alt</i>
                                                                </span>
                                                                <b class="title_hover">Update</b>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>

                                                <!-- Modal Open Legend Header Card / Sidebar Menu Color -->
                                                <div class="modal fade" id="openLegend" tabindex="-1" role="dialog" aria-labelledby="openHeaderLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 v-show="legend" class="modal-title"><b>Example Header Color Card</b></h5>
                                                                <h5 v-show="!legend" class="modal-title"><b>Example Sidebar Menu Color</b></h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="col-md-12 ml-auto mr-auto">
                                                                    <div class="profile text-center">
                                                                        <br>
                                                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                                                            <div class="fileinput-new thumbnail legend">
                                                                                <img v-show="legend" src="/images/Header-Card-Color.png">
                                                                                <img v-show="!legend" src="/images/Menu-Sidebar-Color.png">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                 </div>
                                                                <br>
                                                                <div class="modal-footer">
                                                                    <div class="text-center">
                                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                            <span class="btn-label">
                                                                                <i class="material-icons">clear</i>
                                                                                <b>Close</b>
                                                                            </span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <FooterAdmin/>
        </div>
    </div>
</template>

<script>
    import TopNav from "../inc/admin/TopNav";
    import NavAdmin from "../inc/admin/NavAdmin";
    import FooterAdmin from "../inc/admin/FooterAdmin";
    import StatusAdmin from "../inc/admin/StatusAdmin";

    export default {
        components: { StatusAdmin, FooterAdmin, NavAdmin, TopNav },
        props: ['company'],
        data() {
            return {
                legend: false,
                colors:{},
                countries:{},
                form: new Form({
                    id: '',
                    name: '',
                    first_name: '',
                    work: '',
                    sex: '',
                    age: '',
                    email: '',
                    body: '',
                    username: '',
                    color_name: '',
                    color_style: '',
                    cellphone: '',
                    cap: '',
                    company: '',
                    avatar: '',
                    avatarcover: '',
                    my_birthday: '',
                    address: '',
                    country_id: '',
                    country: '',
                }),
                customToolbar: [
                    [{'header': [1, 2, 3, 4, 5, 6, false]}],
                    [{'font': []}],
                    //[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                    //[{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{'align': []}],
                    //[{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote', 'code-block'],
                    //['blockquote', 'code-block'],
                    //[{'list': 'ordered'}, {'list': 'bullet'}, {'list': 'check'}],
                    //[{ 'script': 'sub'}, { 'script': 'super' }],
                    //[{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{'color': []}, {'background': []}],
                    //['link', 'image', 'video', 'formula'],
                    ['link'],
                    //[{ 'direction': 'rtl' }],
                    ['clean'],
                    //['emoji'],
                ],
            }
        },
        methods:{
            getUserColorName(){
                let colorUser = 'card-header card-header-icon card-header-' + this.form.color_name;
                return colorUser;
            },
            getUserPanelName(){
                let colorPanel = 'card-header card-header-' + this.form.color_name;
                return colorPanel;
            },
            getImagesave(){
                let avatar = (this.form.avatar.length > 200) ? this.form.avatar : this.form.avatar;
                return avatar;
            },
            openHeaderCardModal() {
                this.legend = true;
                $('#openLegend').modal('show');
            },
            opendSidebarMenuModal() {
                this.legend = false;
                $('#openLegend').modal('show');
            },
            updateImage(e){
                let file = e.target.files[0];
                let reader = new FileReader();
                let limit = 1024 * 1024 * 2;
                if(file['size'] > limit){
                    swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'You are uploading a large file',
                    });
                    return false;
                }
                reader.onloadend = (file) => {
                    this.form.avatar = reader.result;
                };
                reader.readAsDataURL(file);
            },
            updateItem() {
                //Start Progress bar
                this.$Progress.start();

                this.form.put('/admin/api/account/user/')
                    .then(() => {
                        //Insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Profile updated Successfully.</strong>', 'progress': 75});
                        }, 2000);
                        setTimeout(() => this.$router.push({ name: 'admin.account' }), 2000);
                        //End Progress bar
                        this.$Progress.finish();
                    }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Informations user incorrects. Try again", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                })
            },
        },
        //Ici je recupere les donner avant que la page n'apparait pour le moment
        //je n'ai pas besoin du created ici
        beforeRouteEnter (to, from, next) {
            axios.get('/admin/api/account/user')
                .then(({data}) =>  {
                    next(vm => {
                        vm.$Progress.start();
                        vm.form.fill(data);
                        vm.$Progress.finish()
                    })
                });
        },
        created(){
            //Start Progress bar
            this.$Progress.start();
            axios.get("/admin/api/colors").then(({data}) => (this.colors = data.data));
            axios.get("/api/countries").then(({data}) => (this.countries = data.data));
            //End Progress bar
            this.$Progress.finish();
        }
    }
</script>

<style scoped>

</style>
