<template>
    <div class="container">
        <vue-progress-bar/>
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div style="padding-top: -100px;" class="profile text-center ">
                    <div class="avatar">
                        <div class="fileinput fileinput-new text-center"
                             data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-circle img-raised">
                                <img :src="getImagesave()" :alt="form.name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-6 ml-auto mr-auto expo">
                <div class="card">
                    <div :class="getUserColorName()" style="margin-top: -5px;">
                        <div class="card-icon">
                            <i class="material-icons">lock_outline</i>
                        </div>
                        <br>
                        <h4 class="card-title" style="margin-top: 0px;"><b>Change My Password</b></h4>
                    </div>
                    <div class="card-body">
                        <form id="RegisterValidation" @submit.prevent="changePassword()" role="form"
                                  method="POST" action="" accept-charset="UTF-8" @keydown="form.onKeydown($event)">
                            <div class="card-body">
                                <br>
                                <div class="form-group">
                                    <label class="bmd-label-floating">Current Password</label>
                                    <input v-model="form.old_password" type="password" name="old_password" class="form-control" :class="{ 'is-invalid': form.errors.has('old_password') }">
                                    <has-error :form="form" field="old_password"></has-error>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="bmd-label-floating">New Password</label>
                                    <input v-model="form.password" type="password" name="password" class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                    <has-error :form="form" field="password"></has-error>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="bmd-label-floating">Confirm Password</label>
                                    <input v-model="form.password_confirmation" type="password" name="password_confirmation" class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                                    <has-error :form="form" field="password_confirmation"></has-error>
                                </div>
                            </div>
                            <hr>
                            <div class="submit">
                                <div class="text-center">
                                    <a href="/account/profile" class="btn btn-info btn-raised btn-round">
                                <span id="button_hover" class="btn-label">
                                    <i class="material-icons">edit</i>
                                </span>
                                        <b class="title_hover">Edit Profile</b>
                                    </a>
                                    <button id="button_hover" :disabled="form.busy" type="submit" class="btn btn-success btn-raised btn-round">
                                        <span class="btn-label">
                                            <i class="material-icons">save_alt</i>
                                        </span>
                                        <b class="title_hover">Update</b>
                                    </button>
                                </div>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: new Form({
                    avatar: '',
                    old_password: '',
                    password: '',
                    password_confirmation: '',
                    color_name: '',
                })
            }
        },
        methods:{
            getImagesave() {
                let avatar = (this.form.avatar.length > 200) ? this.form.avatar : this.form.avatar;
                return avatar;
            },
			getUserColorName(){
				let colorUser = 'card-header card-header-icon text-center card-header-' + this.form.color_name;
				return colorUser;
			},
            changePassword() {
                //Start Progress bar
                this.$Progress.start();
                this.form.put('/admin/change_password')
                    .then(() => {
                        //Insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Password updated successfully.</strong>', 'progress': 75});
                        }, 2000);
                        //Fin insertion de l'alert !

                        //End Progres bar
                        this.$Progress.finish();

                        //Reset all the field
                        this.form.reset();
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        toastr.error('', 'Passwords Incorrects.');
                    })
            },
        },
        created(){
            //Start Progress bar
            this.$Progress.start();
            const url = "/admin/api/account/user";
            axios.get(url).then(({data}) => (this.form.fill(data)));
            //End Progress bar
            this.$Progress.finish()
        }
    }
</script>

<style scoped>
    .field-icon {
        float: right;
        color: #0b75c9;
        margin-right: -17px;
        margin-top: -20px;
        position: relative;
        z-index: 2;
        cursor: pointer;
        padding-right: 15px;
    }

    .eac-sugg {
        color: #ccc;
    }
</style>
