<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <!-- Ici on va mettre le status de l'admin -->
                    <br>
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                            <div class="page-categories">
                                <ul :class="getPillsColorName()" role="tablist">
                                    <li class="nav-item">
                                        <a id="button_face" class="nav-link active" data-toggle="tab" href="#profile"
                                           role="tablist">
                                            <i class="material-icons">face</i> Profile
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="button_tasks" class="nav-link" data-toggle="tab" href="#tasks"
                                           role="tablist">
                                            <i class="material-icons">build</i> Tasks
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="button_faqs" class="nav-link" data-toggle="tab" href="#link9"
                                           role="tablist">
                                            <i class="material-icons">gavel</i> Legal Info
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="button_orders" class="nav-link" data-toggle="tab" href="#link10"
                                           role="tablist">
                                            <i class="material-icons">help_outline</i> Help Center
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content tab-space tab-subcategories">
                                    <div class="tab-pane active" id="profile">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-8 expo">
                                                    <div class="card">
                                                        <div :class="getUserColorName()" style="margin-top: -5px;">
                                                            <div class="card-icon">
                                                                <i class="material-icons">perm_identity</i>
                                                            </div>
                                                            <h4 class="card-title">
                                                                Profile <b v-text="form.name"></b>
                                                            </h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <div class="form-group">
                                                                        <label>Company ({{company}})</label>
                                                                        <input type="text" class="form-control"
                                                                               v-model="company" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>Name</label>
                                                                        <input type="text" class="form-control"
                                                                               name="name" id="name" v-model="form.name"
                                                                               disabled/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Username</label>
                                                                        <input type="text" class="form-control"
                                                                               name="username" id="username"
                                                                               v-model="form.username" disabled/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Sex</label>
                                                                        <input type="text" class="form-control"
                                                                               name="sex" id="sex" v-model="form.sex"
                                                                               disabled/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Email</label>
                                                                        <input type="text" class="form-control"
                                                                               name="email" id="email"
                                                                               v-model="form.email" disabled/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label>Tel</label>
                                                                        <input type="text" class="form-control"
                                                                               name="phone" id="phone"
                                                                               v-model="form.cellphone" disabled/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Address</label>
                                                                        <input type="text" class="form-control"
                                                                               name="address" id="address"
                                                                               v-model="form.address" disabled/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Postal Code</label>
                                                                        <input type="text" class="form-control"
                                                                               name="cap" id="cap" v-model="form.cap"
                                                                               disabled/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Country</label>
                                                                        <input type="text" class="form-control"
                                                                               name="country" id="country"
                                                                               v-model="form.country.name" disabled/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Work</label>
                                                                        <input type="text" class="form-control"
                                                                               name="work" v-model="form.work"
                                                                               disabled/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>About Me</label>
                                                                        <div class="form-group">
                                                                            <p v-html="form.body"></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 expo">
                                                    <div class="card card-profile">
                                                        <div class="card-avatar">
                                                            <a href="#pablo">
                                                                <img class="img" :src="getImagesave()"
                                                                     :alt="form.name"/>
                                                            </a>
                                                        </div>
                                                        <div class="card-body">
                                                            <img :src="form.country.flag" :alt="form.name"/>
                                                            <h6 v-if="form.statusOnline"><span
                                                                class="badge badge-success"
                                                                title="User online">Online</span></h6>
                                                            <h6 v-else="form.statusOnline"><span
                                                                class="badge badge-danger"
                                                                title="user offline">Offline</span></h6>
                                                            <h6 class="card-category text-gray">{{ form.work }}</h6>
                                                            <h4 class="card-title"><b>Sex:</b> {{ form.sex }}</h4>
                                                            <h4 class="card-title"><b>Age:</b> {{ form.age }} ans</h4>
                                                            <h4 class="card-title"><b>{{ form.name }} {{ form.first_name
                                                                }}</b></h4>
                                                            <h4 class="card-title"><b>Member Since:</b> <b
                                                                style="color: green;"> {{ form.created_at | formatDate
                                                                }}</b></h4>
                                                            <h4 class="card-title"><b>Last Login:</b> <b
                                                                style="color: red;"> {{ form.last_sign_in_at | dateAgo
                                                                }}</b></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tasks">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card card-timeline card-plain">
                                                    <div class="card-body">
                                                        <ul class="timeline">
                                                            <li v-for="item in usertasks" :key="item.id">
                                                                <template v-if="item.note.status === 1">
                                                                    <template v-if="item.note.status_task === 0">
                                                                        <div class="timeline-badge success">
                                                                            <i class="material-icons">swap_horiz</i>
                                                                        </div>
                                                                        <div class="timeline-panel"
                                                                             v-if="item.note.status === 1">
                                                                            <div class="timeline-heading">
                                                                                <span v-text="item.note.title"
                                                                                      class="badge badge-info"></span>
                                                                            </div>
                                                                            <div class="timeline-body">
                                                                                <p v-html="item.note.body.substr(0 ,250) + '...'"></p>
                                                                            </div>
                                                                            <hr>
                                                                            <br>
                                                                            <div class="timeline-footer">
                                                                                <div class="card-footer">
                                                                                    <div class="author">
                                                                                        <router-link
                                                                                            :to="{ path: `/admin/tasks/u/${item.administrator.username}` }">
                                                                                            <img
                                                                                                :src="item.administrator.avatar"
                                                                                                :alt="item.administrator.name"
                                                                                                class="avatar img-raised">
                                                                                            <span
                                                                                                v-if="item.statusOnline"
                                                                                                class="badge badge-success"
                                                                                                title="Administrator Online">
                                                                                        <b>{{ (item.administrator.name.length > 15 ? item.administrator.name.substring(0,15)+ "..." : item.administrator.name) | upText }}</b>
                                                                                    </span>
                                                                                            <span
                                                                                                v-else="item.statusOnline"
                                                                                                class="badge badge-danger"
                                                                                                title="Administrator Offline">
                                                                                        <b>{{ (item.administrator.name.length > 15 ? item.administrator.name.substring(0,15)+ "..." : item.administrator.name) | upText }}</b>
                                                                                    </span>
                                                                                        </router-link>
                                                                                    </div>
                                                                                    <div class="stats ml-auto">
                                                                                        <i class="material-icons">schedule</i>
                                                                                        <b>{{ item.updated_at | dateAgo
                                                                                            }}</b>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="text-right">
                                                                                    <!--<button @click="viewItem(item)" class="btn btn-warning btn-round btn-just-icon btn-sm" title="View Note">
                                                                                    <span class="btn-label">
                                                                                        <i class="material-icons">visibility</i>
                                                                                    </span>
                                                                                    </button>-->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </template>
                                                                </template>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal View Note -->
                                        <div class="modal fade" id="viewNew" tabindex="-1" role="dialog">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="timeline-heading text-center">
                                                            <span v-text="form.title" class="badge badge-info"></span>
                                                        </div>
                                                        <br>
                                                        <div class="form-group text-justify">
                                                            <span v-html="form.body"></span>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                                data-dismiss="modal">
                                                            <span class="btn-label">
                                                                <i class="material-icons">clear</i>
                                                                <b>Close</b>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="link9">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Legal info of the product</h4>
                                                <p class="card-category">
                                                    More information here
                                                </p>
                                            </div>
                                            <div class="card-body">
                                                Completely synergize resource taxing relationships via premier niche
                                                markets. Professionally cultivate one-to-one customer service with
                                                robust ideas.
                                                <br>
                                                <br>Dynamically innovate resource-leveling customer service for state of
                                                the art customer service.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="link10">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Help center</h4>
                                                <p class="card-category">
                                                    More information here
                                                </p>
                                            </div>
                                            <div class="card-body">
                                                From the seamless transition of glass and metal to the streamlined
                                                profile, every detail was carefully considered to enhance your
                                                experience. So while its display is larger, the phone feels just right.
                                                <br>
                                                <br> Another Text. The first thing you notice when you hold the phone is
                                                how great it feels in your hand. The cover glass curves down around the
                                                sides to meet the anodized aluminum enclosure in a remarkable,
                                                simplified design.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <FooterAdmin/>
        </div>
    </div>
</template>

<script>
    import api from '../../api/mixins/collections';
    import NavAdmin from "../inc/admin/NavAdmin";
    import TopNav from "../inc/admin/TopNav";
    import FooterAdmin from "../inc/admin/FooterAdmin";

    export default {
        components: {FooterAdmin, TopNav, NavAdmin},
        props: ['company'],
        data() {
            return {
                user: {},
                usertasks: {},
                form: new Form({
                    id: '',
                    name: '',
                    first_name: '',
                    work: '',
                    sex: '',
                    age: '',
                    email: '',
                    body: '',
                    status: '',
                    username: '',
                    color_name: '',
                    color_style: '',
                    cellphone: '',
                    address: '',
                    cap: '',
                    company: '',
                    statusOnline: '',
                    avatar: '',
                    my_birthday: '',
                    country: '',
                    created_at: '',
                    last_sign_in_at: ''
                }),
                pagination: {
                    current_page: 1,
                },
            };
        },
        methods: {
            getUserColorName() {
                return 'card-header card-header-icon card-header-' + this.form.color_name;
            },
            getProgressStyle(item) {
                return 'width: ' + item.progress + '%;';
            },
            getPillsColorName() {
                let colorpills = 'nav nav-pills nav-pills-icons justify-content-center nav-pills-' + this.form.color_name;
                return colorpills;
            },
            getImagesave() {
                return (this.form.avatar.length > 200) ? this.form.avatar : this.form.avatar;
            },
            getProgressLine(item) {
                return `progress progress-line-${item.administrator.color_name}`;
            },
            getProgressBar(item) {
                return `progress-bar progress-bar-${item.administrator.color_name}`;
            },
        },
        created() {
            //Start Progress bar
            this.$Progress.start();
            api.ShowUser(this.$route.params.username).then(({data}) => (this.form.fill(data.data)));
            api.tasksbyuser(this.$route.params.username + '?page=' + this.pagination.current_page)
                .then((response) => {
                    this.loaded = true;
                    this.usertasks = response.data.data;
                    this.pagination = response.data.meta;
                    //End Progress bar
                    this.$Progress.finish();
                });
            axios.get("/admin/api/account/profile").then(response => {
                this.user = response.data.data
            });
            //End Progress bar
            this.$Progress.finish();
        }
    };
</script>

<style scoped>

</style>
