<template>
    <div>
        <vue-progress-bar/>
        <form id="RegisterValidation" @submit.prevent="updateItem()" role="form"
              method="POST" action="" accept-charset="UTF-8" @keydown="form.onKeydown($event)">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div style="padding-top: -100px;" class="profile text-center ">
                        <div class="avatar">
                            <div class="fileinput fileinput-new text-center"
                                 data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-circle img-raised">
                                    <img :src="getImagesave()" :alt="form.name">
                                </div>
                                <div
                                    class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                                <div>
										<span :class="getUserColorName()">
											<span id="button_hover" class="fileinput-new">
												<i class="material-icons">photo</i>
												<b class="title_hover"> Add Profile</b>
											</span>
											<span class="fileinput-exists">
												<i class="material-icons">edit</i>
												<b> Change</b>
											</span>
											  <input @change="updateImage" id="avatar" type="file" class="form-control"
                                                     name="avatar"/>
										</span>
                                    <br/>
                                    <a href="#pablo"
                                       class="btn btn-danger btn-round fileinput-exists"
                                       data-dismiss="fileinput"><i class="fa fa-times"></i>
                                        <b>Remove</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto expo">
                    <div class="card cardlogin">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 ml-auto mr-auto">
                                    <!-- Tabs with icons on Card -->
                                    <br>
                                    <div class="card card-nav-tabs">
                                        <div :class="getUserPanelName()">
                                            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                            <div class="nav-tabs-navigation">
                                                <div class="nav-tabs-wrapper">
                                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                                        <li style="padding-left: 15px;" class="nav-item">
                                                            <a class="nav-link active" href="#profile"
                                                               data-toggle="tab">
                                                                <i class="material-icons">face</i>
                                                                <b>Profile</b>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#profilePersonal"
                                                               data-toggle="tab">
                                                                <i class="material-icons">account_circle</i>
                                                                <b>Personal infos</b>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#messages" data-toggle="tab">
                                                                <i class="material-icons">lock_outline</i>
                                                                <b>Change password</b>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#settings" data-toggle="tab">
                                                                <i class="material-icons">photo</i>
                                                                <b>Change cover Image</b>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="profile">
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-4 row-block">
                                                            <div class="form-group">
                                                                <label>Pseudo</label>
                                                                <input v-model="form.username" type="text"
                                                                       name="username"
                                                                       class="form-control"
                                                                       :class="{ 'is-invalid': form.errors.has('username') }">
                                                                <has-error :form="form"
                                                                           field="username"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 row-block">
                                                            <div class="form-group">
                                                                <label>Last Name</label>
                                                                <input v-model="form.name" type="text" name="name"
                                                                       class="form-control"
                                                                       :class="{ 'is-invalid': form.errors.has('name') }">
                                                                <has-error :form="form" field="name"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 row-block">
                                                            <div class="form-group">
                                                                <label>First Name</label>
                                                                <input v-model="form.first_name" type="text"
                                                                       name="first_name"
                                                                       class="form-control"
                                                                       :class="{ 'is-invalid': form.errors.has('first_name') }">
                                                                <has-error :form="form"
                                                                           field="first_name"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-5 row-block">
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                                <input v-model="form.email" type="email"
                                                                       name="email"
                                                                       class="form-control"
                                                                       :class="{ 'is-invalid': form.errors.has('email') }">
                                                                <has-error :form="form" field="email"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3 row-block">
                                                            <div class="form-group">
                                                                <label>Phone</label>
                                                                <input v-model="form.cellphone" type="text"
                                                                       name="cellphone"
                                                                       class="form-control"
                                                                       :class="{ 'is-invalid': form.errors.has('cellphone') }">
                                                                <has-error :form="form"
                                                                           field="cellphone"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 row-block">
                                                            <div class="form-group">
                                                                <label>Your profession?</label>
                                                                <input v-model="form.work" type="text" name="work"
                                                                       class="form-control"
                                                                       :class="{ 'is-invalid': form.errors.has('work') }">
                                                                <has-error :form="form" field="work"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 row-block">
                                                            <div class="form-group">
                                                                <label>Color</label>
                                                                <select name="color_name" v-model="form.color_name"
                                                                        id="color_name" class="form-control"
                                                                        :class="{ 'is-invalid': form.errors.has('color_name') }">
                                                                    <option value="" disabled>Choose Your Color
                                                                    </option>
                                                                    <option v-for="color in colors" :key="color.id"
                                                                            :value="color.slug">{{color.color_name}}
                                                                    </option>
                                                                </select>
                                                                <has-error :form="form"
                                                                           field="color_name"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 row-block">
                                                            <div class="form-group">
                                                                <label>Sex</label>
                                                                <select name="sex" v-model="form.sex" id="sex"
                                                                        class="form-control"
                                                                        :class="{ 'is-invalid': form.errors.has('sex') }">
                                                                    <option value="" disabled>Choose Your Sex
                                                                    </option>
                                                                    <option value="Male">Male</option>
                                                                    <option value="Female">Female</option>
                                                                </select>
                                                                <has-error :form="form" field="sex"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 ml-auto mr-auto row-block">
                                                            <div class="form-group">
                                                                <label>Country</label>
                                                                <select name="country_id" v-model="form.country_id"
                                                                        id="country" class="form-control"
                                                                        :class="{ 'is-invalid': form.errors.has('country_id') }">
                                                                    <option value="" disabled>Choose Your Country
                                                                    </option>
                                                                    <option v-for="country in countries"
                                                                            :key="country.name"
                                                                            :value="country.id">{{country.name}}
                                                                    </option>
                                                                </select>
                                                                <has-error :form="form" field="country_id"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br/>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="media-body">
                                                                <label class="bmd-label-floating">Description <span
                                                                    style="color: red;">*</span></label>
                                                                <vue-editor v-model="form.body"
                                                                            :editorToolbar="customToolbar"></vue-editor>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br/>
                                                </div>
                                                <div class="tab-pane" id="profilePersonal">
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-sm-7 row-block">
                                                            <div class="form-group">
                                                                <label>Address</label>
                                                                <input v-model="form.address" type="text"
                                                                       name="text"
                                                                       class="form-control"
                                                                       :class="{ 'is-invalid': form.errors.has('address') }">
                                                                <has-error :form="form" field="address"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-5 row-block">
                                                            <div class="form-group">
                                                                <label>Cap</label>
                                                                <input v-model="form.cap" type="number"
                                                                       name="cap"
                                                                       class="form-control"
                                                                       :class="{ 'is-invalid': form.errors.has('cap') }">
                                                                <has-error :form="form"
                                                                           field="cap"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br/>
                                                    <div class="row">
                                                        <div class="col-sm-4 row-block">
                                                            <div class="form-group">
                                                                <label>Facebook Username</label>
                                                                <input v-model="form.fblink" type="text"
                                                                       name="fblink"
                                                                       class="form-control"
                                                                       :class="{ 'is-invalid': form.errors.has('fblink') }">
                                                                <has-error :form="form" field="fblink"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 row-block">
                                                            <div class="form-group">
                                                                <label>Instagram Username</label>
                                                                <input v-model="form.instalink" type="text"
                                                                       name="instalink"
                                                                       class="form-control"
                                                                       :class="{ 'is-invalid': form.errors.has('instalink') }">
                                                                <has-error :form="form"
                                                                           field="instalink"></has-error>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 row-block">
                                                            <div class="form-group">
                                                                <label>Twitter Username</label>
                                                                <input v-model="form.twlink" type="text"
                                                                       name="twlink"
                                                                       class="form-control"
                                                                       :class="{ 'is-invalid': form.errors.has('twlink') }">
                                                                <has-error :form="form"
                                                                           field="twlink"></has-error>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="messages">
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-6 ml-auto mr-auto expo">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <form @submit.prevent="changePassword()" role="form"
                                                                          method="POST" action="" accept-charset="UTF-8"
                                                                          @keydown="form.onKeydown($event)">
                                                                        <div class="card-body">
                                                                            <div class="form-group">
                                                                                <label class="bmd-label-floating">Current
                                                                                    Password</label>
                                                                                <input v-model="form.old_password"
                                                                                       type="password"
                                                                                       name="old_password"
                                                                                       class="form-control"
                                                                                       :class="{ 'is-invalid': form.errors.has('old_password') }">
                                                                                <has-error :form="form"
                                                                                           field="old_password"></has-error>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="bmd-label-floating">New
                                                                                    Password</label>
                                                                                <input v-model="form.password"
                                                                                       type="password" name="password"
                                                                                       class="form-control"
                                                                                       :class="{ 'is-invalid': form.errors.has('password') }">
                                                                                <has-error :form="form"
                                                                                           field="password"></has-error>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="bmd-label-floating">Confirm
                                                                                    Password</label>
                                                                                <input
                                                                                    v-model="form.password_confirmation"
                                                                                    type="password"
                                                                                    name="password_confirmation"
                                                                                    class="form-control"
                                                                                    :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                                                                                <has-error :form="form"
                                                                                           field="password_confirmation"></has-error>
                                                                            </div>
                                                                        </div>
                                                                        <hr>
                                                                        <div class="submit">
                                                                            <div class="text-center">
                                                                                <button id="button_hover"
                                                                                        :disabled="form.busy"
                                                                                        type="submit"
                                                                                        class="btn btn-success btn-raised btn-round">
                                                                                    <span class="btn-label">
                                                                                        <i class="material-icons">vpn_key</i>
                                                                                    </span>
                                                                                    <b class="title_hover">Change
                                                                                        Password</b>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>
                                                <div class="tab-pane" id="settings">
                                                    <div class="row">
                                                        <div class="col-md-8 ml-auto mr-auto text-center">
                                                            <br>
                                                            <p>In this section, you can update your Cover Image
                                                                (Bacground image)</p>
                                                            <br>
                                                            <div class="col-md-6 ml-auto mr-auto">
                                                                <div style="padding-top: -100px;"
                                                                     class="profile text-center">
                                                                    <div
                                                                        class="fileinput fileinput-new text-center"
                                                                        data-provides="fileinput">
                                                                        <div
                                                                            class="fileinput-new thumbnail img-raised"
                                                                            style="border-radius: 25px;">
                                                                            <img :src="getImageCoversave()"
                                                                                 :alt="form.name">
                                                                        </div>
                                                                        <div
                                                                            class="fileinput-preview fileinput-exists thumbnail">
                                                                        </div>
                                                                        <div>
																				<span
                                                                                    class="btn btn-raised btn-round btn-info btn-file">
																					<span class="fileinput-new">
																						<i class="material-icons">photo</i>
																						<b>Add Cover Image</b>
																					</span>
																					<span class="fileinput-exists">
																						<i class="material-icons">edit</i>
																						<b>Change</b>
																					</span>
                                                                                      <input @change="updateImageCover"
                                                                                             id="avatarcover"
                                                                                             type="file"
                                                                                             class="form-control"
                                                                                             name="avatarcover"/>
																			    	</span>
                                                                            <br/>
                                                                            <a href="#pablo"
                                                                               class="btn btn-danger btn-round fileinput-exists"
                                                                               data-dismiss="fileinput">
                                                                                <i class="material-icons">cancel</i>
                                                                                <b>Remove</b>
                                                                            </a>
                                                                        </div>
                                                                        <br>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="submit text-center">
                                            <button id="button_hover" :disabled="form.busy"
                                                    class="btn btn-success btn-raised btn-round" type="submit">
												<span class="btn-label">
													<i class="material-icons">save_alt</i>
												</span>
                                                <b class="title_hover">Update</b>
                                            </button>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                colors: {},
                countries: {},
                form: new Form({
                    id: '',
                    name: '',
                    first_name: '',
                    work: '',
                    sex: '',
                    age: '',
                    email: '',
                    body: '',
                    username: '',
                    color_name: '',
                    color_style: '',
                    cellphone: '',
                    fblink: '',
                    instalink: '',
                    twlink: '',
                    address: '',
                    cap: '',
                    company: '',
                    avatar: '',
                    avatarcover: '',
                    my_birthday: '',
                    country_id: '',
                }),
                customToolbar: [
                    [{'header': [1, 2, 3, 4, 5, 6, false]}],
                    [{'font': []}],
                    //[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                    //[{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{'align': []}],
                    //[{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote', 'code-block'],
                    //['blockquote', 'code-block'],
                    //[{'list': 'ordered'}, {'list': 'bullet'}, {'list': 'check'}],
                    //[{ 'script': 'sub'}, { 'script': 'super' }],
                    //[{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{'color': []}, {'background': []}],
                    //['link', 'image', 'video', 'formula'],
                    ['link'],
                    //[{ 'direction': 'rtl' }],
                    ['clean'],
                    //['emoji'],
                ],
            }
        },
        methods: {
            getUserColorName() {
                let colorUser = 'btn btn-raised btn-round btn-file btn-' + this.form.color_name;
                return colorUser;
            },
            getUserPanelName() {
                let colorPanel = 'card-header card-header-' + this.form.color_name;
                return colorPanel;
            },
            getImagesave() {
                let avatar = (this.form.avatar.length > 200) ? this.form.avatar : this.form.avatar;
                return avatar;
            },
            getImageCoversave() {
                let avatarcover = (this.form.avatarcover.length > 200) ? this.form.avatarcover : this.form.avatarcover;
                return avatarcover;
            },
            updateImage(e) {
                let file = e.target.files[0];
                let reader = new FileReader();
                let limit = 5024 * 5024 * 2;
                if (file['size'] > limit) {
                    swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'You are uploading a large file',
                        buttonsStyling: false,
                        confirmButtonClass: "btn btn-success",
                    });
                    return false;
                }
                reader.onloadend = (file) => {
                    this.form.avatar = reader.result;
                };
                reader.readAsDataURL(file);
            },
            updateImageCover(e) {
                let file = e.target.files[0];
                let reader = new FileReader();
                let limit = 6000775;
                if (file['size'] > limit) {
                    swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'You are uploading a large file',
                        buttonsStyling: false,
                        confirmButtonClass: "btn btn-success",
                    });
                    return false;
                }
                reader.onloadend = (file) => {
                    this.form.avatarcover = reader.result;
                };
                reader.readAsDataURL(file);
            },
            updateItem() {
                //Start Progress bar
                this.$Progress.start();

                this.form.put('/admin/api/account/user/')
                    .then(() => {
                        //Insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function () {
                            notify.update({
                                'type': 'success',
                                'message': '<strong>Profile updated Successfully.</strong>',
                                'progress': 100
                            });
                        }, 2000);
                        //End Progress bar
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        toastr.error('', 'Informations user incorrects.');
                    })
            },
            changePassword() {
                //Start Progress bar
                this.$Progress.start();
                this.form.put('/admin/change_password')
                    .then(() => {
                        //Insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function () {
                            notify.update({
                                'type': 'success',
                                'message': '<strong>Password updated successfully.</strong>',
                                'progress': 75
                            });
                        }, 2000);
                        //Fin insertion de l'alert !

                        //End Progres bar
                        this.$Progress.finish();

                        //Reset all the field
                        this.form.reset();
                    })
                    .catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        toastr.error('', 'Passwords Incorrects.');
                    })
            }
        },
        created() {
            //Start Progress bar
            this.$Progress.start();
            const url = "/admin/api/account/user";
            axios.get(url).then(({data}) => (this.form.fill(data)));
            axios.get("/admin/api/colors").then(({data}) => (this.colors = data.data));
            axios.get("/api/countries").then(({data}) => (this.countries = data.data));
            //End Progress bar
            this.$Progress.finish()
        }
    }
</script>

<style scoped>

</style>
