<template>
    <div>
         <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 expo">
                                        <div class="card">
                                            <div :class="getColorCardUser()" style="margin-top: -5px;">
                                                <div class="card-icon">
                                                    <i class="material-icons">person_outline</i>
                                                </div>
                                                <br>
                                                <h4 class="card-title" style="margin-top: 0px;"><b>Create</b> -
                                                    <small class="category">New Member</small>
                                                </h4>
                                            </div>
                                            <br>
                                            <div class="card-body">
                                                <form id="RegisterValidation" @submit.prevent="createItem()" role="form"
                                                      method="POST" action="" accept-charset="UTF-8" @keydown="form.onKeydown($event)">
                                                         <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="bmd-label-floating"></label>
                                                                    <input v-model="form.fullname" type="text" name="fullname"
                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('fullname') }" placeholder="Full Name">
                                                                    <has-error :form="form" field="fullname"></has-error>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="bmd-label-floating"></label>
                                                                    <input v-model="form.role" type="text" name="role"
                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('role') }" placeholder="Member Role">
                                                                    <has-error :form="form" field="role"></has-error>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="bmd-label-floating"></label>
                                                                    <input v-model="form.fblink" type="text" name="fblink"
                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('fblink') }" placeholder="Facebook Username">
                                                                    <has-error :form="form" field="fblink"></has-error>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="bmd-label-floating"></label>
                                                                    <input v-model="form.instlink" type="text" name="instlink"
                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('instlink') }" placeholder="Instagram Username">
                                                                    <has-error :form="form" field="instlink"></has-error>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="bmd-label-floating"></label>
                                                                    <input v-model="form.twlink" type="text" name="twlink"
                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('twlink') }" placeholder="Tweeter Username">
                                                                    <has-error :form="form" field="twlink"></has-error>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="bmd-label-floating"></label>
                                                                    <input v-model="form.linklink" type="text" name="linklink"
                                                                           class="form-control" :class="{ 'is-invalid': form.errors.has('linklink') }" placeholder="Linkedin Username">
                                                                    <has-error :form="form" field="linklink"></has-error>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-6 ml-auto mr-auto">
                                                                <div style="padding-top: -100px;" class="profile text-center ">
                                                                    <div class="avatar">
                                                                        <div class="fileinput fileinput-new text-center"
                                                                             data-provides="fileinput">
                                                                            <div class="fileinput-new thumbnail img-circle img-raised">
                                                                                <img v-show="!editmode" src="https://www.kazoucoin.com/assets/img/default-avatar.png" alt="...">
                                                                                <img v-show="editmode" :src="getImagesave()" :alt="form.fullname">
                                                                            </div>
                                                                            <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                                                                            <div>
                                                                                <span class="btn btn-raised btn-round btn-info btn-file">
                                                                                    <span class="fileinput-new">
                                                                                        <b> Add Photo</b>
                                                                                    </span>
                                                                                    <span class="fileinput-exists">
                                                                                        <i class="material-icons">edit</i>
                                                                                        <b> Change</b>
                                                                                    </span>
                                                                                    <input @change="updateImage" id="photo" type="file" name="photo"
                                                                                        class="form-control" :class="{ 'is-invalid': form.errors.has('photo') }"/>
                                                                                </span>
                                                                                <br/>
                                                                                <a href="#pablo"
                                                                                   class="btn btn-danger btn-round fileinput-exists"
                                                                                   data-dismiss="fileinput"><i class="fa fa-times"></i>
                                                                                    <b>Remove</b>
                                                                                </a>
                                                                            </div>
                                                                            <has-error :form="form" field="photo"></has-error>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="card card-nav-tabs">
                                                                <div class="card-body">
                                                                    <div class="tab-content">
                                                                        <div class="tab-pane active" id="profile">
                                                                            <div class="form-group">
                                                                                <label class="bmd-label-floating">Description <span class="title-red">*</span></label>
                                                                                <br>
                                                                                <vue-editor v-model="form.body" :editorToolbar="customToolbar"></vue-editor>
                                                                                <div class="form-check">
                                                                                    <label class="form-check-label pull-right">
                                                                                        You can use the
                                                                                        <a href="https://help.github.com/articles/getting-started-with-writing-and-formatting-on-github/" class="text-danger" target="_blank">
                                                                                            Markdown here
                                                                                        </a>
                                                                                        <span class="form-check-sign"></span>
                                                                                    </label>
                                                                                </div>
                                                                                <has-error :form="form" field="body"></has-error>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="submit">
                                                        <div class="text-center">
                                                            <router-link :to="{ name: 'about.index' }" class="btn btn-danger btn-round" id="button_hover">
                                                                <i class="material-icons">chevron_left</i>
                                                                <b class="title_hover">Back</b>
                                                            </router-link>
                                                            <button id="button_hover" :disabled="form.busy" type="submit" class="btn btn-success btn-raised btn-round">
                                                                <i class="material-icons">save_alt</i>
                                                                <b class="title_hover">Save</b>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
         <FooterAdmin/>
        </div>       
    </div>
</template>
<script>
    import NavAdmin from "../../inc/admin/NavAdmin";
    import TopNav from "../../inc/admin/TopNav";
    import FooterAdmin from "../../inc/admin/FooterAdmin";
    import StatusAdmin from "../../inc/admin/StatusAdmin";

    export default {
        components: {StatusAdmin, FooterAdmin, TopNav, NavAdmin},
        data() {
            return {
                loaded: false,
                editmode: false,
                abouts:{},
                user: {},
                form: new Form({
                    id: '',
                    role: '',
                    ip: '',
                    body: '',
                    fblink: '',
                    photo: '',
                    twlink: '',
                    instlink: '',
                    fullname: '',
                    linklink: '',
                    googlelink: '',
                    dribbblelink: '',
                    user_id: '',
                    status: '',
                    slug: ''
                }),
                customToolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'font': [] }],
                    //[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                    //[{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ 'align': [] }],
                    //[{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote', 'code-block'],
                    //['blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                    //[{ 'script': 'sub'}, { 'script': 'super' }],
                    //[{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{ 'color': [] }, { 'background': [] }],
                    //['link', 'image', 'video', 'formula'],
                    ['link'],
                    //[{ 'direction': 'rtl' }],
                    ['clean'],
                    //['emoji'],
                ]
            }
        },
        methods: {
            getImagesave(){
                let photo = (this.form.photo.length > 200) ? this.form.photo : this.form.photo;
                return photo;
            },
            getColorCardUser(){
                return 'card-header card-header-icon card-header-' + this.user.color_name;
            }, 
            updateImage(e){
                //console.log('uploadert')
                let file = e.target.files[0];
                console.log(file);
                let reader = new FileReader();
                if (file['size'] < 6000775){
                    reader.onloadend = (file) => {
                        //console.log('RESULT',reader.result)
                        this.form.photo = reader.result
                    };
                    reader.readAsDataURL(file);
                }else{
                    this.$Progress.fail();
                    Swal.fire({
                        type: 'error',
                        title: 'Your image is verry big',
                        buttonsStyling: false,
                        confirmButtonClass: "btn btn-success",
                    });
                }
            },
            createItem() {
                //Start Progress bar
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.post("/admin/abouts")
                    .then(() => {
                        //Insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Member Created Successfully.</strong>', 'progress': 75});
                        }, 2000);
                        setTimeout(() => this.$router.push({ name: 'about.index' }));

                        //End Progress bar
                        this.$Progress.finish();
                    }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                })
            }
        },
        created() {
            //Start Progress bar
            this.$Progress.start();
            axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
            axios.get("/admin/api/abouts").then(({data}) => (this.abouts = data.data));
            //End Progress bar
            this.$Progress.finish();
        }
    }
</script>

<style scoped>

</style>
