<template>
    <div class="text-center">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="loading">Please wait a moment ...</div>
    </div>
</template>

<script>
    export default {
        name: "Loaded"
    }
</script>

<style scoped>

</style>
