<template>
    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="/" target="_blank">
                           kazoucoin
                        </a>
                    </li>
                    <li>
                        <a href="/about" target="_blank">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="/faqs" target="_blank">
                            FAQs
                        </a>
                    </li>
                    <li>
                        <a href="/blog" target="_blank">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="/orders" target="_blank">
                            Services
                        </a>
                    </li>
                    <li>
                        <a href="/contact-us" target="_blank">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                <h6 class="title-grey">&copy; 2018 -
                    {{ new Date().getFullYear() }}. Realized by <a href="/" class="title-red">KazouGroup Srl</a></h6>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "FooterAdmin"
    }
</script>

<style scoped>

</style>
