<template>
    <div>
        <div :data-color="user.color_style" :data-image="user.avatar" class="sidebar" data-background-color="black">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
        -->
            <div class="logo">
                <a class="simple-text logo-mini" href="/" target="_blank">
                    <img src="/images/kazoucoin-favicon.png" alt="KazouCoin Logo">
                </a>
                <a class="simple-text logo-normal" href="/" target="_blank">
                    <b style="font-size: 80%;">Kazoucoin</b>
                </a>
            </div>
            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img :src="user.avatar"/>
                    </div>
                    <div class="user-info">
                        <a class="username" data-toggle="collapse" href="#collapseExample">
					<span>
						<b v-text="user.name"></b>
						<b class="caret"></b>
					</span>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'admin.account' }" class="nav-link">
                                        <span class="sidebar-mini"><b>MP</b></span>
                                        <span class="sidebar-normal"><b>My Profile</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item ">
                                    <router-link :to="{ name: 'admin.edit_profile' }" class="nav-link">
                                        <span class="sidebar-mini">EP</span>
                                        <span class="sidebar-normal"><b>Edit Profile</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item ">
                                    <router-link :to="{ name: 'messages.index' }" class="nav-link">
                                        <span class="sidebar-mini">MB</span>
                                        <span class="sidebar-normal"><b>Message Box</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item ">
                                    <router-link :to="{ path: `/admin/tasks/u/${user.username}` }" class="nav-link">
                                        <span class="sidebar-mini">TD</span>
                                        <span class="sidebar-normal"><b>Task Todo</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item ">
                                    <router-link :to="{ name: 'admin.change_password' }" class="nav-link">
                                        <span class="sidebar-mini">CP</span>
                                        <span class="sidebar-normal"><b>Change Password</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"><b>MS</b></span>
                                        <span class="sidebar-normal"><b>Member since:
									{{ user.created_at | myDate}}
                                        </b>
								</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"><b>CL</b></span>
                                        <span class="sidebar-normal"><b>Current Login:
									{{ user.current_sign_in_at | dateAgo}}</b>
								</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a @click="navLogout()" class="nav-link" id="btnShowAlertLogout"
                                       style="cursor:pointer;">
                                        <span class="sidebar-mini"><b>L</b></span>
                                        <span class="sidebar-normal"><b>Logout</b></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <!-- Dashboard -->
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">
                            <i class="material-icons">dashboard</i>
                            <p><b>Dashboard</b></p>
                        </a>
                    </li>
                    <!-- Links -->
                    <li class="nav-item">
                        <router-link :to="{ path: '/admin/links' }" class="nav-link">
                            <i class="material-icons">http</i>
                            <p><b>Links</b></p>
                        </router-link>
                    </li>
                    <!-- Countries -->
                    <li class="nav-item">
                        <router-link :to="{ path: '/admin/countries' }" class="nav-link">
                            <i class="material-icons">flag</i>
                            <p><b>Countries</b></p>
                        </router-link>
                    </li>
                    <!-- Devises -->
                    <li class="nav-item">
                        <router-link :to="{ path: '/admin/devises' }" class="nav-link">
                            <i class="material-icons">attach_money</i>
                            <p><b>Currency</b></p>
                        </router-link>
                    </li>
                    <!-- Colors -->
                    <li class="nav-item">
                        <router-link :to="{ path: '/admin/colors' }" class="nav-link">
                            <i class="material-icons">color_lens</i>
                            <p><b>colors</b></p>
                        </router-link>
                    </li>
                    <!-- Tags -->
                    <li class="nav-item">
                        <router-link :to="{ path: '/admin/tag' }" class="nav-link">
                            <i class="material-icons">local_offer</i>
                            <p><b>Tags</b></p>
                        </router-link>
                    </li>
                    <!-- Priorities -->
                    <li class="nav-item">
                        <router-link :to="{ path: '/admin/priorities' }" class="nav-link">
                            <i class="material-icons">low_priority</i>
                            <p><b>Priorities Notes & Tasks</b></p>
                        </router-link>
                    </li>
                    <!-- Status Tasks -->
                    <li class="nav-item">
                        <router-link :to="{ path: '/admin/status' }" class="nav-link">
                            <i class="material-icons">control_point_duplicate</i>
                            <p><b>Status Tasks</b></p>
                        </router-link>
                    </li>
                    <!-- Documentation -->
                    <li class="nav-item">
                        <router-link :to="{ path: '/admin/documentations/' }" class="nav-link">
                            <i class="material-icons">ballot</i>
                            <p><b>Documentations</b></p>
                        </router-link>
                    </li>
                    <!-- Subscribe Newletters -->
                    <li class="nav-item">
                        <router-link :to="{ path: '/admin/subscribe_email' }" class="nav-link">
                            <i class="material-icons">unsubscribe</i>
                            <p><b>Newletters</b></p>
                        </router-link>
                    </li>
                    <!-- Articles Site -->
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#ordersExamples">
                            <i class="material-icons">card_giftcard</i>
                            <p><b>Orders</b>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="ordersExamples">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"><b>IF</b></span>
                                        <span class="sidebar-normal"><b>Informatiques</b></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'admin.beaute' }" class="nav-link">
                                        <span class="sidebar-mini"><b>BE</b></span>
                                        <span class="sidebar-normal"><b>Beautes</b></span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Categories Faqs -->
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#faqsExamples">
                            <i class="material-icons">contact_support</i>
                            <p><b>FAQs</b>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="faqsExamples">
                            <ul class="nav">
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/category-faq' }" class="nav-link">
                                        <span class="sidebar-mini"><b>CF</b></span>
                                        <span class="sidebar-normal"><b>Category FAQs</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/faqs' }" class="nav-link">
                                        <span class="sidebar-mini"><b>FQ</b></span>
                                        <span class="sidebar-normal"><b>FAQs</b></span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Pages -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                            <i class="material-icons">style</i>
                            <p><b>Pages</b>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="pagesExamples">
                            <ul class="nav">
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/abouts' }" class="nav-link">
                                        <span class="sidebar-mini"><b>AM</b></span>
                                        <span class="sidebar-normal"><b>About Members</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/presentations' }" class="nav-link">
                                        <span class="sidebar-mini"><b>AP</b></span>
                                        <span class="sidebar-normal"><b>About Presentations</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/informations' }" class="nav-link">
                                        <span class="sidebar-mini"><b>IS</b></span>
                                        <span class="sidebar-normal"><b>Informations Site</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/how_register' }" class="nav-link">
                                        <span class="sidebar-mini"><b>RI</b></span>
                                        <span class="sidebar-normal"><b>Registration infos</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/contact/speciality' }" class="nav-link">
                                        <span class="sidebar-mini"><b>SP</b></span>
                                        <span class="sidebar-normal"><b>Specialities</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/testimonials' }" class="nav-link">
                                        <span class="sidebar-mini"><b>TE</b></span>
                                        <span class="sidebar-normal"><b>Testimonials</b></span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Aide & Contacts -->
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#aidesExamples">
                            <i class="material-icons">info</i>
                            <p><b>Aide & Contact</b>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="aidesExamples">
                            <ul class="nav">
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/aide/contact_themes' }" class="nav-link">
                                        <span class="sidebar-mini"><b>AT</b></span>
                                        <span class="sidebar-normal"><b>Aide Themes</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/demande/contact_demandes' }" class="nav-link">
                                        <span class="sidebar-mini"><b>AD</b></span>
                                        <span class="sidebar-normal"><b>Aide Demandes</b></span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- All Categories Orders & Events -->
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#aidesCategories">
                            <i class="material-icons">category</i>
                            <p><b>Categories</b>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="aidesCategories">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" data-toggle="collapse" href="#componentsEvent">
                                        <span class="sidebar-mini"><b>EV</b></span>
                                        <span class="sidebar-normal"><b>Events</b>
									<b class="caret"></b>
								</span>
                                    </a>
                                    <div class="collapse" id="componentsEvent">
                                        <ul class="nav">
                                            <li class="nav-item">
                                                <router-link :to="{ path: '/admin/category-event' }" class="nav-link">
                                                    <span class="sidebar-mini"><b>CE</b></span>
                                                    <span class="sidebar-normal"><b>Categories Events</b></span>
                                                </router-link>
                                            </li>
                                            <li class="nav-item">
                                                <router-link :to="{ path: '/admin/category-menu-event' }"
                                                             class="nav-link">
                                                    <span class="sidebar-mini"><b>ME</b></span>
                                                    <span class="sidebar-normal"><b>Menu Categories Events</b></span>
                                                </router-link>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse" href="#componentsOrders">
                                        <span class="sidebar-mini"><b>OD</b></span>
                                        <span class="sidebar-normal"><b>Orders</b>
									<b class="caret"></b>
								</span>
                                    </a>
                                    <div class="collapse" id="componentsOrders">
                                        <ul class="nav">
                                            <li class="nav-item">
                                                <router-link :to="{ path: '/admin/category-order' }" class="nav-link">
                                                    <span class="sidebar-mini"><b>CO</b></span>
                                                    <span class="sidebar-normal"><b>Categories Orders</b></span>
                                                </router-link>
                                            </li>
                                            <li class="nav-item">
                                                <router-link :to="{ path: '/admin/category-menu-order' }"
                                                             class="nav-link">
                                                    <span class="sidebar-mini"><b>MO</b></span>
                                                    <span class="sidebar-normal"><b>Menu Categories Orders</b></span>
                                                </router-link>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Slides Pages -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#slideExamples">
                            <i class="material-icons">perm_media</i>
                            <p><b>Slides Page</b>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="slideExamples">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <router-link :to="{ path: '/admin/slide-about-us' }" class="nav-link">
                                        <span class="sidebar-mini"><b>AS</b></span>
                                        <span class="sidebar-normal"><b>About Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/slide_concept' }" class="nav-link">
                                        <span class="sidebar-mini"><b>CS</b></span>
                                        <span class="sidebar-normal"><b>Concept Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/slide_contact-us' }" class="nav-link">
                                        <span class="sidebar-mini"><b>CS</b></span>
                                        <span class="sidebar-normal"><b>Contact Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/slide_cookie' }" class="nav-link">
                                        <span class="sidebar-mini"><b>CS</b></span>
                                        <span class="sidebar-normal"><b>Cookies Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/slide_evenement' }" class="nav-link">
                                        <span class="sidebar-mini"><b>EV</b></span>
                                        <span class="sidebar-normal"><b>Events Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/slide_faq' }" class="nav-link">
                                        <span class="sidebar-mini"><b>FS</b></span>
                                        <span class="sidebar-normal"><b>FAQs Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item" v-if="$auth.can('access_permission')">
                                    <router-link :to="{ path: '/admin/slide_home' }" class="nav-link">
                                        <span class="sidebar-mini"><b>HS</b></span>
                                        <span class="sidebar-normal"><b>Home Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/slide_licence' }" class="nav-link">
                                        <span class="sidebar-mini"><b>LS</b></span>
                                        <span class="sidebar-normal"><b>Licences Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/slide_mentionslegale' }" class="nav-link">
                                        <span class="sidebar-mini"><b>MS</b></span>
                                        <span class="sidebar-normal"><b>Mentions Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item ">
                                    <router-link :to="{ path: '/admin/slide_order' }" class="nav-link">
                                        <span class="sidebar-mini"><b>OS</b></span>
                                        <span class="sidebar-normal"><b>Orders Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item ">
                                    <router-link :to="{ path: '/admin/slide_other' }" class="nav-link">
                                        <span class="sidebar-mini"><b>OS</b></span>
                                        <span class="sidebar-normal"><b>Others Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/slide_policy' }" class="nav-link">
                                        <span class="sidebar-mini"><b>PS</b></span>
                                        <span class="sidebar-normal"><b>Policy Slides</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/slide_testimonial' }" class="nav-link">
                                        <span class="sidebar-mini"><b>TS</b></span>
                                        <span class="sidebar-normal"><b>Testimonial Slides</b></span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Cover Page & Home Profile -->
                    <li class="nav-item" v-if="$auth.can('access_permission')">
                        <a class="nav-link" data-toggle="collapse" href="#profilepageExamples">
                            <i class="material-icons">photo_size_select_actual</i>
                            <p><b>Profile page</b>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="profilepageExamples">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"><b>HO</b></span>
                                        <span class="sidebar-normal"><b>Home profile page</b></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/covers-page' }" class="nav-link">
                                        <span class="sidebar-mini"><b>CP</b></span>
                                        <span class="sidebar-normal"><b>Cover page</b></span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Maintenance Site -->
                    <li class="nav-item " v-if="$auth.can('access_permission')">
                        <a class="nav-link" data-toggle="collapse" href="#profileExamples">
                            <i class="material-icons">build</i>
                            <p><b>Maintenance site</b>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="profileExamples">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="telescope/requests" target="_blank">
                                        <span class="sidebar-mini"><b>DT</b></span>
                                        <span class="sidebar-normal"><b>Dashboard Telescope</b></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Messages -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#contactExamples">
                            <i class="material-icons">drafts</i>
                            <p><b>Messages</b>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="contactExamples">
                            <ul class="nav">
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/demande/contact/assistance/all-assistance' }"
                                                 class="nav-link">
                                        <span class="sidebar-mini"><b>AS</b></span>
                                        <span class="sidebar-normal"><b>Assistance</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/all-contact' }" class="nav-link">
                                        <span class="sidebar-mini"><b>CM</b></span>
                                        <span class="sidebar-normal"><b>Contact Us</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item" v-if="$auth.can('access_permission')">
                                    <router-link :to="{ path: '/admin/all-work_with-us' }" class="nav-link">
                                        <span class="sidebar-mini"><b>WS</b></span>
                                        <span class="sidebar-normal"><b>Work With Us</b></span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Management Admin -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
                            <i class="material-icons">person_outline</i>
                            <p><b>Management Admin</b>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="mapsExamples">
                            <ul class="nav">
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/all-activity-log-page' }" class="nav-link">
                                        <span class="sidebar-mini"><b>AS</b></span>
                                        <span class="sidebar-normal"><b>Activity Site</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item" v-if="$auth.can('access_permission')">
                                    <router-link :to="{ path: '/admin/administrators' }" class="nav-link">
                                        <span class="sidebar-mini"><b>AD</b></span>
                                        <span class="sidebar-normal"><b>Administrators</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/notes' }" class="nav-link">
                                        <span class="sidebar-mini"><b>AN</b></span>
                                        <span class="sidebar-normal"><b>Notes</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/tasks' }" class="nav-link">
                                        <span class="sidebar-mini"><b>TA</b></span>
                                        <span class="sidebar-normal"><b>Tasks</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item" v-if="$auth.can('access_permission')">
                                    <router-link :to="{ path: '/admin/permissions' }" class="nav-link">
                                        <span class="sidebar-mini"><b>PE</b></span>
                                        <span class="sidebar-normal"><b>Permissions</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item" v-if="$auth.can('access_permission')">
                                    <router-link :to="{ path: '/admin/roles' }" class="nav-link">
                                        <span class="sidebar-mini"><b>RO</b></span>
                                        <span class="sidebar-normal"><b>Roles</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/users' }" class="nav-link">
                                        <span class="sidebar-mini"><b>US</b></span>
                                        <span class="sidebar-normal"><b>Users</b></span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Legals Mentions -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#legalsExamples">
                            <i class="material-icons">looks</i>
                            <p><b>Legal & Mention</b>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="legalsExamples">
                            <ul class="nav">
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/legal_notice' }" class="nav-link">
                                        <span class="sidebar-mini"><b>LN</b></span>
                                        <span class="sidebar-normal"><b>Legal Notice</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/licence_site' }" class="nav-link">
                                        <span class="sidebar-mini"><b>LS</b></span>
                                        <span class="sidebar-normal"><b>Licence Site</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item ">
                                    <router-link :to="{ path: '/admin/policy_privacy' }" class="nav-link">
                                        <span class="sidebar-mini"><b>PP</b></span>
                                        <span class="sidebar-normal"><b>Policy & Privacy</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item ">
                                    <router-link :to="{ path: '/admin/conditions' }" class="nav-link">
                                        <span class="sidebar-mini"><b>TC</b></span>
                                        <span class="sidebar-normal"><b>Terms & Conditions</b></span>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ path: '/admin/cookies-site' }" class="nav-link">
                                        <span class="sidebar-mini"><b>CO</b></span>
                                        <span class="sidebar-normal"><b>Cookies</b></span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        name: "NavAdmin",
        data() {
            return {
                user: {},
            }
        },
        methods: {

            /* ***** script logout navbar ****/
            navLogout() {
                Swal.fire({
                    title: 'Logout',
                    text: 'Are you sure you want to logout ?',
                    //type:'question',
                    animation: false,
                    customClass: 'animated rubberBand',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes, logout',
                    cancelButtonText: 'cancel',
                    showCancelButton: true,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();
                        //Envoyer la requet au server
                        window.location.href = '/user/logout';
                    }
                })
            },
        },
        created() {
            axios.get("/admin/api/account/user").then((response) => (this.user = response.data));
            //setInterval(() => this.loadItems(),3000);
        }
    }
</script>

<style scoped>

</style>
