<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <div class="row">
                        <div class="col-md-12 expo">
                            <div class="card card-stats">
                                <div :class="getColorCardUser()">
                                    <div class="card-icon">
                                        <i class="material-icons">brush</i>
                                    </div>
                                    <p class="card-category"><b>All Orders Beaute</b>
                                    <h3 class="card-title title-red"><b>{{beautes.length}}</b></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">brush</i><b>All Orders Beaute</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="!loaded" class="submit">
                       <Loaded/>
                    </div>
                    <div class="row">
                        <div class="col-md-12 expo">
                            <div class="card">
                                <div :class="getColorHeaderUser()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title">
                                                <b>Datatables Orders Beaute</b>
                                            </h4>
                                            <p class="card-title">
                                                Available Orders Beautes
                                            </p>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span>
                                                <i id="tooltipSize" class="material-icons">brush</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                 <div class="card-body">
                                    <div class="header text-right">
                                        <button @click="reload" class="btn btn-warning btn-raised btn-round button_note btn-sm"
                                                title="Refresh Page">
                                            <i class="material-icons">replay</i>
                                            <b class="title_hover">Refresh</b>
                                        </button>
                                    </div>
                                <br>
                                <div class="card-body">
                                    <div class="toolbar"></div>
                                    <br>
                                    <div class="material-datatables">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                <th><b>Category Name</b></th>
                                                <th><b>Posted By</b></th>
                                                <th><b>Admin Decision</b></th>
                                                <th><b>Updated Date</b></th>
                                                <th class="disabled-sorting text-right"><b>Actions</b></th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th><b>Category Name</b></th>
                                                    <th><b>Posted By</b></th>
                                                    <th><b>Admin Decision</b></th>
                                                    <th><b>Updated Date</b></th>
                                                    <th class="text-right"><b>Actions</b></th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            <tr v-for="item in beautes" :key="item.id">
                                                <td>
                                                    <div class="timeline-heading">
                                                        <span :class="getColor(item)"><b>{{ item.menucategoryorder.name | upText }}</b></span>
                                                    </div>
                                                </td>
                                                <td><b>{{ item.user.name | upText }}</b></td>
                                                <td>
                                                    <div class="timeline-heading">
                                                        <span v-if="item.status_admin === 1" class="badge badge-success"  style="cursor: pointer;" data-toggle="tooltip" data-placement="left" title="Ce poste respecte les normes fixées par kazoucoin"><b>YES</b></span>
                                                        <span v-else-if="item.status_admin === 0"  class="badge badge-danger"  style="cursor: pointer;" data-toggle="tooltip" data-placement="left" title="Ce poste ne respecte pas les normes fixées par kazoucoin"><b>NO</b></span>
                                                    </div>
                                                </td>
                                                <td><b>{{ item.updated_at | myDate }}</b></td>
                                                <td class="td-actions text-right">
                                                    <button  v-if="item.status_admin === 1" @click="disableItem(item.id)" class="btn btn-link btn-info btn-round btn-just-icon " title="Disable">
                                                        <i class="material-icons">power_settings_new</i>
                                                    </button>
                                                    <button  v-else-if="item.status_admin === 0" @click="activeItem(item.id)" class="btn btn-link btn-danger btn-round btn-just-icon " title="Activate">
                                                        <i class="material-icons">power_settings_new</i>
                                                    </button>
                                                    <button @click="deleteItem(item.id)"
                                                            class="btn btn-link btn-danger btn-round btn-just-icon" title="Delete">
                                                        <i class="material-icons">delete_forever</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <FooterAdmin/>
    </div>
  </div>
</template>

<script>
    import NavAdmin from "../../../inc/admin/NavAdmin";
    import TopNav from "../../../inc/admin/TopNav";
    import StatusAdmin from "../../../inc/admin/StatusAdmin";
    import FooterAdmin from "../../../inc/admin/FooterAdmin";
    import Loaded from "../../../inc/animation/Loaded";
    export default {
        components: {Loaded, FooterAdmin, StatusAdmin, TopNav, NavAdmin},
        props: ['auth','user'],
        data() {
            return {
                loaded: false,
                beautes: {},
                colors: {},
                categoryorders:{},
                menucategoryorders:{},
                form: new Form({
                    id: '',
                    title: '',
                    color_name: '',
                    phone: '',
                    price: '',
                    contact: '',
                    price_reduction: '',
                    body: '',
                    menucategoryorder_id: '',
                    user: ''
                })
            }
        },
        methods: {
            mydatatables(){
                $( function () {
                    $('#datatables').DataTable({
                        "pagingType": "full_numbers",
                        "lengthMenu": [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"]
                        ],
                        order: [[ 0, 'desc' ], [ 3, 'asc' ]],
                        responsive: true,
                        stateSave: true,
                        destroy: true,
                        retrieve:true,
                        autoFill: true,
                        colReorder: true,
                        language: {
                            search: "<i class='material-icons'>search</i>",
                            searchPlaceholder: "Search Record"
                        },
                        "sPaginationType": "full_numbers"
                    });
                });
            },
            getColorCardItem(color_name){
                return 'btn btn-round btn-' + color_name;
            },
            getColorCardUser(){
                return 'card-header card-header-icon card-header-' + this.form.color_name;
            },
            getColorHeaderUser(){
                return 'card-header card-header-' + this.form.color_name;
            },
            getColor(item){
                return 'badge badge-' + item.color_name;
            },

            /** Ici l' administrateurs désactive le post fait par l'utilisateur **/
            disableItem(id) {
                Swal.fire({
                    title: "Deactivate this user's post?",
                    text: "Are you sure you want to deactivate this user's post?",
                    type: 'question',
                    animation: false,
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(result => {
                    //Envoyer la requete au server
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();
                        this.form.get(`/api/orders/admin/disable_beautes/${id}`).then(() => {
                            /*** Alert notify bootstrapp ***/
                            let notify = $.notify(
                                "<strong>Delete</strong>Please wait a moment</strong> ...",
                                {
                                    allow_dismiss: false,
                                    showProgressbar: true
                                }
                            );
                            setTimeout(function() {
                                notify.update({
                                    type: "success",
                                    message:"<strong>Success</strong>Post desactivated successfully.",
                                    progress: 75
                                });
                            }, 2000);
                            /*** End Alert ***/

                            //End Progress bar
                            this.$Progress.finish();
                            Fire.$emit("AfterCreate");
                        }).catch(() => {
                            //Failled message
                            this.$Progress.fail();
                            $.notify("Ooop! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                     });
                    }
                });
            },
            /** Ici l' administrateurs active le post fait par l'utilisateur **/
            activeItem(id) {
                Swal.fire({
                    title: "Activate this user's post?",
                    text: "Are you sure you want to activate this user's post?",
                    type: 'question',
                    animation: false,
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(result => {
                    //Envoyer la requete au server
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();
                        this.form.get(`/api/orders/admin/active_beautes/${id}`).then(() => {
                            /*** Alert notify bootstrapp ***/
                            let notify = $.notify(
                                "<strong>Delete</strong>Please wait a moment</strong> ...",
                                {
                                    allow_dismiss: false,
                                    showProgressbar: true
                                }
                            );
                            setTimeout(function() {
                                notify.update({
                                    type: "success",
                                    message:"<strong>Success</strong>Post activated successfully.",
                                        progress: 25
                                });
                            }, 2000);
                            /*** End Alert ***/

                            //End Progress bar
                            this.$Progress.finish();
                            
                            Fire.$emit("AfterCreate");
                        }).catch(() => {
                            //Failled message
                            this.$Progress.fail();
                            $.notify("Ooop! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                      });
                    }
                });
            },
            deleteItem(id) {
                Swal.fire({
                    title: 'Delete this post?',
                    text: "Are you sure you want to delete this post?",
                    type: 'warning',
                    animation: false,
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(result => {
                    //Envoyer la requete au server
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();
                        
                        this.form.delete(`/orders/beautes/${id}`).then(() => {
                            /*** Alert notify bootstrapp ***/
                            let notify = $.notify(
                                "<strong>Delete</strong> Do not close this page...",
                                {
                                    allow_dismiss: false,
                                    showProgressbar: true
                                }
                            );
                            setTimeout(function() {
                                notify.update({
                                    type: "success",
                                    message:"<strong>Success</strong>Post deleted successfully.",
                                        progress: 25
                                });
                            }, 2000);
                            /*** End Alert ***/

                            //End Progress bar
                            this.$Progress.finish();
                            
                            Fire.$emit("AfterCreate");
                        }).catch(() => {
                            //Failled message
                            this.$Progress.fail();
                            $.notify("Ooop! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                      });
                    }
                });
            },
            getCategory(slug){
                //Start Progress bar 
                this.$Progress.start();
                location.replace(`/orders/beautes/topic/${slug}`);
            },
            getPost(slug){
                //Start Progress bar 
                this.$Progress.start();
                location.replace(`/orders/beautes/show/${slug}`);
                this.$Progress.finish()
            },

            loadItems() {
                //Start Progress bar 
                this.$Progress.start();
                const url = "/api/admin/orders/beautes";
                axios.get(url).then(response => {
                    this.loaded = true;
                    this.beautes = response.data.data;
                    this.mydatatables();
                });
                axios.get("/orders/api/beautes/menucategoryorders").then(({data}) => (this.menucategoryorders = data.data));
                axios.get("/orders/api/beautes/categoryorders").then(({data}) => (this.categoryorders = data.data));
                axios.get("/orders/api/beautes/colors").then(({data}) => (this.colors = data.data));
                const urlColor = "/admin/api/account/user";
                axios.get(urlColor).then(({data}) => (this.form.fill(data)));
                //End Progres bar
                this.$Progress.finish();
            },
             reload(){
                this.loadItems();
            },
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
        }
    }
</script>

<style scoped>

</style>
