<template>
    <div class="modal-body">
        <form accept-charset="UTF-8"  class="form" method="POST" @submit.prevent="login" @keydown="form.onKeydown($event)">
            <p class="kazoucoin-subtitle description text-center title-grey">Or Be Classical</p>
            <div class="card-body">
                <div class="form-group bmd-form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="material-icons">mail</i></div>
                        </div>
                        <input v-model="form.username" type="text" name="username" placeholder="Username ..."
                               minLength="3" maxlength="20" required="required"
                               class="form-control" :class="{ 'is-invalid': form.errors.has('username') }">
                        <has-error style="padding-left: 20px;" :form="form" field="username"></has-error>
                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                            </div>
                        </div>
                        <input id="password" v-model="form.password" type="password" name="password" placeholder="Password ..." minLength="6" @click="showPassword()" required="" class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                        <span toggle="#password" @click="showPassword()" class="fa fa-lg fa-eye-slash field-icon toggle-password"
                          title="Show Password"></span>
                        <has-error style="padding-left: 20px;" :form="form" field="password"></has-error>
                    </div>
                </div>
                <div class="text-right">
                    <a class="title-red" href="/password/reset">Forgot your password ?</a>
                </div>
                <br>
                <div class="input-group">
                    <div class="form-check" style="padding-left: 20px;">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" checked="checked" v-model="form.remember"
                                   name="remember"> Stay Connected
                            <span class="form-check-sign">
				                <span class="check"></span>
				            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="footer text-center">
                <button id="button_hover" :disabled="form.busy" class="btn btn-warning btn-raised btn-round" type="submit">
				    <span class="btn-label">
				        <i class="material-icons">fingerprint</i>
				    </span>
                    <b class="title_hover">Get Started</b>
                </button>
                <br><br>
                <span class="new-user"><i class="material-icons">how_to_reg</i></span> New User ? <a class="title-red" href="/register">Create your account here</a>
            </div>
            <br>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: new Form({
                    email: '',
                    username: '',
                    password: '',
                    remember: true
                })
            };
        },
        methods: {
            login () {
                //Start Progress bar
                this.$Progress.start();

                this.form.post("/login").then(() => {
                        //Masquer le modal après la création
                        $('#loginModal').modal('hide');
                    
                        /* Début de l'alert **/
                        let notify = $.notify('<strong>Please wait a moment...</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            placement: {
                                align: 'center'
                            }
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Welcome back.</strong>', 'progress': 75});
                        }, 2000);
                        /* fin **/
                    
                        //End Progress bar
                        this.$Progress.finish();

                        //Refresh automatique du browser pour la pagination
                        setTimeout(function() {
                            location.reload(true);
                        }, 250);
                    }).catch(error => {
                        //Failled message
                        this.$Progress.fail();
                        toastr.error('The information is incorrect', '', {timeOut: 5000})
                    });
            },
            showPassword() {
                $(".toggle-password").click(function () {
                    $(this).toggleClass("fa-eye fa-eye-slash");
                    var input = $($(this).attr("toggle"));
                    if (input.attr("type") == "password") {
                        input.attr("type", "text");
                    } else {
                        input.attr("type", "password");
                    }
                });
            }
        },
        created() {
            //
        }
    };
</script>

<style scoped>
    .field-icon {
        float: right;
        margin-right: -17px;
        color: #0b75c9;
        margin-top: 9px;
        position: relative;
        z-index: 2;
        cursor:pointer;
        padding-right: 15px;
    }
    .new-user {
        top: 6px;
        position: relative;
    }
</style>
