<template>
    <div>
        <form id="RegisterValidation" @submit.prevent="register" @keydown="form.onKeydown($event)" method="POST" accept-charset="UTF-8">


            <div class="row">
                <div class="col-lg-6 mr-auto ml-auto">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                             <span class="input-group-text">
                                 <i class="material-icons">face</i>
                             </span>
                            </div>
                            <input autocomplete="off" id="username" v-model="form.username" type="text" name="username" placeholder="Pseudo ..." required=""
                                   minLength="3" class="form-control" :class="{ 'is-invalid': form.errors.has('username') }">
                            <has-error :form="form" field="username"></has-error>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mr-auto">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                             <span class="input-group-text">
                                 <i class="material-icons">face</i>
                             </span>
                            </div>
                            <input autocomplete="off" v-model="form.name" type="text" name="name" placeholder="Name ..." required=""
                                   minLength="3" maxlength="20" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                     <span class="input-group-text">
                         <i class="material-icons">mail</i>
                     </span>
                    </div>
                    <input autocomplete="off" v-model="form.email" type="email" name="email" placeholder="Email ..." required=""
                           class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                    <has-error :form="form" field="email"></has-error>
                </div>
            </div>
            <div id="fooDiv">
                <label for="foo">Ce champ m'evite les spam dans le server</label>
                <input type="text" name="foo" id="foo">
            </div>

            <div class="row">
                <div class="col-lg-6 mr-auto">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                             <span class="input-group-text">
                                 <i class="material-icons">lock_outline</i>
                             </span>
                            </div>
                            <input v-model="form.password" type="password" name="password" placeholder="Mot de passe ..." minLength="6" required=""
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                            <has-error :form="form" field="password"></has-error>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mr-auto">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="material-icons">lock_outline</i>
                              </span>
                            </div>
                            <input v-model="form.password_confirmation" type="password" name="password_confirmation" placeholder="Confirmer le mot de passe ..." minLength="6" required=""
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                            <has-error :form="form" field="password_confirmation"></has-error>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="text-right">
                    <a class="title-red text-center"
                       href="/login">Already have an Account ?</a>
                </div>
            </div>
            <div class="submit text-center">
                <button id="button_hover" :disabled="form.busy" class="btn btn-warning btn-raised btn-round "
                        type="submit">
                        <span class="btn-label">
                            <i class="material-icons">check</i>
                        </span>
                    <b class="title_hover">Get Started</b>
                </button>
            </div>
            <br>
            <div class="text-center">
                <P><strong>By clicking on "Get Started", you accept the Terms of Use. Already have an account?.</strong></P>
            </div>
        </form>
    </div>
</template>

<script>
    export default {

        data() {
            return {

                form: new Form({
                    email: '',
                    username: '',
                    name: '',
                    password: '',
                    password_confirmation: ''
                })
            };
        },

        methods: {
            register () {
                //Progress bar star
                this.$Progress.start();

                this.form
                    .post("/register")
                    .then(() => {
                        //End Progress bar
                        this.$Progress.finish();

                        //Refresh automatique du browser pour la pagination

                        //Refresh automatique du browser pour la pagination
                        location.reload(true);
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        this.onFail(error.response.data);

                        reject(error.response.data);
                    });

            }
        },

        created() {
            //Start Progress bar
            this.$Progress.start();

            //End Progress bar
            this.$Progress.finish();
        }
    };
</script>

<style scoped>

</style>