<template>
   <div>
       <vue-progress-bar/>
       <NavAdmin/>
       <div class="main-panel">
           <!-- Navbar -->
           <TopNav/>
           <!-- End Navbar -->
           <div class="content">
               <div class="content">
                   <div class="container-fluid">

                       <div class="row">
                           <div class="col-lg-4 col-md-6 col-sm-6">
                               <div class="card card-stats">
                                   <div class="card-header card-header-warning card-header-icon">
                                       <div class="card-icon">
                                           <i class="material-icons">weekend</i>
                                       </div>
                                       <p class="card-category">Bookings</p>
                                       <h3 class="card-title">184</h3>
                                   </div>
                                   <div class="card-footer">
                                       <div class="stats">
                                           <i class="material-icons text-danger">warning</i>
                                           <a href="#pablo">Get More Space...</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-lg-4 col-md-6 col-sm-6">
                               <div class="card card-stats">
                                   <div class="card-header card-header-rose card-header-icon">
                                       <div class="card-icon">
                                           <i class="material-icons">equalizer</i>
                                       </div>
                                       <p class="card-category">Website Visits</p>
                                       <h3 class="card-title">75.521</h3>
                                   </div>
                                   <div class="card-footer">
                                       <div class="stats">
                                           <i class="material-icons">local_offer</i> Tracked from Google Analytics
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-lg-4 col-md-6 col-sm-6">
                               <div class="card card-stats">
                                   <div class="card-header card-header-success card-header-icon">
                                       <div class="card-icon">
                                           <i class="material-icons">store</i>
                                       </div>
                                       <p class="card-category">Revenue</p>
                                       <h3 class="card-title">$34,245</h3>
                                   </div>
                                   <div class="card-footer">
                                       <div class="stats">
                                           <i class="material-icons">date_range</i> Last 24 Hours
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <h3>Manage Listings</h3>
                       <br>
                       <div class="row">
                           <div class="col-md-4">
                               <div class="card card-product">
                                   <div class="card-header card-header-image" data-header-animation="true">
                                       <a href="#pablo">
                                           <img class="img" :src="user.avatar">
                                       </a>
                                   </div>
                                   <div class="card-body">
                                       <div class="card-actions text-center">
                                           <button type="button" class="btn btn-danger btn-link fix-broken-card">
                                               <i class="material-icons">build</i> Fix Header!
                                           </button>
                                           <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="View">
                                               <i class="material-icons">art_track</i>
                                           </button>
                                           <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="Edit">
                                               <i class="material-icons">edit</i>
                                           </button>
                                           <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
                                               <i class="material-icons">close</i>
                                           </button>
                                       </div>
                                       <h4 class="card-title">
                                           <a href="#pablo">Cozy 5 Stars Apartment</a>
                                       </h4>
                                       <div class="card-description">
                                           The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.
                                       </div>
                                   </div>
                                   <div class="card-footer">
                                       <div class="price">
                                           <h4>$899/night</h4>
                                       </div>
                                       <div class="stats">
                                           <p class="card-category"><i class="material-icons">place</i> Barcelona, Spain</p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="card card-product">
                                   <div class="card-header card-header-image" data-header-animation="true">
                                       <a href="#pablo">
                                           <img class="img" :src="user.avatar">
                                       </a>
                                   </div>
                                   <div class="card-body">
                                       <div class="card-actions text-center">
                                           <button type="button" class="btn btn-danger btn-link fix-broken-card">
                                               <i class="material-icons">build</i> Fix Header!
                                           </button>
                                           <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="View">
                                               <i class="material-icons">art_track</i>
                                           </button>
                                           <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="Edit">
                                               <i class="material-icons">edit</i>
                                           </button>
                                           <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
                                               <i class="material-icons">close</i>
                                           </button>
                                       </div>
                                       <h4 class="card-title">
                                           <a href="#pablo">Office Studio</a>
                                       </h4>
                                       <div class="card-description">
                                           The place is close to Metro Station and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the night life in London, UK.
                                       </div>
                                   </div>
                                   <div class="card-footer">
                                       <div class="price">
                                           <h4>$1.119/night</h4>
                                       </div>
                                       <div class="stats">
                                           <p class="card-category"><i class="material-icons">place</i> London, UK</p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="card card-product">
                                   <div class="card-header card-header-image" data-header-animation="true">
                                       <a href="#pablo">
                                           <img class="img" :src="user.avatar">
                                       </a>
                                   </div>
                                   <div class="card-body">
                                       <div class="card-actions text-center">
                                           <button type="button" class="btn btn-danger btn-link fix-broken-card">
                                               <i class="material-icons">build</i> Fix Header!
                                           </button>
                                           <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="View">
                                               <i class="material-icons">art_track</i>
                                           </button>
                                           <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="Edit">
                                               <i class="material-icons">edit</i>
                                           </button>
                                           <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
                                               <i class="material-icons">close</i>
                                           </button>
                                       </div>
                                       <h4 class="card-title">
                                           <a href="#pablo">Beautiful Castle</a>
                                       </h4>
                                       <div class="card-description">
                                           The place is close to Metro Station and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Milan.
                                       </div>
                                   </div>
                                   <div class="card-footer">
                                       <div class="price">
                                           <h4>$459/night</h4>
                                       </div>
                                       <div class="stats">
                                           <p class="card-category"><i class="material-icons">place</i> Milan, Italy</p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <FooterAdmin/>
       </div>
   </div>
</template>

<script>
    import NavAdmin from "../inc/admin/NavAdmin";
    import TopNav from "../inc/admin/TopNav";
    import FooterAdmin from "../inc/admin/FooterAdmin";
    export default {
        components: {FooterAdmin, TopNav, NavAdmin},
        data() {
            return {
                loaded: false,
                user: {},
            }
        },

        methods:{
          //
        },

        created() {
            axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
        }
    }
</script>

<style scoped>

</style>