<template>
<div>
    <vue-progress-bar/>
    <NavAdmin/>
    <div class="main-panel" id="javascriptComponents">
        <TopNav/>
        <div class="content">
            <div class="container-fluid">
                <br>
                <StatusAdmin/>
                <br>
                <div class="row">
                    <div class="col-md-12 expo">
                        <div class="card card-stats">
                            <div :class="getColorCardUser()">
                                <div class="card-icon">
                                    <i class="material-icons">attach_money</i>
                                </div>
                                <p class="card-category"><b>All Currency</b>
                                <h3 class="card-title title-red"><b>{{devises.length}}</b></h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">attach_money</i><b>All Currency</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="!loaded" class="submit">
                    <Loaded/>
                </div>
                <div class="row">
                    <div class="col-md-12 expo">
                        <div class="card">
                            <div :class="getColorHeaderUser()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title">
                                            <b>Datatables Currency Money</b>
                                        </h4>
                                        <p class="card-title">
                                            Currency Money Available
                                        </p>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <span>
                                            <i id="tooltipSize" class="material-icons">attach_money</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card-body">
                                <div class="header text-right">
                                    <button title="Refresh Page" @click="reload" class="btn btn-warning btn-round button_note btn-sm">
                                        <i class="material-icons">replay</i>
                                        <b class="title_hover">Refresh</b>
                                    </button>
                                </div>
                                <div v-if="$auth.can('create-currency')" class="toolbar">
                                    <div class="submit text-center">
                                        <button id="button_hover" class="btn btn-warning btn-raised btn-round" @click="newModal">
                                            <span class="btn-label">
                                                <i class="material-icons">attach_money</i>
                                            </span>
                                            <b class="title_hover">New Device</b>
                                        </button>
                                    </div>
                                </div>
                                <div class="material-datatables">
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                           cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th><b>Currency Name</b></th>
                                                <th><b>Symbol</b></th>
                                                <th><b>Currency Code</b></th>
                                                <th><b>Status</b></th>
                                                <th><b>Edit By</b></th>
                                                <th><b>Last Update</b></th>
                                                <th class="disabled-sorting text-right"><b v-if="($auth.can('publish-currency') || $auth.can('edit-currency') || $auth.can('delete-currency'))">Actions</b></th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th><b>Currency Name</b></th>
                                                <th><b>Symbol</b></th>
                                                <th><b>Currency Code</b></th>
                                                <th><b>Status</b></th>
                                                <th><b>Edit By</b></th>
                                                <th><b>Last Update</b></th>
                                                <th class="text-right"><b v-if="($auth.can('publish-currency') || $auth.can('edit-currency') || $auth.can('delete-currency'))">Actions</b></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr v-for="item in devises" :key="item.id">
                                            <td><b>{{ item.name | upText }}</b></td>
                                            <td><b>{{ item.symbol }}</b></td>
                                            <td><b>{{ item.code }}</b></td>
                                            <td>
                                                <div class="timeline-heading">
                                                    <span v-if="item.status === 1" class="badge badge-info"><b>Active</b></span>
                                                    <span v-else-if="item.status === 0"  class="badge badge-danger"><b>Deactive</b></span>
                                                </div>
                                            </td>
                                            <td>
                                                <router-link  :to="{ path: `/admin/profile/${item.user.username}` }">
                                                    <button v-if="item.statusOnline" type="button" class="btn btn-success btn-round btn-just-icon btn-sm" title="Administrator Online"></button>
                                                    <button v-else="item.statusOnline" type="button" class="btn btn-danger btn-round btn-just-icon btn-sm" title="Administrator Offline"></button>
                                                    {{ (item.user.name.length > 15 ? item.user.name.substring(0,15)+ "..." : item.user.name) | upText }}
                                                </router-link>
                                            </td>
                                            <td><b>{{ item.updated_at | myDate }}</b></td>
                                            <td class="td-actions text-right">
                                                <button type="button" class="togglebutton btn btn-link bmd-btn-fab-sm btn-group-toggle">
                                                        <label>
                                                            <input type="checkbox" name="status" v-model="item.status"
                                                                   @change="changeStatus(item)"/>
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </button>
                                                <button @click="editItem(item)" v-if="$auth.can('edit-currency')"
                                                        class="btn btn-link  btn-success btn-round btn-just-icon" title="Edit">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button @click="deleteItem(item.id)" v-if="$auth.can('delete-currency')"
                                                        class="btn btn-link btn-danger btn-round btn-just-icon" title="Delete">
                                                    <i class="material-icons">delete_forever</i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- Modal création/édition Currency -->
                                <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 v-show="!editmode" class="modal-title" id="addNewLabel"><b>Add New Currency</b></h5>
                                                <h5 v-show="editmode" class="modal-title" id="updateNewLabel"><b>Update Currency</b></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="RegisterValidation" @submit.prevent="editmode ? updateItem() : createItem()" role="form" method="POST" accept-charset="UTF-8" @keydown="form.onKeydown($event)">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating"></label>
                                                        <input v-model="form.name" type="text" name="name" placeholder="Name devise "
                                                               class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                                        <has-error :form="form" field="name"></has-error>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating"></label>
                                                        <input v-model="form.code" type="text" name="code" placeholder="Code devise"
                                                               class="form-control" :class="{ 'is-invalid': form.errors.has('code') }">
                                                        <has-error :form="form" field="code"></has-error>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating"></label>
                                                        <input v-model="form.symbol" type="text" name="symbol" placeholder="Symbol devise"
                                                               class="form-control" :class="{ 'is-invalid': form.errors.has('symbol') }">
                                                        <has-error :form="form" field="symbol"></has-error>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="text-center">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">clear</i>
                                                                    <b>Close</b>
                                                                </span>
                                                            </button>
                                                            <button v-show="!editmode" type="submit" class="btn btn-success btn-raised">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">check</i>
                                                                    <b>Yes, Save</b>
                                                                </span>
                                                            </button>
                                                            <button v-show="editmode" type="submit" class="btn btn-success btn-raised">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">save_alt</i>
                                                                    <b>Yes, Update</b>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <FooterAdmin/>
    </div>
</div>
</template>

<script>

    import TopNav from "../inc/admin/TopNav";
    import FooterAdmin from "../inc/admin/FooterAdmin";
    import NavAdmin from "../inc/admin/NavAdmin";
    import StatusAdmin from "../inc/admin/StatusAdmin";
    import Loaded from "../inc/animation/Loaded";
    export default {
        components: {Loaded, StatusAdmin, NavAdmin, FooterAdmin, TopNav},
        data() {
            return {
                loaded: false,
                isLoading: false,
                fullPage: true,
                editmode: false,
                user: {},
                devises: {},
                form: new Form({
                    id: '',
                    name: '',
                    code: '',
                    symbol: '',
                    user_id: '',
                    status: ''
                })
            }
        },
        methods: {
            mydatatables(){
                $( function () {
                    $('#datatables').DataTable({
                        "pagingType": "full_numbers",
                        "lengthMenu": [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"]
                        ],
                        order: [[ 0, 'desc' ], [ 3, 'asc' ]],
                        responsive: true,
                        stateSave: true,
                        destroy: true,
                        retrieve:true,
                        autoFill: true,
                        colReorder: true,
                        language: {
                            search: "<i class='material-icons'>search</i>",
                            searchPlaceholder: "Search Record",
                        },
                        "sPaginationType": "full_numbers"
                    });
                });
            },
            getColorCardUser(){
                return 'card-header card-header-icon card-header-' + this.user.color_name;
            },
            getColorHeaderUser(){
                return 'card-header card-header-' + this.user.color_name;
            },
            updateItem() {
                //Start Progress bar
                this.$Progress.start();
                this.form.put('/admin/devises/' + this.form.id)
                    .then(() => {
                        //Masquer le modal après la création
                        $('#addNew').modal('hide');

                        /** Debut de l'alert **/
                        let notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Currency updated successfully.</strong>', 'progress': 75});
                        }, 2000);
                        /** Fin alert **/

                        //End Progress bar
                        this.$Progress.finish();

                        //Event
                        Fire.$emit('AfterCreate');
                    })
                    .catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooops! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                    })
            },
            editItem(item) {
                this.editmode = true;
                this.form.reset();
                //Masquer le modal après la création
                $('#addNew').modal('show');
                //On passe les informations
                this.form.fill(item);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                //Masquer le modal après la création
                $('#addNew').modal('show');
            },
            deleteItem(id) {
                //Alert delete
                Swal.fire({
                    title: 'Delete Currency?',
                    text: "Are you sure you want to delete this currency?",
                    type: 'warning',
                    animation: false,
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then((result) => {
                    //Envoyer la requete au server
                    if (result.value) {

                        //Start Progress bar
                        this.$Progress.start();
                        this.form.delete('/admin/devises/' + id).then(() => {
                            /** Alert notify bootstrapp **/
                            let notify = $.notify('<strong>Please wait a moment</strong> ...', {
                                allow_dismiss: false,
                                showProgressbar: true
                            });
                            setTimeout(function() {
                                notify.update({'type': 'success', 'message': '<strong>Currency deleted successfully.</strong>', 'progress': 75});
                            }, 2000);
                            /* End alert ***/

                            //End Progress bar
                            this.$Progress.finish();

                            Fire.$emit('AfterCreate');
                        }).catch(() => {
                            //Failled message
                            this.$Progress.fail();
                            $.notify("Ooops! Something wrong. Try later", {
                                type: 'danger',
                                animate: {
                                    enter: 'animated bounceInDown',
                                    exit: 'animated bounceOutUp'
                                }
                            });
                        })
                    }
                })
            },
           changeStatus(item){
                //Start Progress bar
                this.$Progress.start();
                axios.get(`/admin/change_status_devises/${item.id}`, {
                    status: item.status,
                }).then(res => {

                    $.notify('<strong>Devise updated Successfully.</strong>', {
                        allow_dismiss: false,
                        type: 'info',
                        placement: {
                            from: 'bottom',
                            align: 'center'
                        },
                        animate: {
                            enter: "animated fadeInUp",
                            exit: "animated fadeOutDown"
                        },
                    });

                    Fire.$emit('AfterCreate');
                    //End Progress bar
                    this.$Progress.finish();
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    //Alert error
                    $.notify("Ooops! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                })
            },
            loadItems() {
                //Start Progress bar
                this.$Progress.start();
                const url = "/admin/api/devises";
                axios.get(url).then(response => {
                    this.loaded = true;
                    this.devises = response.data.data;
                    this.mydatatables();
                });
                axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
                axios.get("/admin/api/colors").then(({data}) => (this.color = data.data));
                //End Progres bar
                this.$Progress.finish();
            },
            reload(){
                this.loadItems();
            },
            createItem() {
                //Start Progress bar
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.post("/admin/devises")
                    .then(() => {
                        //Event
                        Fire.$emit('AfterCreate');

                        //Masquer le modal après la création
                        $('#addNew').modal('hide');

                        //Insertion de l'alert !
                        let notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Currency Created Successfully.</strong>', 'progress': 75});
                        }, 2000);

                        //End Progress bar
                        this.$Progress.finish();
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooops! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                    })
            }
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
        }
    }
</script>

<style scoped>

</style>
