<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <!-- Button Add New Note -->
                    <div class="header text-center">
                        <div class="toolbar">
                            <div class="submit text-center">
                                <button @click="newModal" class="btn btn-success btn-raised btn-round btn-lg" id="button_hover" v-if="$auth.can('create-note')">
                                    <i class="material-icons">event_note</i>
                                    <b class="title_hover">Add Note</b>
                                </button>
                                <router-link :to="{ name: `tasks.index` }" class="btn btn-primary btn-raised btn-round btn-lg" id="button_hover">
                                    <i class="material-icons">build</i>
                                    <b class="title_hover">All Tasks</b>
                                </router-link>
                            </div>
                        </div>
                    </div>

                    <div class="submit" v-if="!loaded">
                        <Loaded/>
                    </div>
                    <!-- Timeline Note -->
                    <div class="row">
                        <div class="col-md-12 col-lg-12 ml-auto mr-auto">
                            <div class="card card-timeline card-plain">
                                <div class="card-body">
                                    <ul class="timeline">
                                        <li :key="item.created_at" v-for="item in notes">
                                            <div class="timeline-badge danger" v-if="item.status === 1">
                                                <i class="material-icons">swap_horiz</i>
                                            </div>
                                            <div class="timeline-panel" v-if="item.status === 1">
                                                <div class="card-body container-note-star">
                                                    <div class="timeline-heading">
                                                    <span class="badge badge-danger" v-text="item.title"></span>
                                                </div>
                                                    <div class="stats ml-auto position-star">
                                                        <div class="text-center">
                                                            <button class="btn btn-warning btn-round btn-just-icon btn-sm" title="Note Finish" v-if="item.status_task === 1">
                                                            <span class="btn-label">
                                                                <i class="material-icons">star</i>
                                                            </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="timeline-body">
                                                    <p v-html="item.body.substr(0 ,150) + '...'"></p>
                                                    <hr>
                                                </div>
                                                <div class="timeline-footer">
                                                    <div class="card-footer">
                                                        <div class="author">
                                                            <router-link  :to="{ path: `/admin/tasks/u/${item.user.username}` }">
                                                                <img :alt="item.user.name" :src="item.user.avatar" class="avatar img-raised">
                                                                <span class="badge badge-success" title="Administrator Online" v-if="item.statusOnline">
                                                                    <b>{{ (item.user.name.length > 15 ? item.user.name.substring(0,15)+ "..." : item.user.name) | upText }}</b>
                                                                </span>
                                                                <span class="badge badge-danger" title="Administrator Offline" v-else="item.user.statusOnline">
                                                                    <b>{{ (item.user.name.length > 15 ? item.user.name.substring(0,15)+ "..." : item.user.name) | upText }}</b>
                                                                </span>
                                                            </router-link>
                                                        </div>
                                                        <div class="stats ml-auto">
                                                            <i class="material-icons">schedule</i>
                                                            <b>{{ item.updated_at | dateAgo }}</b>
                                                        </div>
                                                    </div>
                                                    <div class="submit">
                                                        <div class="text-right">
                                                            <button @click="viewItem(item)" class="btn btn-warning btn-round btn-just-icon btn-sm" title="View Note">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">visibility</i>
                                                                </span>
                                                            </button>
                                                            <button @click="editItem(item)" class="btn btn-success btn-round btn-just-icon btn-sm" title="Edit Note">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">edit</i>
                                                                </span>
                                                            </button>
                                                            <button @click="disableItem(item.id)" class="btn btn-info btn-round btn-just-icon btn-sm"
                                                                    title="Note Done" v-if="item.status_task === 1 && $auth.can('access_permission')">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">done_all</i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li :key="item.id" class="timeline-inverted" v-for="item in notes">
                                            <div class="timeline-badge info" v-if="item.status === 2">
                                                <i class="material-icons">swap_horiz</i>
                                            </div>
                                            <div class="timeline-panel" v-if="item.status === 2">
                                                <div class="timeline-heading">
                                                    <span class="badge badge-info" v-text="item.title"></span>
                                                </div>
                                                <div class="timeline-body">
                                                    <p v-html="item.body.substr(0 ,150) + '...'"></p>
                                                    <hr>
                                                </div>
                                                <div class="timeline-footer">
                                                    <div class="submit">
                                                        <div class="card-footer">
                                                            <div class="author">
                                                                <router-link  :to="{ path: `/admin/profile/${item.user.username}` }">
                                                                    <img :alt="item.user.name" :src="item.user.avatar" class="avatar img-raised">
                                                                    <span class="badge badge-success" title="Administrator Online" v-if="item.statusOnline">
                                                                    <b>{{ (item.user.name.length > 15 ? item.user.name.substring(0,15)+ "..." : item.user.name) | upText }}</b>
                                                                </span>
                                                                    <span class="badge badge-danger" title="Administrator Offline" v-else="item.user.statusOnline">
                                                                    <b>{{ (item.user.name.length > 15 ? item.user.name.substring(0,15)+ "..." : item.user.name) | upText }}</b>
                                                                </span>
                                                                </router-link>
                                                            </div>
                                                            <div class="stats ml-auto">
                                                                <i class="material-icons">schedule</i>
                                                                <b>{{ item.updated_at | dateAgo }}</b>
                                                            </div>
                                                        </div>
                                                        <div class="text-right">
                                                            <button @click="viewItem(item)" class="btn btn-warning btn-round btn-just-icon btn-sm" title="View Note">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">visibility</i>
                                                                </span>
                                                            </button>
                                                            <button @click="activeItem(item.id)" class="restore-lk btn btn-primary btn-round btn-just-icon btn-sm" title="Note Not Completed">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">reply</i>
                                                                </span>
                                                            </button>
                                                            <button @click="deleteItem(item.id)" class="btn btn-danger btn-round btn-just-icon btn-sm"
                                                                    title="Delete Note">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">delete_forever</i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal New/Update Note -->
                    <div aria-hidden="true" aria-labelledby="addNewLabel" class="modal fade" id="addNew" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addNewLabel" v-show="!editmode">
                                        <b>Add New Note</b>
                                    </h5>
                                    <h5 class="modal-title" id="updateNewLabel" v-show="editmode">
                                        <b>Update Note</b>
                                    </h5>
                                </div>
                                <div class="modal-body">
                                    <alert-error :form="form"></alert-error>
                                    <form @keydown="form.onKeydown($event)" @submit.prevent="editmode ? updateItem() : createItem()" accept-charset="UTF-8" action id="RegisterValidation" method="POST" role="form">
                                        <div class="form-group">
                                            <label class="bmd-label-floating"></label>
                                            <input :class="{ 'is-invalid': form.errors.has('title') }" class="form-control" name="title" placeholder="Title Note ..." required type="text" v-model="form.title">
                                            <has-error :form="form" field="title"></has-error>
                                        </div>
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Description <span style="color: red;">*</span></label>
                                            <vue-editor :editorToolbar="customToolbar" v-model="form.body"></vue-editor>
                                            <has-error :form="form" field="body"></has-error>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="text-center">
                                                <button class="btn btn-danger" data-dismiss="modal" type="button">
                                                    <span class="btn-label">
                                                        <i class="material-icons">clear</i>
                                                        <b>Close</b>
                                                    </span>
                                                </button>
                                                <button class="btn btn-success btn-raised" title="Edit" type="submit" v-show="!editmode">
                                                    <span class="btn-label">
                                                        <i class="material-icons">check</i>
                                                        <b>Yes, Save</b>
                                                    </span>
                                                </button>
                                                <button class="btn btn-success btn-raised" title="Delete" type="submit" v-show="editmode">
                                                    <span class="btn-label">
                                                        <i class="material-icons">save_alt</i>
                                                        <b>Yes, Update</b>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal View Note -->
                    <div class="modal fade" id="viewNew" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <div class="timeline-heading text-center">
                                        <span class="badge badge-info" v-text="form.title"></span>
                                    </div>
                                    <br>
                                    <div class="form-group text-justify">
                                        <span v-html="form.body"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" data-dismiss="modal" type="button">
                                        <span class="btn-label">
                                            <i class="material-icons">clear</i>
                                            <b>Close</b>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header text-center">
                        <div class="toolbar">
                            <div class="submit text-center">
                                <button @click="reload" class="btn btn-warning btn-raised btn-round button_note" value="Refresh Page" >
                                    <i class="material-icons">replay</i>
                                    <b class="title_hover">Refresh page</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <FooterAdmin/>
        </div>
    </div>
</template>

<script>

    import NavAdmin from "../inc/admin/NavAdmin";
    import TopNav from "../inc/admin/TopNav";
    import FooterAdmin from "../inc/admin/FooterAdmin";
    import StatusAdmin from "../inc/admin/StatusAdmin";
    import Loaded from "../inc/animation/Loaded";

    export default {
        components: {
            Loaded,
            StatusAdmin,
            FooterAdmin,
            TopNav,
            NavAdmin,
        },
        data() {
            return {
                loaded: false,
                isLoading: false,
                fullPage: true,
                editmode: false,
                notes: {},
                form: new Form({
                    id: "",
                    title: "",
                    body: "",
                    status: "",
                    user_id: "",
                    ip: "",
                    slug: ""
                }),
                customToolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'font': [] }],
                    //[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                    //[{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ 'align': [] }],
                    //[{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote', 'code-block'],
                    //['blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                    //[{ 'script': 'sub'}, { 'script': 'super' }],
                    //[{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{ 'color': [] }, { 'background': [] }],
                    ['link'],
                    //['link', 'image', 'video', 'formula'],
                    //[{ 'direction': 'rtl' }],
                    ['clean'],
                    //['emoji'],
                ],
            };
        },
        methods: {
            updateItem() {
                //Start Progress bar
                this.$Progress.start();

                this.form.put("/admin/notes/" + this.form.id).then(() => {
                    //Masquer le modal après la création
                    $("#addNew").modal("hide");

                    /** Debut de l'alert **/
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true
                        });
                        setTimeout(function() {
                          notify.update({'type': 'success', 'message': '<strong>Note updated successfully.</strong>', 'progress': 75});
                        }, 2000);
                        /** Fin alert **/

                    //End Progress bar
                    this.$Progress.finish();

                    //Event
                    Fire.$emit("AfterCreate");
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooops! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                });
            },
            editItem(item) {
                this.editmode = true;
                this.form.reset();
                //Masquer le modal après la création
                $("#addNew").modal("show");
                //On passe les information
                this.form.fill(item);
            },
            viewItem(item) {
                //Masquer le modal après la création
                $("#viewNew").modal("show");
                //On passe les informations
                this.form.fill(item);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                //Masquer le modal après la création
                $("#addNew").modal("show");
            },
            createItem() {
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.post("/admin/notes").then(() => {
                    //Event
                    Fire.$emit("AfterCreate");

                    //Masquer le modal après la création
                    $("#addNew").modal("hide");

                    //Insertion de l'alert !
                    var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                        allow_dismiss: false,
                        showProgressbar: true,
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        },
                    });
                    setTimeout(function() {
                        notify.update({'type': 'success', 'message': '<strong>Note Created Successfully.</strong>', 'progress': 75});
                    }, 2000);
                    //Fin insertion de l'alert !

                    //End Progress bar
                    this.$Progress.finish();
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                });
            },
            deleteItem(id) {
                Swal.fire({
                    title: 'Delete Note?',
                    text: "Are you sure you want to delete this note?",
                    type: 'warning',
                    animation: false,
                    customClass: "animated shake",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: "btn btn-danger",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    showCancelButton: true,
                    reverseButtons: true
                }).then(result => {
                    //Envoyer la requete au server
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();
                        this.form.delete("/admin/notes/" + id).then(() => {
                            /** Alert notify bootstrapp **/
                            var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                                allow_dismiss: false,
                                showProgressbar: true
                            });
                            setTimeout(function() {
                              notify.update({'type': 'success', 'message': '<strong>Note deleted successfully.</strong>', 'progress': 75});
                            }, 2000);
                            /*** End alert ***/

                            //End Progress bar
                            this.$Progress.finish();

                            Fire.$emit("AfterCreate");
                        }).catch(() => {
                            //Failled message
                            this.$Progress.fail();
                            $.notify("Ooop! Something wrong. Try later", {
                                type: 'danger',
                                animate: {
                                    enter: 'animated bounceInDown',
                                    exit: 'animated bounceOutUp'
                                }
                            });
                        });
                    }
                });
            },
            /** Ici c'est l'activation  **/
            activeItem(id) {
                //Start Progress bar
                this.$Progress.start();
                this.form.get("/admin/active_note/" + id).then(() => {
                    /** Alert notify bootstrapp **/
                      var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                          allow_dismiss: false,
                          showProgressbar: true
                      });
                      setTimeout(function() {
                          notify.update({'type': 'success', 'message': '<strong>Note not done successfully.</strong>', 'progress': 75});
                      }, 2000);

                    //End Progress bar
                    this.$Progress.finish();

                    Fire.$emit("AfterCreate");
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                });
            },
            /** Ici c'est la desactivation **/
            disableItem(id) {
                //Start Progress bar
                this.$Progress.start();
                this.form.get("/admin/disable_note/" + id).then(() => {

                    /** Alert notify bootstrapp **/
                    var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                        allow_dismiss: false,
                        showProgressbar: true
                    });
                    setTimeout(function() {
                        notify.update({'type': 'success', 'message': '<strong>Note done successfully.</strong>', 'progress': 75});
                    }, 2000);
                    /** End alert **/

                    //End Progress bar
                    this.$Progress.finish();

                    Fire.$emit("AfterCreate");
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                });
            },
            loadItems() {
                //Progrs bar
                this.$Progress.start();
                const url = "/admin/api/notes";
                axios.get(url).then(response => {
                        this.loaded = true;
                        this.notes = response.data.data
                });
                //End Progress bar
                this.$Progress.finish();
            },
            reload(){
                this.loadItems()
            },
            intervalFetchData: function () {
                setInterval(() => {
                    this.loadItems();
                }, 120000);
            },
        },
        created() {
            this.loadItems();
            Fire.$on("AfterCreate", () => {
                this.loadItems();
            });
            this.intervalFetchData();
        }
    };
</script>

<style scoped>

</style>
