<template>
<div>
    <vue-progress-bar/>
    <NavAdmin/>
    <div class="main-panel" id="javascriptComponents">
        <TopNav/>
        <div class="content">
            <div class="container-fluid">
                <br>
                <StatusAdmin/>
                <br>
                <div class="row">
                    <div class="col-md-12 expo">
                        <div class="card card-stats">
                            <div :class="getColorCardUser()">
                                <div class="card-icon">
                                    <i class="material-icons">local_offer</i>
                                </div>
                                <p class="card-category"><b>All Tags</b>
                                <h3 class="card-title title-red"><b>{{tags.length}}</b></h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i><b>All Tags</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="!loaded" class="submit">
                    <Loaded/>
                </div>
                <div class="row">
                    <div class="col-md-12 expo">
                        <div class="card">
                            <div :class="getColorHeaderUser()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title">
                                            <b>Datatables Tags</b>
                                        </h4>
                                        <p class="card-title">
                                            Tag For Research Articles
                                        </p>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <span>
                                            <i id="tooltipSize" class="material-icons">local_offer</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card-body">
                                <div class="header text-right">
                                    <button title="Refresh Page" @click="reload" class="btn btn-warning btn-round button_note btn-sm">
                                        <i class="material-icons">replay</i>
                                        <b class="title_hover">Refresh</b>
                                    </button>
                                </div>
                                <div class="toolbar">
                                    <div class="submit text-center">
                                        <button v-if="$auth.can('create-tag')" id="button_hover" class="btn btn-warning btn-raised btn-round" @click="newModal">
                                            <span class="btn-label">
                                                <i class="material-icons">local_offer</i>
                                            </span>
                                            <b class="title_hover">New Tag</b>
                                        </button>
                                    </div>
                                </div>
                                <div class="material-datatables">
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                           cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th><b>Tag Name</b></th>
                                                <th><b>Status</b></th>
                                                <th><b>Edited By</b></th>
                                                <th><b>Last Update</b></th>
                                                <th class="disabled-sorting text-right"><b v-if="($auth.can('publish-tag') || $auth.can('edit-tag') || $auth.can('delete-tag'))">Actions</b></th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th><b>Tag Name</b></th>
                                                <th><b>Status</b></th>
                                                <th><b>Edited By</b></th>
                                                <th><b>Last Update</b></th>
                                                <th class="text-right"><b v-if="($auth.can('publish-tag') || $auth.can('edit-tag') || $auth.can('delete-tag'))">Actions</b></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr v-for="tag in tags" :key="tag.id">
                                            <td>{{ tag.name | upText }}</td>
                                            <td>
                                                <div class="timeline-heading">
                                                    <span v-if="tag.status === 1" class="badge badge-info"><b>Active</b></span>
                                                    <span v-else-if="tag.status === 0"  class="badge badge-danger"><b>Deactive</b></span>
                                                </div>
                                            </td>
                                            <td>
                                                <router-link  :to="{ path: `/admin/profile/${tag.user.username}` }">
                                                    <button v-if="tag.statusOnline" type="button" class="btn btn-success btn-round btn-just-icon btn-sm" title="Administrator Online"></button>
                                                    <button v-else="tag.statusOnline" type="button" class="btn btn-danger btn-round btn-just-icon btn-sm" title="Administrator Offline"></button>
                                                    {{ (tag.user.name.length > 15 ? tag.user.name.substring(0,15)+ "..." : tag.user.name) | upText }}
                                                </router-link>
                                            </td>
                                            <td><b>{{ tag.updated_at | dateAgo }}</b></td>
                                            <td class="td-actions text-right">
                                                <button type="button" class="togglebutton btn btn-link bmd-btn-fab-sm btn-group-toggle">
                                                        <label>
                                                            <input type="checkbox" name="status" v-model="tag.status"
                                                                   @change="changeStatus(tag)"/>
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </button>
                                                <a href="javascript:void(0)"  @click="editItem(tag)" v-if="$auth.can('edit-tag')"
                                                   class="btn btn-link  btn-success btn-round btn-just-icon" title="Edit">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a href="javascript:void(0)"  @click="deleteItem(tag.id)" v-if="$auth.can('delete-tag')"
                                                   class="btn btn-link btn-danger btn-round btn-just-icon" title="Delete">
                                                    <i class="material-icons">delete_forever</i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Modal création/édition tag -->
                                <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 v-show="!editmode" class="modal-title" id="addNewLabel"><b>Add New Tag</b></h5>
                                                <h5 v-show="editmode" class="modal-title" id="updateNewLabel"><b>Update Tag</b></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="RegisterValidation" @submit.prevent="editmode ? updateTag() : createTag()" role="form" method="POST" action="" accept-charset="UTF-8" @keydown="form.onKeydown($event)">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating"></label>
                                                        <input v-model="form.name" type="text" name="name" placeholder="Name tag "
                                                               class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                                        <has-error :form="form" field="name"></has-error>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="text-center">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">clear</i>
                                                                    <b>Close</b>
                                                                </span>
                                                            </button>
                                                            <button  v-show="!editmode" type="submit" class="btn btn-success btn-raised">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">check</i>
                                                                    <b>Yes, Save</b>
                                                                </span>
                                                            </button>
                                                            <button  v-show="editmode" type="submit" class="btn btn-success btn-raised">
                                                                <span class="btn-label">
                                                                    <i class="material-icons">save_alt</i>
                                                                    <b>Yes, Update</b>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <FooterAdmin/>
    </div>
</div>
</template>

<script>
    import TopNav from "../inc/admin/TopNav";
    import FooterAdmin from "../inc/admin/FooterAdmin";
    import NavAdmin from "../inc/admin/NavAdmin";
    import StatusAdmin from "../inc/admin/StatusAdmin";
    import Loaded from "../inc/animation/Loaded";
    export default {
        components: {Loaded, StatusAdmin, NavAdmin, FooterAdmin, TopNav},
        data() {
            return {
                loaded: false,
                editmode: false,
                tags: {},
                form: new Form({
                    id: '',
                    name: '',
                    status: '',
                    slug: ''
                })
            }
        },
        methods: {
            mydatatables(){
                $( function () {
                    $('#datatables').DataTable({
                        "pagingType": "full_numbers",
                        "lengthMenu": [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"]
                        ],
                        order: [[ 0, 'desc' ], [ 3, 'asc' ]],
                        responsive: true,
                        stateSave: true,
                        destroy: true,
                        retrieve:true,
                        autoFill: true,
                        colReorder: true,
                        language: {
                            search: "<i class='material-icons'>search</i>",
                            searchPlaceholder: "Search Record",
                        },
                        "sPaginationType": "full_numbers"
                    });
                });
            },
            getColorCardUser(){
                return 'card-header card-header-icon card-header-' + this.user.color_name;
			},
            getColorHeaderUser(){
                return 'card-header card-header-' + this.user.color_name;
			},
            updateTag() {
                //Start Progress bar
                this.$Progress.start();

                this.form.put('/admin/tag/' + this.form.id)
                    .then(() => {
                        //Masquer le modal après la création
                        $('#addNew').modal('hide');

                        /** Debut de l'alert **/
                        let notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true
                        });
                        setTimeout(function() {
                          notify.update({'type': 'success', 'message': '<strong>Tag updated successfully.</strong>', 'progress': 75});
                        }, 2000);
                        /** Fin alert **/

                        //End Progress bar
                        this.$Progress.finish();

                        //Event
                        Fire.$emit('AfterCreate');
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooops! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                    })
            },
            editItem(tag) {
                this.editmode = true;
                this.form.reset();
                //Masquer le modal après la création
                $('#addNew').modal('show');
                //On passe les informations
                this.form.fill(tag);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                //Masquer le modal après la création
                $('#addNew').modal('show');
            },
            changeStatus(tag){
                //Start Progress bar
                this.$Progress.start();
                axios.get(`/admin/change_status_tags/${tag.id}`, {
                    status: tag.status,
                }).then(res => {

                    $.notify('<strong>Tag updated Successfully.</strong>', {
                        allow_dismiss: false,
                        type: 'info',
                        placement: {
                            from: 'bottom',
                            align: 'center'
                        },
                        animate: {
                            enter: "animated fadeInUp",
                            exit: "animated fadeOutDown"
                        },
                    });

                    Fire.$emit('AfterCreate');
                    //End Progress bar
                    this.$Progress.finish();
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    //Alert error
                    $.notify("Ooops! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                })
            },
            deleteItem(id) {
                Swal.fire({
                    title: 'Delete Tag?',
                    text: "Are you sure you want to delete this tag?",
                    type: 'warning',
                    animation: false,
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then((result) => {
                    //Envoyer la requete au server
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();

                        this.form.delete('/admin/tag/' + id).then(() => {

                            Fire.$emit('AfterCreate');
                            /** Alert notify bootstrapp **/
                            var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                                allow_dismiss: false,
                                showProgressbar: true
                            });
                            setTimeout(function() {
                              notify.update({'type': 'success', 'message': '<strong>Tag deleted successfully.</strong>', 'progress': 75});
                            }, 2000);
                            /* End alert ***/

                            //End Progress bar
                            this.$Progress.finish();
                        }).catch(() => {
                            //Failled message
                            this.$Progress.fail();
                            $.notify("Ooops! Something wrong. Try later", {
                                type: 'danger',
                                animate: {
                                    enter: 'animated bounceInDown',
                                    exit: 'animated bounceOutUp'
                                }
                            });
                        })
                    }
                })
            },
            loadItems() {
                this.$Progress.start();
                let url = "/admin/api/tag";
                axios.get(url).then(response => {
                    this.loaded = true;
                    this.tags = response.data.data;
                    this.mydatatables();

                    this.$Progress.finish();
                });
                axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
            },
            reload(){
                this.loadItems();
            },
            createTag() {
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.post("/admin/tag")
                    .then(() => {
                        //Event
                        Fire.$emit('AfterCreate');

                        //Masquer le modal après la création
                        $('#addNew').modal('hide');

                        //Insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Tag Created Successfully.</strong>', 'progress': 75});
                        }, 2000);

                        //End Progress bar
                        this.$Progress.finish();
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooops! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                    })
            }
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
        }
    }
</script>

<style scoped>

</style>
