<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <div class="row">
                        <div class="col-md-12 expo">
                            <div class="card card-stats">
                                <div :class="getColorCardUser()">
                                    <div class="card-icon">
                                        <i class="material-icons">account_box</i>
                                    </div>
                                    <p class="card-category"><b>All Users</b>
                                    <h3 class="card-title title-red"><b>{{users.length}}</b></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">account_box</i><b>All Users</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="!loaded" class="submit">
                       <Loaded/>
                    </div>
                    <div class="row">
                        <div class="col-md-12 expo">
                            <div class="card">
                                <div :class="getColorHeaderUser()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title">
                                                <b>Datatables Users Site</b>
                                            </h4>
                                            <p class="card-title">
                                                Users Registered
                                            </p>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span>
                                                <i id="tooltipSize" class="material-icons">account_box</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                    <div class="header text-right">
                                        <button @click="reload" class="btn btn-warning btn-raised btn-round button_note btn-sm"
                                                title="Refresh Page">
                                            <i class="material-icons">replay</i>
                                            <b class="title_hover">Refresh</b>
                                        </button>
                                    </div>
                                    <div class="toolbar">
                                    </div>
                                    <div class="material-datatables">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th><b>Profile</b></th>
                                                    <th><b>Name</b></th>
                                                    <th><b>Confirmed</b></th>
                                                    <th><b>Country</b></th>
                                                    <th><b>Connect with</b></th>
                                                    <th><b>Status Member</b></th>
                                                    <th class="disabled-sorting text-right"><b>Actions</b></th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th><b>Profile</b></th>
                                                    <th><b>Name</b></th>
                                                    <th><b>Confirmed</b></th>
                                                    <th><b>Country</b></th>
                                                    <th><b>Connect with</b></th>
                                                    <th><b>Status Member</b></th>
                                                    <th class="text-right"><b>Actions</b></th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            <tr v-for="item in users" :key="item.id">
                                                <td><img :src="item.avatar" :alt="item.username" style="width: 40px; height: 40px;  top: 15px; left: 15px; border-radius: 50%"></td>
                                                <td>
                                                    <router-link  :to="{ path: `/admin/profile/${item.username}` }" title="Administrator Online">
                                                        <button v-if="item.statusOnline" type="button" class="btn btn-success btn-round btn-just-icon btn-sm"></button>
                                                        <button v-else="item.statusOnline" type="button" class="btn btn-danger btn-round btn-just-icon btn-sm"></button>
                                                        {{ (item.name.length > 15 ? item.name.substring(0,15)+ "..." : item.name) | upText }}
                                                    </router-link>
                                                </td>
                                                <td>
                                                    <div class="timeline-heading">
                                                        <span v-if="item.email_verified_at === null" class="badge badge-danger"><b>No</b></span>
                                                        <span v-if="item.email_verified_at !== null" class="badge badge-success"><b>Yes</b></span>
                                                    </div>
                                                </td>
                                                <td><img :src="item.country.flag" :alt="item.country.name"></td>
                                                <td>
                                                    <b v-if="item.provider !== null" v-text="item.provider"></b>
                                                    <b v-if="item.provider === null">kazoucoin</b>
                                                </td>
                                                <td>
                                                    <div class="timeline-heading">
                                                        <span v-if="item.my_status === 'active'" class="badge badge-primary"><b>Admin</b></span>
                                                        <span v-if="item.my_status !== 'active'" class="badge badge-warning"><b>User</b></span>
                                                    </div>
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button @click="viewItem(item)"
                                                            class="btn btn-link  btn-warning btn-round btn-just-icon" title="View">
                                                        <i class="material-icons">visibility</i>
                                                    </button>
                                                    <button v-if="$auth.can('edit-user')" @click="editItem(item)"
                                                            class="btn btn-link  btn-success btn-round btn-just-icon" title="Edit">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button v-if="$auth.can('delete-user')" @click="deleteItem(item.id)"
                                                            class="btn btn-link btn-danger btn-round btn-just-icon" title="Delete">
                                                        <i class="material-icons">delete_forever</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Export Excel Users -->
                                    <div v-if="$auth.can('download_excel')" class="submit text-center">
                                        <button type="button" id="myUserDownload" class="btn btn-success btn-raised btn-round button_note">
                                            <i class="material-icons">cloud_download</i>
                                            <b class="title_hover">Get Excel Users</b>
                                        </button>
                                    </div>

                                    <!-- Modal création/édition User -->
                                    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 v-show="editmode" class="modal-title" id="updateNewLabel"><b>Add user as Administrator</b></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="RegisterValidation" @keydown="form.onKeydown($event)" @submit.prevent="editmode ? updateItem() : createItem()" role="form" method="POST" action="" accept-charset="UTF-8">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating"></label>
                                                            <input v-model="form.name" type="text" name="name" placeholder="Name Member"
                                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" required>
                                                            <has-error :form="form" field="name"></has-error>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating"></label>
                                                            <input v-model="form.email" type="email" name="email" placeholder="Email User"
                                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" required>
                                                            <has-error :form="form" field="email"></has-error>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating"></label>
                                                            <select name="my_status" v-model="form.my_status" id="my_status" class="form-control"
                                                                    :class="{ 'is-invalid': form.errors.has('my_status') }">
                                                                <option value="" disabled>Add user role</option>
                                                                <option value="active">Administrator</option>
                                                                <option value="null">User</option>
                                                            </select>
                                                            <has-error :form="form" field="my_status"></has-error>
                                                        </div>
                                                        <br>
                                                        <div class="modal-footer">
                                                            <div class="text-center">
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                    <span class="btn-label">
                                                                        <i class="material-icons">clear</i>
                                                                        <b>Close</b>
                                                                    </span>
                                                                </button>
                                                                <button :disabled="form.busy" type="submit" class="btn btn-success btn-raised">
                                                                    <span class="btn-label">
                                                                        <i class="material-icons">save_alt</i>
                                                                        <b>Yes, Update</b>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal Show User -->
                                    <div class="modal fade" id="viewNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-10 ml-auto mr-auto">
                                                        <div style="padding-top: -100px;" class="profile text-center ">
                                                            <div class="avatar">
                                                                <div class="fileinput fileinput-new text-center"
                                                                     data-provides="fileinput">
                                                                    <div class="fileinput-new thumbnail img-circle img-raised">
                                                                        <img :src="form.avatar" :alt="form.name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="timeline-heading">
                                                                <span v-if="form.my_status === 'active'" class="badge badge-primary"><b>Admin</b></span>
                                                                <span v-if="form.my_status !== 'active'" class="badge badge-warning"><b>User</b></span>
                                                            </div>
                                                            <h4 class="card-title"><b>{{ form.name }}  {{ form.first_name}}</b></h4>
                                                            <h4 class="card-title"><b>{{ form.email }}</b></h4>
                                                            <h6 class="card-category text-gray" v-text="form.work"></h6>
                                                            <h4 class="card-title"><b>Sex:</b> <b>{{ form.sex }}</b></h4>
                                                            <h4 class="card-title"><b>Age:</b> <b>{{ form.age }} ans</b></h4>
                                                            <h4 class="card-title"><b>Member Since:</b> <b style="color: green;">{{ form.created_at | dateAgo}}</b></h4>
                                                            <h4 class="card-title"><b>Last Login:</b> <b style="color: blue;">{{ form.last_sign_in_at | dateFormat}}</b></h4>
                                                            <h4 class="card-title"><b>Current Login:</b> <b style="color: red;">{{ form.current_sign_in_at  | dateFormat}}</b></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="modal-footer">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                            <span class="btn-label">
                                                                <i class="material-icons">clear</i>
                                                                <b>Close</b>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <FooterAdmin/>
        </div>
    </div>
</template>

<script>
    import NavAdmin from "../inc/admin/NavAdmin";
    import TopNav from "../inc/admin/TopNav";
    import FooterAdmin from "../inc/admin/FooterAdmin";
    import StatusAdmin from "../inc/admin/StatusAdmin";
    import Loaded from "../inc/animation/Loaded";
    export default {
        components: {Loaded, StatusAdmin, FooterAdmin, TopNav, NavAdmin},
        data() {
            return {
                loaded: false,
                editmode: false,
                users: {},
                user: {},
                countries: {},
                colors:[],
                color_user: '',
                form: new Form({
                    id: '',
                    name: '',
                    first_name: '',
                    work: '',
                    sex: '',
                    age: '',
                    email: '',
                    username: '',
                    avatar: '',
                    my_status: '',
                    created_at: '',
                    last_sign_in_at: '',
                    current_sign_in_at: '',
                })
            }
        },
        methods: {
            mydatatables(){
                $( function () {
                    $('#datatables').DataTable({
                        "pagingType": "full_numbers",
                        "lengthMenu": [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"]
                        ],
                        order: [[ 0, 'desc' ], [ 3, 'asc' ]],
                        responsive: true,
                        stateSave: true,
                        destroy: true,
                        retrieve:true,
                        autoFill: true,
                        colReorder: true,
                        language: {
                            search: "<i class='material-icons'>search</i>",
                            searchPlaceholder: "Search Record"
                        },
                        "sPaginationType": "full_numbers"
                    });
                });
            },
            getColorCardUser(){
				let colorCard = 'card-header card-header-icon card-header-' + this.user.color_name;
				return colorCard;
			},
            getColorHeaderUser(){
				let colorHeader = 'card-header card-header-' + this.user.color_name;
				return colorHeader;
			},
            updateItem() {
                //Start Progress bar
                this.$Progress.start();

                this.form.put('/admin/users/' + this.form.id)
                    .then(() => {
                        //Masquer le modal après la création
                        $('#addNew').modal('hide');

                        /** Debut de l'alert **/
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true
                        });
                        setTimeout(function() {
                          notify.update({'type': 'success', 'message': '<strong>User updated successfully.</strong>', 'progress': 75});
                        }, 2000);
                        /** Fin alert **/

                        //End Progress bar
                        this.$Progress.finish();

                        //Event
                        Fire.$emit('AfterCreate');
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooops! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                    })
            },
            editItem(item) {
                this.editmode = true;
                this.form.reset();
                //Masquer le modal après la création
                $('#addNew').modal('show');
                //On passe les information
                this.form.fill(item);
            },
            viewItem(item) {
                this.viewmode = true;
                this.form.reset();
                //Masquer le modal après la création
                $('#viewNew').modal('show');
                //On passe les information
                this.form.fill(item);
            },
            deleteItem(id) {
                Swal.fire({
                    title: 'Delete User?',
                    text: "Are you sure you want to delete this user?",
                    type: 'warning',
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();

                        //Envoyer la requet au server
                        this.form.delete('/admin/users/' + id).then(() => {

                            /** Alert notify bootstrapp **/
                            var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                                allow_dismiss: false,
                                showProgressbar: true
                            });
                            setTimeout(function() {
                              notify.update({'type': 'success', 'message': '<strong>User deleted successfully.</strong>', 'progress': 75});
                            }, 2000);

                        //End Progress bar
                        this.$Progress.finish();

                        Fire.$emit('AfterCreate');
                        }).catch(() => {
                            //Failled message
                            this.$Progress.fail();
                            $.notify("Ooops! Something wrong. Try later", {
                            type: 'danger',
                                animate: {
                                    enter: 'animated bounceInDown',
                                    exit: 'animated bounceOutUp'
                                }
                            });
                        })
                    }
                })
            },
            loadItems() {
                //Start Progress bar
                this.$Progress.start();
                axios.get("/admin/api/users").then(response => {
                    this.loaded = true;
                    this.users = response.data.data;
                    this.mydatatables();
                    //End Progress bar
                    this.$Progress.finish();
                });
                axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
                axios.get("/admin/api/colors").then(({data}) => (this.colors = data.data));
            },
            reload(){
                this.loadItems();
            },
            intervalFetchData: function () {
                setInterval(() => {
                    this.loadItems();
                }, 120000);
            },
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
            this.intervalFetchData();
        }
    }
</script>

<style scoped>

</style>
