<template>
    <div>
        <vue-progress-bar/>
        <div class="main main-raised">
            <div class="container">

                <!-- All Orders -->
                <div class="cd-section" id="projects">
                    <div class="projects-1" id="projects-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 ml-auto mr-auto text-center">
                                    <h2 class="title">
                                        <b>Les Articles en Exposition</b>
                                    </h2>
                                    <br>
                                    <h5 class="description">Retrouvez à portée de main tous les meilleurs articles high-tech comme la gamme Samsung Galaxy, les mobiles Tecno, les smartphones ou encore les tablettes de poche, ainsi tout le nécessaire pour remplir et décorer votre maison, et aussi tout l'univers de la Mode : chaussures, vêtements et accessoires pour toute la famille.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 ml-auto mr-auto text-center">
                                <ul class="nav nav-pills nav-pills-icons nav-pills-rose">

                                    <li class="nav-item" v-for="item in categoryorders" :key="item.id">
                                        <a class="nav-link" :href="item.link_category">
                                            <i class="material-icons">{{ item.icon }}</i>
                                            <b v-text="item.name"></b>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <br><br>
                        <div v-if="!loaded" class="submit">
                            <div class="text-center">
                                <div class="lds-ripple"><div></div><div></div></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ml-auto mr-auto text-center">
                                <button v-for="item in menucategoryorders" :key="item.id"
                                        @click="getCategory(item.slug)"  :v-if="item.categoryorder.slug === 'beautes'" :class="getColorCardItem(item.color_name)">
                                    <i class="material-icons">{{ item.icon }}</i>
                                    <b v-text="item.name"></b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-space">
                    <div class="tab-pane active" id="pillAll">
                        <div class="row">
                            <div class="col-md-4 expo" v-for="item in beautes" :key="item.id">
                                <div class="card card-blog">
                                    <div class="card-header card-header-image">
                                        <span class="notify-badge-sold" v-if="item.price_sold != null"><b>Promos</b></span>
                                        <span class="notify-badge-new" v-if="item.expired_at <= 6"><b>New</b></span>
                                        <a href="#pablo">
                                            <img src="/assets/img-error/clint-mckoy.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="footer text-center">
                                        <div v-if="!auth">
                                            <div v-if="user.id === item.user.id">
                                                <button  @click="disableItem(item.id)" class="btn btn-info btn-just-icon btn-fill btn-round btn-wd btn-sm" data-toggle="tooltip" data-placement="bottom" title="Hide post" data-container="body">
                                                    <i class="material-icons">power_settings_new</i>
                                                </button>
                                                <a :href="`/orders/beautes/${item.id}/edit`" class="btn btn-success btn-just-icon btn-fill btn-round btn-wd btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit your post" data-container="body">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <button @click="deleteItem(item.id)"  class="btn btn-danger btn-just-icon btn-fill btn-round btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete your post" data-container="body">
                                                    <i class="material-icons">delete_forever</i>
                                                </button>
                                            </div>
                                        </div>
                                        <button v-if="auth" class="btn btn-danger btn-just-icon btn-fill btn-round btn-wd btn-sm">
                                            <i class="material-icons">favorite</i>
                                        </button>
                                        <div v-if="authcheck">
                                            <button  @click="likeItem(item.id)" class="btn btn-danger btn-just-icon btn-fill btn-round btn-wd btn-sm">
                                                <i class="material-icons">favorite</i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-category text-warning text-center"><b v-text="item.menucategoryorder.name"></b></h6>
                                        <h4 class="card-title text-justify text-center">
                                            <a :href="`/orders/beautes/${item.menucategoryorder.slug}/show/${item.slug}`">{{ item.title.substr(0 ,40) + ' ...' }}</a>
                                        </h4>
                                    </div>
                                    <div class="price-container text-center">
                                        <span class="price price-old" v-if="item.price_sold != null">
                                            <b v-if="item.price_no_sold != null">{{item.price_no_sold | toCurrency }} {{item.devise.symbol}}</b>
                                        </span>
                                        <span class="price price-new" v-if="item.price_sold == null">
                                            <b v-if="item.price_no_sold != null">{{item.price_no_sold | toCurrency}} {{item.devise.symbol}}</b>
                                        </span>
                                        <span class="price price-new" v-if="item.price_sold != null">
                                            <b>{{item.price_sold | toCurrency}} {{item.devise.symbol}}</b>
                                        </span><br><br>
                                        <span class="notify-solde" v-if="item.price_sold != null"><b>-</b> <b v-text="getPercentage(item)"></b> <b>%</b></span>
                                    </div>
                                    <br>
                                    <div class="card-footer">
                                        <div class="author">
                                            <a @click="getUser(item.user.username)" href="javascript:void(0)">
                                                <img :src="item.user.avatar"  :alt="item.user.name" @click="getUser(item.user.username)" class="avatar img-raised">
                                                <span class="description" v-text="item.user.username"></span>
                                            </a>
                                        </div>
                                        <div class="stats ml-auto">
                                            <i class="material-icons icon icon-danger">favorite</i> <b>{{item.likers}}</b>&#xB7;
                                            <i class="material-icons icon icon-warning">visibility</i> <b>{{item.visits}}</b>&#xB7;
                                            <i class="material-icons icon icon-success">chat</i> <b>45</b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="row">
                        <div class="ml-auto mr-auto text-center">
                            <ul class="pagination pagination-primary">
                                <!--
                        classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                            -->
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link"> Prev</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">1</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">...</a>
                                </li>
                                <li class="active page-item">
                                    <a href="javascript:void(0);" class="page-link">5</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">6</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">7</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link"> Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import api from '../../../../api/orders/beautes';

    export default {
        props: ['auth','user','authcheck'],
        data() {
            return {
                loaded: false,
                beautes: {},
                colors: {},
                categoryorders:{},
                menucategoryorders:{},
                form: new Form({
                    id: '',
                    title: '',
                    color_name: '',
                    phone: '',
                    price: '',
                    contact: '',
                    price_reduction: '',
                    body: '',
                    menucategoryorder_id: '',
                    user: ''
                })
            }
        },

        methods: {
            getPercentage(item){
                let  remise = (item.price_no_sold - item.price_sold);
                let Percentage = ((remise * 100) / item.price_no_sold);
                return Percentage.toFixed(2)
            },
            getColorCardItem(color_name){
                return 'btn btn-round btn-' + color_name;
            },
            getColorBtn(color_name){
                return 'btn btn-fill btn-round  btn-' + color_name;
            },
            /** Ici nous les utilisateurs active leurs posts **/
            likeItem(id) {
                //Start Progress bar
                this.$Progress.start();
                axios.get(`/api/orders/user/like_beautes/${id}`).then(() => {
                    /** Alert notify bootstrapp **/

                    /** End alert **/
                    //End Progress bar
                    this.$Progress.finish();

                    Fire.$emit("AfterCreate");
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    toastr.error('', 'Please login before like this post ');
                });
            },
            deleteItem(id) {
                Swal.fire({
                    title: 'Delete this post?',
                    text: "Are you sure you want to delete this post?",
                    type: 'warning',
                    animation: false,
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(result => {
                    //Envoyer la requet au server

                    if (result.value) {
                        //Progress bar star
                        this.$Progress.start();
                        this.form
                            .delete(`/orders/beautes/${id}`)
                            .then(() => {
                                /*Alert notify bootstrapp**/
                                let notify = $.notify(
                                    "<strong>Delete</strong> Do not close this page...",
                                    {
                                        allow_dismiss: false,
                                        showProgressbar: true
                                    }
                                );
                                setTimeout(function() {
                                    notify.update({
                                        type: "success",
                                        message:
                                            "<strong>Success</strong> Good job deleted successfully!",
                                        progress: 25
                                    });
                                }, 2000);
                                /* end alert ***/

                                //Progres bar
                                this.$Progress.finish();
                                Fire.$emit("AfterCreate");
                            })
                            .catch(() => {
                                toastr.error("", "Ooop! try later or incorrect");
                            });
                    }
                });
            },

            getCategory(slug){
                //Progress bar star
                this.$Progress.start();
                location.replace(`/orders/beautes/topic/${slug}`);
                //Progres bar
                this.$Progress.finish()
            },
            getUser(username){
                //Progress bar star
                this.$Progress.start();
                location.replace(`/orders/store/${username}`);
                //Progres bar
                this.$Progress.finish()
            },
            getPost(slug){
                //Progress bar star
                this.$Progress.start();
                location.replace(`/orders/beautes/show/${slug}`);
                this.$Progress.finish();
                //Progres bar
                this.$Progress.finish()
            },
            /** Ici nous les utilisateurs desative leurs posts **/
            disableItem(id) {
                Swal.fire({
                    title: 'Hide this post?',
                    text: "Are you sure you want to hide this post?",
                    //type: 'warning',
                    animation: false,
                    customClass: 'animated slideInDown',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(result => {
                    //Envoyer la requet au server

                    if (result.value) {
                        //Progress bar star
                        this.$Progress.start();
                        this.form
                            .get(`/api/orders/user/disable_beautes/${id}`)
                            .then(() => {
                                /*Alert notify bootstrapp**/
                                let notify = $.notify(
                                    "<strong>Hide post</strong> Do not close this page...",
                                    {
                                        allow_dismiss: false,
                                        showProgressbar: true
                                    }
                                );
                                setTimeout(function() {
                                    notify.update({
                                        type: "success",
                                        message:
                                            "<strong>Success</strong> Good job hide successfully!",
                                        progress: 25
                                    });
                                }, 2000);
                                /* end alert ***/

                                //Progres bar
                                this.$Progress.finish();
                                Fire.$emit("AfterCreate");
                            })
                            .catch(() => {
                                toastr.error("", "Ooop! try later or incorrect");
                            });
                    }
                });
            },
            updateItem() {
                //Start Progress bar
                this.$Progress.start();
                this.form.put('/orders/beautes/' + this.form.id)
                    .then(() => {
                        //Masquer le modal après la création
                        $('#addNew').modal('hide');

                        /** Debut de l'alert **/
                        toastr.success('', 'Update successfully');
                        /** Fin alert **/

                        //End Progress bar
                        this.$Progress.finish();
                        //Event
                        Fire.$emit('AfterCreate');
                    })
                    .catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        toastr.error('', 'Ooop! Something wrong. Try later');
                    })
            },
            loadItems() {
                //Progress bar star
                this.$Progress.start();
                api.ordersbycategory(this.$route.params.menucategoryorder).then((response) => {
                    this.loaded = true;
                    this.beautes = response.data.data
                });
                axios.get("/orders/api/beautes/menucategoryorders").then(({data}) => (this.menucategoryorders = data.data));
                axios.get("/orders/api/beautes/categoryorders").then(({data}) => (this.categoryorders = data.data));
                axios.get("/orders/api/beautes/colors").then(({data}) => (this.colors = data.data));
                //Progres bar
                this.$Progress.finish()
            },
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
            //setInterval(() => this.loadItems(),3000);
        }
    }
</script>

<style scoped>

</style>
