<template>
    <div>
        <vue-progress-bar/>
        <div class="ecommerce-page sidebar-collapse">
            <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(&apos; &apos;);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto text-center">
                            <h2 class="title" v-text="user.name"></h2>
                            <h6 class="title">Set Up your Slide in your Dashboard</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main main-raised">
                <div class="section">
                    <div class="container">
                        <form @submit.prevent="createItem()"  role="form" method="POST" action="" @keydown="form.onKeydown($event)" enctype="multipart/form-data" accept-charset="UTF-8">
                            <div class="row">
                                <div class="col-lg-12 ml-auto mr-auto">
                                    <div class="form-group">
                                        <h5 class="mb-0">Title
                                            <span class="text-danger">*</span>
                                        </h5>
                                        <input v-model="form.title" type="text" name="title"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('title') }" placeholder="Title article">
                                        <has-error :form="form" field="title"></has-error>
                                    </div>
                                    <div class="row price-row">
                                        <div class="col-sm-3 row-block">
                                            <h5 class="mb-0">Categories
                                                <span class="text-danger">*</span>
                                            </h5>
                                            <select name="menucategoryorder_id" v-model="form.menucategoryorder_id" id="menucategoryorder_id" class="form-control"
                                                    :class="{ 'is-invalid': form.errors.has('menucategoryorder_id') }">
                                                <option value="" disabled>Choose Your Category</option>
                                                <option v-for="menucategoryorder in menucategoryorders" :key="menucategoryorder.name" :value="menucategoryorder.id">{{menucategoryorder.name}}</option>
                                            </select>
                                            <has-error :form="form" field="menucategoryorder_id"></has-error>
                                        </div>
                                        <div class="col-sm-3 row-block">
                                            <h5 class="mb-0">Color
                                                <span class="text-danger">*</span>
                                            </h5>
                                            <select name="color_name" v-model="form.color_name" id="color_name" class="form-control"
                                                    :class="{ 'is-invalid': form.errors.has('color_name') }">
                                                <option value="" disabled>Choose your color</option>
                                                <option v-for="color in colors" :key="color.color_name" :value="color.slug">{{color.color_name}}</option>
                                            </select>
                                            <has-error :form="form" field="color_name"></has-error>
                                        </div>
                                        <div class="col-sm-3 row-block">
                                            <h5 class="mb-0">Country
                                                <span class="text-danger">*</span>
                                            </h5>
                                            <select name="country_id" v-model="form.country_id"
                                                    id="country_id" class="form-control"
                                                    :class="{ 'is-invalid': form.errors.has('country_id') }">
                                                <option value="" disabled>Choose Your Country</option>
                                                <option v-for="country in countries" :key="country.name" :value="country.id">{{country.name}}</option>
                                            </select>
                                            <has-error :form="form" field="country_id"></has-error>
                                        </div>
                                        <div class="col-sm-3 row-block">
                                            <h5 class="mb-0">Devise
                                                <span class="text-danger">*</span>
                                            </h5>
                                            <select name="devise_id" v-model="form.devise_id" id="devise_id" class="form-control"
                                                    :class="{ 'is-invalid': form.errors.has('devise_id') }">
                                                <option value="" disabled>Choose your Devise</option>
                                                <option v-for="devise in devises" :key="devise.name" :value="devise.id">{{devise.name}}</option>
                                            </select>
                                            <has-error :form="form" field="devise_id"></has-error>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row price-row">
                                        <div class="col-md-3">
                                            <h5 class="mb-0">City</h5>
                                            <div class="input-group border-input">
                                                <input v-model="form.city" type="text" name="city"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('city') }" placeholder="Your City ">
                                                <has-error :form="form" field="city"></has-error>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <h5 class="mb-0">Email</h5>
                                            <div class="input-group border-input">
                                                <input v-model="form.email" type="email" name="email"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" placeholder="Your email contact" >
                                                <has-error :form="form" field="email"></has-error>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <h5 class="mb-0">Phone</h5>
                                            <div class="input-group border-input">
                                                <input v-model="form.phone" type="number" name="phone"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }" placeholder="Your phone" >
                                                <has-error :form="form" field="phone"></has-error>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <h5 class="mb-0">Color product</h5>
                                            <div class="input-group border-input">
                                                <input v-model="form.color_product" type="text" name="color_product"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('color_product') }" placeholder="Color article" >
                                                <has-error :form="form" field="color_product"></has-error>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row price-row">
                                        <div class="col-md-4">
                                            <h5 class="mb-0">Quantity</h5>
                                            <div class="input-group border-input">
                                                <input v-model="form.quantity" type="number" name="quantity"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('quantity') }" placeholder="Quantity available">
                                                <has-error :form="form" field="quantity"></has-error>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h5 class="mb-0">Price</h5>
                                            <div class="input-group border-input">
                                                <input v-model="form.price_no_sold" type="number" name="price_no_sold"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('price_no_sold') }" placeholder="Initial Price">
                                                <has-error :form="form" field="price_no_sold"></has-error>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" v-text="form.devise.symbol"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h5 class="mb-0">Price after remise</h5>
                                            <div class="input-group border-input">
                                                <input v-model="form.price_sold" type="number" name="price_sold"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('price_sold') }" placeholder="Price after sold">
                                                <has-error :form="form" field="price_sold"></has-error>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" v-text="form.devise.symbol"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <!--<div class="col-md-8 ml-auto mr-auto">
                                        <div class="profile text-center">
                                            <div class="container">
                                                <div class="large-12 medium-12 small-12 filezone">
                                                    <input type="file" id="files" ref="files" multiple v-on:change="handleFiles()"/>
                                                    <p>
                                                        Drop your files here <br>or click to search
                                                    </p>
                                                </div>

                                                <div v-for="(file, key) in files" class="file-listing">
                                                    <img class="preview" v-bind:ref="'preview'+parseInt(key)"/>
                                                    {{ file.name }}
                                                    <div class="success-container" v-if="file.id > 0">
                                                        Success
                                                        <input type="hidden" :name="input_name" :value="file.id"/>
                                                    </div>
                                                    <div class="remove-container" v-else>
                                                        <a class="remove" v-on:click="removeFile(key)">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="submit">
                                        <div class="text-center">
                                            <div class="row price-row">
                                                <div class="col-md-2" v-for="image in form.images" >
                                                    <div class="input-group border-input">
                                                        <img :src="image" alt="...">
                                                    </div>
                                                    <button type="button" class="btn btn-link btn-danger btn-round btn-just-icon">
                                                        <i class="material-icons">delete_forever</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div id="accordion" role="tablist">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card card-collapse">
                                                    <div class="card-header" role="tab" id="headingTwo">
                                                        <h5 class="mb-0">
                                                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                Details
                                                                <i class="material-icons">keyboard_arrow_down</i>
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                                        <div class="form-group">
                                                            <vue-editor v-model="form.detail" :editorToolbar="customToolbar" placeholder="Details Product"></vue-editor>
                                                            <has-error :form="form" field="detail"></has-error>
                                                            <h5>
                                                                <small>
                                                                    <span class="pull-left">150 characters left</span>
                                                                </small>
                                                            </h5>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label pull-right">
                                                                vous pouvez utiliser le
                                                                <a href="https://help.github.com/articles/getting-started-with-writing-and-formatting-on-github/" class="text-danger" target="_blank">
                                                                    markdown ici
                                                                </a>
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card card-collapse">
                                                    <div class="card-header" role="tab" id="headingThree">
                                                        <h5 class="mb-0">
                                                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                Informations
                                                                <i class="material-icons">keyboard_arrow_down</i>
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                                        <div class="form-group">
                                                            <vue-editor v-model="form.information" :editorToolbar="customToolbar" placeholder="Informations Product"></vue-editor>
                                                            <has-error :form="form" field="information"></has-error>
                                                            <h5>
                                                                <small>
                                                                    <span class="pull-left">150 characters left</span>
                                                                </small>
                                                            </h5>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label pull-right">
                                                                vous pouvez utiliser le
                                                                <a href="https://help.github.com/articles/getting-started-with-writing-and-formatting-on-github/" class="text-danger" target="_blank">
                                                                    markdown ici
                                                                </a>
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-collapse">
                                            <div class="card-header" role="tab" id="headingFore">
                                                <h5 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#collapseFore" aria-expanded="true" aria-controls="collapseFore">
                                                        Description
                                                        <span class="text-danger">*</span>
                                                        <i class="material-icons">keyboard_arrow_down</i>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseFore" class="collapse show" role="tabpanel" aria-labelledby="headingFore" data-parent="#accordion">
                                                <div class="form-group">
                                                    <textarea v-model="form.body" id="body" rows="8" name="body" class="form-control" :class="{ 'is-invalid': form.errors.has('body') }" style="height:200px;"
                                                              placeholder="Description Product"></textarea>
                                                    <has-error :form="form" field="body"></has-error>
                                                    <h5>
                                                        <small>
                                                            <span class="pull-left">150 characters left</span>
                                                        </small>
                                                    </h5>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label pull-right">
                                                        vous pouvez utiliser le
                                                        <a href="https://help.github.com/articles/getting-started-with-writing-and-formatting-on-github/" class="text-danger" target="_blank">
                                                            markdown ici
                                                        </a>
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row buttons-row">
                                <div class="col-md-6 col-sm-6">
                                    <router-link :to="{ path: `/orders/store/${user.username}` }" class="btn btn-outline-danger btn-block btn-round">
                                        <b>Cancel</b>
                                    </router-link>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <button :disabled="form.busy" type="submit" class="btn btn-outline-primary btn-block btn-round">Save</button>
                                </div>
                                <!--<div class="col-md-4 col-sm-4">
                                    <button class="btn btn-primary btn-block btn-round">Save & Publish </button>
                                </div>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import VueUploadMultipleImage from 'vue-upload-multiple-image'
    export default {
        components: {
            VueUploadMultipleImage
        },
        data() {
            return {
                colors: {},
                user: {},
                devises: {},
                countries:{},
                userbeautes: {},
                categoryorders:{},
                menucategoryorders:{},
                form: new Form({
                    id: '',
                    title: '',
                    username: '',
                    color_name: '',
                    phone: '',
                    price: '',
                    contact: '',
                    site: '',
                    images: '',
                    country_id: '',
                    devise: '',
                    city: '',
                    email: '',
                    detail: '',
                    information: '',
                    color_product: '',
                    price_sold: '',
                    quantity: '',
                    price_no_sold: '',
                    devise_id: '',
                    body: '',
                    menucategoryorder_id: '',
                    user: ''
                }),
                customToolbar: [
                    [{'header': [1, 2, 3, 4, 5, 6, false]}],
                    [{'font': []}],
                    //[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                    //[{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline'],
                    [{'align': []}],
                    //[{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    //['blockquote', 'code-block'],
                    //['blockquote', 'code-block'],
                    [{'list': 'ordered'}, {'list': 'bullet'}, {'list': 'check'}],
                    //[{ 'script': 'sub'}, { 'script': 'super' }],
                    //[{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{'color': []}, {'background': []}],
                    //['link', 'image', 'video', 'formula'],
                    //[{ 'direction': 'rtl' }],
                    //['clean'],
                    //['emoji'],
                ],
                //dropzoneOptions: {
                //    url: '/orders/beautes',
                //    headers: {
                //        "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
                //    },
                //    thumbnailWidth: 150, // px
                //    //thumbnailHeight: 150,
                //    maxFilesize: 6.0,
                //    //maxFiles: 10, // Ici on decide du nombre de fichier a telecharger
                //    //chunkSize: 500, // Bytes
                //    addRemoveLinks: true,
                //    autoProcessQueue: false, // Ici il appeche le telechargement auto
                //    acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg",
                //    dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>UPLOAD ME"
                //},
            }
        },

        methods:{

            createItem() {
                //Start Progress bar
                this.$Progress.start();

                this.form.post('/orders/beautes')
                    .then(() => {
                        /** Début de l'alert **/
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function () {
                            notify.update({
                                'type': 'success',
                                'message': '<strong>Created Successfully.</strong>',
                                'progress': 100
                            });
                        }, 2000);
                        /** Fin de l'alert **/

                        // Rediret after create
                        setTimeout(() => this.$router.push({ path: `/orders/store/${this.user.username}` }), 2000);
                        /** Fin de l'alert **/

                        //End Progress bar
                        this.$Progress.finish();
                        //Event
                        Fire.$emit('AfterCreate');
                    })
                    .catch(() => {
                        this.$Progress.fail();
                        //Failled message
                        $.notify("Ooop! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                    })
                //console.log('mise a jour des donnees')
            },
        },

        created(){
            //Start Progress bar
            this.$Progress.start();
            axios.get("/admin/api/account/user").then((response) => ( this.user = response.data));
            axios.get("/orders/api/beautes/menucategoryorders").then(({data}) => (this.menucategoryorders = data.data));
            axios.get("/orders/api/beautes/categoryorders").then(({data}) => (this.categoryorders = data.data));
            axios.get("/orders/api/beautes/colors").then(({data}) => (this.colors = data.data));
            axios.get("/admin/show/devises").then(({data}) => (this.devises = data.data));
            axios.get("/api/countries").then(({data}) => (this.countries = data.data));
            //End Progress bar
            this.$Progress.finish();
        }
    }
</script>

<style scoped>


</style>
