<template>
    <div>
        <vue-progress-bar/>

        <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(&apos; &apos;);">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto text-center">
                        <h2 class="title">All orders user</h2>
                        <h6 class="title">Set Up your Slide in your Dashboard</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <!-- section -->
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto text-center">
                            <h2 class="title">
                                <b>Les Articles en Exposition</b>
                            </h2>
                            <h5 class="description">News in fashion</h5>
                        </div>
                    </div>
                    <div v-if="!auth" class="toolbar">
                        <div v-if="user.id === user.id" class="submit text-center">
                            <router-link id="button_hover" v-if="userbeautes.length > 0" :to="{ path: `/orders/beautes/create` }" class="btn btn-success btn-raised btn-round" data-toggle="tooltip" data-placement="bottom" title="Add new post" data-container="body">
                                   <span class="btn-label">
                                      <i class="material-icons">add</i>
                                    </span>
                                <b class="title_hover">New post beaute</b>
                            </router-link>
                        </div>
                    </div>
                    <br><br>
                    <div v-if="!loaded" class="submit">
                        <div class="text-center">
                            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4 expo" v-for="item in userbeautes" :key="item.id">
                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <span class="notify-badge-sold" v-if="item.price_sold != null"><b>Promos</b></span>
                                    <span class="notify-badge-new" v-if="item.expired_at <= 6"><b>New</b></span>
                                    <a href="#pablo">
                                        <img src="/assets/img-error/clint-mckoy.jpg" alt="">
                                    </a>
                                </div>
                                <div class="card-body text-center">
                                    <div v-if="!auth">
                                        <span v-if="user.id === item.user.id" class="badge badge-success">
                                        <b v-if="item.status_user === 1">Article publier</b>
                                        </span>
                                        <span v-if="user.id === item.user.id" class="badge badge-primary">
                                        <b v-if="item.status_user === 0">Article non publier</b>
                                        </span>
                                    </div>
                                    <h6 class="card-category text-warning"><b v-text="item.menucategoryorder.name"></b></h6>
                                    <h4 class="card-title text-justify text-center">
                                        <a :href="`/orders/beautes/${item.menucategoryorder.slug}/show/${item.slug}`">{{ item.title.substr(0 ,40) + ' ...' }}</a>
                                    </h4>
                                </div>
                                <div class="price-container text-center">
                                        <span class="price price-old" v-if="item.price_sold != null">
                                            <b v-if="item.price_no_sold != null">{{item.price_no_sold | toCurrency }} {{item.devise.symbol}}</b>
                                        </span>
                                    <span class="price price-new" v-if="item.price_sold == null">
                                            <b v-if="item.price_no_sold != null">{{item.price_no_sold | toCurrency}} {{item.devise.symbol}}</b>
                                        </span>
                                    <span class="price price-new" v-if="item.price_sold != null">
                                            <b>{{item.price_sold | toCurrency}} {{item.devise.symbol}}</b>
                                        </span><br><br>
                                    <span class="notify-solde" v-if="item.price_sold != null"><b>-</b> <b v-text="getPercentage(item)"></b> <b>%</b></span>
                                </div>
                                <div class="footer text-center">
                                    <div v-if="!auth">
                                        <div v-if="user.id === item.user.id">
                                            <button  v-if="item.status_user === 1" @click="disableItem(item.id)" class="btn btn-info btn-just-icon btn-fill btn-round btn-wd btn-sm" title="disabled">
                                                <i class="material-icons">power_settings_new</i>
                                            </button>
                                            <button v-else-if="item.status_user === 0" @click="activeItem(item.id)" class="btn btn-primary btn-just-icon btn-fill btn-round btn-wd btn-sm" title="activated">
                                                <i class="material-icons">power_settings_new</i>
                                            </button>
                                            <!--<button @click="editItem(item)" class="btn btn-success btn-just-icon btn-fill btn-round btn-wd btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit your post" data-container="body">
                                                <i class="material-icons">edit</i>
                                            </button>-->
                                            <router-link  :to="{ path: `/orders/beautes/${item.id}/edit` }" class="btn btn-success btn-just-icon btn-fill btn-round btn-wd btn-sm" title="Edit your post" >
                                                <i class="material-icons">edit</i>
                                            </router-link>
                                            <button @click="deleteItem(item.id)"  class="btn btn-danger btn-just-icon btn-fill btn-round btn-sm" title="Delete your post">
                                                <i class="material-icons">delete_forever</i>
                                            </button>
                                        </div>
                                    </div>
                                    <button v-if="auth" class="btn btn-danger btn-just-icon btn-fill btn-round btn-wd btn-sm" data-toggle="modal" data-target="#loginModal">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                    <div v-if="authcheck">
                                        <button  @click="likeItem(item.id)" class="btn btn-danger btn-just-icon btn-fill btn-round btn-wd btn-sm">
                                            <i class="material-icons">favorite</i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="author">
                                        <a @click="getUser(item.user.username)" href="javascript:void(0)">
                                            <img :src="item.user.avatar"  :alt="item.user.name" @click="getUser(item.user.username)" class="avatar img-raised">
                                            <span class="description" v-text="item.user.username"></span>
                                        </a>
                                    </div>
                                    <div class="stats ml-auto">
                                        <i class="material-icons icon icon-danger">favorite</i> <b>{{item.likers}}</b>&#xB7;
                                        <i class="material-icons icon icon-warning">visibility</i> <b>{{item.visits}}</b>&#xB7;
                                        <i class="material-icons icon icon-success">chat</i> <b>45</b>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="ml-auto mr-auto text-center">
                            <ul class="pagination pagination-primary">
                                <!--
                        classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                            -->
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link"> Prev</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="javascript:void(0);" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">3</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">...</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">4</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">5</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link"> Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section -->

        </div>

    </div>
</template>

<script>
    import api from '../../../../api/orders/beautes';
    import NavSite from "../../../inc/site/NavSite";
    export default {
        components: {NavSite},
        props: ['auth','authcheck'],
        data() {
            return {
                loaded: false,
                user: {},
                userbeautes: {},
            }
        },

        methods: {
            getPercentage(item){
                let  remise = (item.price_no_sold - item.price_sold);
                let Percentage = ((remise * 100) / item.price_no_sold);
                return Percentage.toFixed(2)
            },
            getbackground(item) {
              return "background-image: url('" + item.images.image + "')";
            },
            /** Ici nous les utilisateurs desative leurs posts **/
            disableItem(id) {
                //Start Progress bar
                this.$Progress.start();
                axios.get(`/api/orders/user/disable_beautes/${id}`)
                    .then(() => {

                    /** Alert notify bootstrapp **/

                    /** End alert **/
                    //End Progress bar
                    this.$Progress.finish();

                    Fire.$emit("AfterCreate");
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    toastr.error('', 'Ooop! Something wrong. Try later');
                });
            },
            /** End **/
            /** Ici nous les utilisateurs active leurs posts **/
            activeItem(id) {
                //Start Progress bar
                this.$Progress.start();
                axios.get(`/api/orders/user/active_beautes/${id}`)
                    .then(() => {
                    /** Alert notify bootstrapp **/

                    /** End alert **/
                    //End Progress bar
                    this.$Progress.finish();

                    Fire.$emit("AfterCreate");
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    toastr.error('', 'Ooop! Something wrong. Try later');
                });
            },
            deleteItem(id) {
                Swal.fire({
                    title: 'Delete this post?',
                    text: "Are you sure you want to delete this post?",
                    type: 'warning',
                    animation: false,
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(result => {
                    //Envoyer la requet au server

                    if (result.value) {
                        //Progress bar star
                        this.$Progress.start();

                        axios.delete(`/orders/beautes/${id}`)
                            .then(() => {
                                /*Alert notify bootstrapp**/
                                var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                                    allow_dismiss: false,
                                    showProgressbar: true,
                                    animate: {
                                        enter: 'animated bounceInDown',
                                        exit: 'animated bounceOutUp'
                                    },
                                });
                                setTimeout(function () {
                                    notify.update({
                                        'type': 'success',
                                        'message': '<strong>Good job deleted successfully!</strong>',
                                        'progress': 100
                                    });
                                }, 2000);
                                /* end alert ***/

                                //Progres bar
                                this.$Progress.finish();
                                Fire.$emit("AfterCreate");
                            })
                            .catch(() => {
                                toastr.error("", "Ooop! try later or incorrect");
                            });
                    }
                });
            },
            /** Ici nous les utilisateurs active leurs posts **/
            likeItem(id) {
                //Start Progress bar
                this.$Progress.start();
                axios.get(`/api/orders/user/like_beautes/${id}`)
                    .then(() => {
                    /** Alert notify bootstrapp **/

                    /** End alert **/
                    //End Progress bar
                    this.$Progress.finish();

                    Fire.$emit("AfterCreate");
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    toastr.error('', 'Please login before like this post ');
                });
            },
            getUser(username){
                //Progress bar star
                this.$Progress.start();
                location.replace(`/@${username}`);
                //Progres bar
                this.$Progress.finish()
            },
            loadItems() {

                //Progress bar star
                this.$Progress.start();
                api.ordersbyuser(this.$route.params.username).then((response) => {
                    this.loaded = true;
                    this.userbeautes = response.data.data;
                });
                axios.get("/admin/api/account/user").then((response) => ( this.user = response.data));
                axios.get("/orders/api/beautes/menucategoryorders").then(({data}) => (this.menucategoryorders = data.data));
                axios.get("/orders/api/beautes/categoryorders").then(({data}) => (this.categoryorders = data.data));
                axios.get("/orders/api/beautes/colors").then(({data}) => (this.colors = data.data));
                axios.get("/admin/show/devises").then(({data}) => (this.devises = data.data));
                axios.get("/api/countries").then(({data}) => (this.countries = data.data));
                //Progres bar
                this.$Progress.finish()
            },
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
            //setInterval(() => this.loadItems(),3000);
        }
    }
</script>

<style scoped>
    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }
    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #2C98DE;
        margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }
    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }
    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }
    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }
    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }
    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }
    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }
    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
