<template>
    <div>
        <vue-progress-bar/>
        <div class="main main-raised">
            <div class="container">

                <!-- All Orders -->
                <div class="cd-section" id="projects">
                    <div class="projects-1" id="projects-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 ml-auto mr-auto text-center">
                                    <h2 class="title">
                                        <b>Les Articles en Exposition</b>
                                    </h2>
                                    <br>
                                    <h5 class="description">Retrouvez à portée de main tous les meilleurs articles high-tech comme la gamme Samsung Galaxy, les mobiles Tecno, les smartphones ou encore les tablettes de poche, ainsi tout le nécessaire pour remplir et décorer votre maison, et aussi tout l'univers de la Mode : chaussures, vêtements et accessoires pour toute la famille.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 ml-auto mr-auto text-center">
                                <ul class="nav nav-pills nav-pills-icons nav-pills-rose">

                                    <li class="nav-item" v-for="item in categoryorders" :key="item.id">
                                        <a class="nav-link" :href="item.link_category">
                                            <i class="material-icons">{{ item.icon }}</i>
                                            <b v-text="item.name"></b>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-12 ml-auto mr-auto text-center">

                                <button v-for="item in menucategoryorders" :key="item.id"
                                        @click="getCategory(item.slug)"  :v-if="item.categoryorder.slug === 'beautes'" :class="getColorCardItem(item.color_name)">
                                    <i class="material-icons">{{ item.icon }}</i>
                                    <b v-text="item.name"></b>
                                </button>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-content tab-space">

                    <div class="tab-pane active" id="pillAll">
                        <div class="row">


                            <div class="col-md-6 col-lg-4" v-for="item in beautes" :key="item.id">
                                <div class="rotating-card-container manual-flip">
                                    <div class="card card-rotate">
                                        <div class="front" style="background-image: url('');">
                                            <div class="card-body">
                                                <h5 class="card-category card-category-social">
                                                    <i class="material-icons">label</i> {{ item.title}}
                                                </h5>
                                                <h4 class="card-title">
                                                    <a href="#pablo">"Dribbble just acquired Crew, a very interesting startup..."</a>
                                                </h4>
                                                <p class="card-description">
                                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                                </p>
                                                <div class="stats text-center">
                                                    <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate">
                                                        <i class="material-icons">refresh</i> Rotate
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="author">
                                                    <a href="#pablo">
                                                        <img :src="item.user.avatar" :alt="item.user.name" class="avatar img-raised">
                                                        <span v-text="item.user.name"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="back back-background" style="background-image: url('assets/img/kit/pro/examples/card-blog5.jpg');">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    Envie d'en savoir plus?
                                                </h5>
                                                <p class="card-description">Vous avez le choix de plus d'informations, d'écrire et d'appeller <span>Boclair</span></p>
                                                <br>
                                                <div class="footer text-center">
                                                    <button @click="getPost(item.slug)" class="btn btn-info btn-just-icon btn-fill btn-round btn-sm" title="">
                                                        <i class="material-icons">visibility</i>
                                                    </button>
                                                    <button @click="deleteItem(item.id)"  class="btn btn-danger btn-just-icon btn-fill btn-round btn-sm" title="Delete">
                                                        <i class="material-icons">delete_forever</i>
                                                    </button>
                                                </div>
                                                <br>
                                                <button type="button" name="button" class="btn btn-link btn-round btn-rotate">
                                                    <i class="material-icons">keyboard_backspace</i> Back
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="row">
                        <div class="ml-auto mr-auto text-center">
                            <ul class="pagination pagination-primary">
                                <!--
                        classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                            -->
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link"> Prev</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">1</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">...</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">5</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">6</a>
                                </li>
                                <li class="active page-item">
                                    <a href="javascript:void(0);" class="page-link">7</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">8</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">9</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">...</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link">12</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link"> Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['auth','user'],
        data() {
            return {
                beautes: {},
                colors: {},
                categoryorders:{},
                menucategoryorders:{},
                form: new Form({
                    id: '',
                    title: '',
                    color_name: '',
                    phone: '',
                    price: '',
                    contact: '',
                    price_reduction: '',
                    body: '',
                    menucategoryorder_id: '',
                    user: ''
                })
            }
        },

        methods: {
            getColorCardItem(color_name){
                return 'btn btn-round btn-' + color_name;
            },
            deleteItem(id) {
                Swal.fire({
                    title: 'Delete this post?',
                    text: "Are you sure you want to delete this post?",
                    type: 'warning',
                    animation: false,
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then(result => {
                    //Envoyer la requet au server

                    if (result.value) {
                        //Progress bar star
                        this.$Progress.start();
                        this.form
                            .delete(`/orders/beautes/${id}`)
                            .then(() => {
                                /*Alert notify bootstrapp**/
                                let notify = $.notify(
                                    "<strong>Delete</strong> Do not close this page...",
                                    {
                                        allow_dismiss: false,
                                        showProgressbar: true
                                    }
                                );
                                setTimeout(function() {
                                    notify.update({
                                        type: "success",
                                        message:
                                            "<strong>Success</strong> Good job deleted successfully!",
                                        progress: 25
                                    });
                                }, 2000);
                                /* end alert ***/

                                //Progres bar
                                this.$Progress.finish();
                                Fire.$emit("AfterCreate");
                            })
                            .catch(() => {
                                toastr.error("", "Ooop! try later or incorrect");
                            });
                    }
                });
            },

            getCategory(slug){
                //Progress bar star
                this.$Progress.start();
                location.replace(`/orders/beautes/topic/${slug}`);
            },
            getPost(slug){
                //Progress bar star
                this.$Progress.start();
                location.replace(`/orders/beautes/show/${slug}`);
                this.$Progress.finish()
            },

            loadItems() {
                //Progress bar star
                this.$Progress.start();
                const url = "/orders/api/beautes";
                axios.get(url).then(({data}) => (this.beautes = data.data));
                axios.get("/orders/api/beautes/menucategoryorders").then(({data}) => (this.menucategoryorders = data.data));
                axios.get("/orders/api/beautes/categoryorders").then(({data}) => (this.categoryorders = data.data));
                axios.get("/orders/api/beautes/colors").then(({data}) => (this.colors = data.data));
                //Progres bar
                this.$Progress.finish()
            },
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
            //setInterval(() => this.loadItems(),3000);
        }
    }
</script>

<style scoped>

</style>
