<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <div v-if="!loaded" class="submit">
                        <Loaded/>
                    </div>
                    <br>
                    <div v-if="loaded" class="row">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 expo">
                                        <div class="card">
                                            <div :class="getColorCardUser()" style="margin-top: -5px;">
                                                <div class="card-icon">
                                                    <i class="material-icons">how_to_reg</i>
                                                </div>
                                                <br>
                                                <h4 class="card-title" style="margin-top: 0px;"><b>View</b> -
                                                    <small class="category">Registration Info</small>
                                                </h4>
                                            </div>
                                            <br>
                                            <div class="card-body">
                                                <!-- User Data -->
                                                <div class="col-md-12">
                                                    <div class="card card-nav-tabs">
                                                        <div :class="getColorHeaderUser()" v-if="$auth.can('create-registration') || $auth.can('edit-registration')">
                                                            <div class="nav-tabs-navigation">
                                                                <div class="nav-tabs-wrapper">
                                                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                                                        <li class="nav-item">
                                                                            <router-link  :to="{ path: `/admin/how_register/${howtoregister.id}/edit` }" class="nav-link active" v-if="$auth.can('edit-registration')" style="cursor:pointer;" data-toggle="tab">
                                                                                <i class="material-icons">edit</i>
                                                                                <b>Edit Registration Info</b>
                                                                            </router-link>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <router-link  :to="{ name: 'how_register.create' }" class="nav-link" v-if="$auth.can('create-registration')" style="cursor:pointer;" data-toggle="tab">
                                                                                <i class="material-icons">how_to_reg</i>
                                                                                <b>New Registration Info</b>
                                                                            </router-link>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="profile">
                                                                    <br>
                                                                    <div class="container">
                                                                        <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <label class="bmd-label-floating"></label>
                                                                                <input v-model="howtoregister.title" type="text" name="title" placeholder="Info Title" class="form-control" disabled>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label class="bmd-label-floating"></label>
                                                                                <input v-model="howtoregister.icon" type="text" name="icon" placeholder="Material Icon" class="form-control"  disabled>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group">
                                                                                        <input v-model="howtoregister.color_name" type="text" name="icon" placeholder="Material Icon" class="form-control"  disabled>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group">
                                                                                        <input v-model="howtoregister.icon_number" type="text" name="icon" placeholder="Material Icon" class="form-control"  disabled>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                        <div class="col-md-8 ml-auto mr-auto">
                                                                        <div class="profile text-center">
                                                                            <br>
                                                                             <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                                                                 <div class="fileinput-new thumbnail">
                                                                                     <img :src="howtoregister.image" :alt="howtoregister.slug">
                                                                                 </div>
                                                                                 <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                                             </div>
                                                                        </div>
                                                                    </div>
                                                                        <div class="form-group">
                                                                        <label class="bmd-label-floating">Description</label>
                                                                        <vue-editor :disabled=true v-model="howtoregister.body" :editorToolbar="customToolbar"></vue-editor>
                                                                        <div class="form-check">
                                                                            <label class="form-check-label pull-right">
                                                                                Created by
                                                                                <router-link  :to="{ path: `/admin/profile/${howtoregister.user.username}` }" class="text-danger">
                                                                                    {{ howtoregister.user.name }}
                                                                                </router-link>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="submit">
                                                    <div class="text-center">
                                                        <router-link id="button_hover" :to="{ name: 'how_register.index' }" class="btn btn-danger btn-round btn-center btn-raised" data-toggle="tab">
                                                            <i class="material-icons">chevron_left</i>
                                                            <b class="title_hover">Back</b>
                                                        </router-link>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <FooterAdmin/>
        </div>
    </div>
</template>
<script>
    import api from '../../../../api/mixins/collections';
    import NavAdmin from "../../../inc/admin/NavAdmin";
    import TopNav from "../../../inc/admin/TopNav";
    import FooterAdmin from "../../../inc/admin/FooterAdmin";
    import StatusAdmin from "../../../inc/admin/StatusAdmin";
    import Loaded from "../../../inc/animation/Loaded";

    export default {
        components: {Loaded, StatusAdmin, FooterAdmin, TopNav, NavAdmin},
        data() {
        return {
            loaded: false,
                user: '',
                howtoregister:{
                    user:''
                },
            customToolbar: [
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                [{ 'font': [] }],
                //[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                //[{ 'size': ['small', false, 'large', 'huge'] }],
                ['bold', 'italic', 'underline', 'strike'],
                [{ 'align': [] }],
                //[{ 'list': 'ordered'}, { 'list': 'bullet' }],
                ['blockquote', 'code-block'],
                //['blockquote', 'code-block'],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                //[{ 'script': 'sub'}, { 'script': 'super' }],
                //[{ 'indent': '-1'}, { 'indent': '+1' }],
                [{ 'color': [] }, { 'background': [] }],
                ['link'],
                //[{ 'direction': 'rtl' }],
                ['clean'],
                //['emoji'],
            ]
        }
    },
    methods: {
        getColorCardUser(){
                return 'card-header card-header-icon card-header-' + this.user.color_name;
			},
        getColorHeaderUser(){
                return 'card-header card-header-' + this.user.color_name;
			},
        getMaterialIcon(color){
            let icon = 'material-icons text-' + color;
            return icon;
        },
    },
    created() {
        //Start Progress bar
        this.$Progress.start();
        api.howtoregisterSlug(this.$route.params.howtoregister).then(response => {
            this.loaded = true;
            this.howtoregister = response.data.data;
            axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
        });
        //End Progress bar
        this.$Progress.finish();
    }
}
</script>

<style scoped>

</style>
