<template>
    <div>
        <vue-progress-bar/>
        <NavAdmin/>
        <div class="main-panel" id="javascriptComponents">
            <TopNav/>
            <div class="content">
                <div class="container-fluid">
                    <br>
                    <StatusAdmin/>
                    <br>
                    <div class="row">
                        <div class="col-md-12 expo">
                            <div class="card card-stats">
                                <div :class="getColorCardUser()">
                                    <div class="card-icon">
                                        <i class="material-icons">category</i>
                                    </div>
                                    <p class="card-category"><b>All Categories Orders</b>
                                    <h3 class="card-title title-red"><b>{{categoryorders.length}}</b></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">category</i><b>All Categories Orders</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="!loaded" class="submit">
                        <Loaded/>
                    </div>
                    <div class="row">
                        <div class="col-md-12 expo">
                            <div class="card">
                                <div :class="getColorHeaderUser()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title">
                                                <b>Datatables Categories Orders</b>
                                            </h4>
                                            <p class="card-title">
                                                Categories available
                                            </p>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span>
                                                <i id="tooltipSize" class="material-icons">category</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="card-body">
                                   <div class="header text-right">
                                        <button  @click="reload" class="btn btn-warning btn-raised btn-round button_note btn-sm"
                                                title="Refresh Page">
                                            <i class="material-icons">replay</i>
                                            <b class="title_hover">Refresh</b>
                                        </button>
                                    </div>
                                    <div v-if="$auth.can('create-category')"  class="toolbar">
                                        <div class="submit text-center">
                                            <button id="button_hover" class="btn btn-warning btn-raised btn-round " @click="newModal">
                                                 <span class="btn-label">
                                                    <i class="material-icons">category</i>
                                                 </span>
                                                <b class="title_hover">New Category Order</b>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="material-datatables">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th><b>Category Name</b></th>
                                                    <th><b>Material Icon</b></th>
                                                    <th><b>Status</b></th>
                                                    <th><b>Edit by</b></th>
                                                    <th><b>Last Update</b></th>
                                                    <th class="disabled-sorting text-right"><b v-if="($auth.can('publish-category') || $auth.can('edit-category') || $auth.can('delete-category'))">Actions</b></th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th><b>Category Name</b></th>
                                                    <th><b>Material Icon</b></th>
                                                    <th><b>Status</b></th>
                                                    <th><b>Edit by</b></th>
                                                    <th><b>Last Update</b></th>
                                                    <th class="text-right"><b v-if="($auth.can('publish-category') || $auth.can('edit-category') || $auth.can('delete-category'))">Actions</b></th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr v-for="item in categoryorders" :key="item.id">
                                                    <td>{{ (item.name.length > 30 ? item.name.substring(0,30)+ "..." : item.name) | upText }}</td>
                                                    <td><i :class="getMaterialIcon(item.color_name)">{{ item.icon}}</i></td>
                                                    <td>
                                                        <div class="timeline-heading">
                                                            <span v-if="item.status === 1" class="badge badge-info"><b>Active</b></span>
                                                            <span v-else-if="item.status === 0"  class="badge badge-danger"><b>Deactive</b></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <router-link  :to="{ path: `/admin/profile/${item.user.username}` }">
                                                            <button v-if="item.statusOnline" type="button" class="btn btn-success btn-round btn-just-icon btn-sm" title="Administrator Online"></button>
                                                            <button v-else="item.statusOnline" type="button" class="btn btn-danger btn-round btn-just-icon btn-sm" title="Administrator Offline"></button>
                                                            {{ (item.user.name.length > 15 ? item.user.name.substring(0,15)+ "..." : item.user.name) | upText }}
                                                        </router-link>
                                                    </td>
                                                    <td><b>{{ item.updated_at | myDate }}</b></td>
                                                    <td class="td-actions text-right">
                                                        <template v-if="$auth.can('publish-category')">
                                                            <a href="javascript:void(0)" v-if="item.status === 1" @click="disableItem(item.id)" class="btn btn-link btn-info btn-round btn-just-icon " title="Disable">
                                                                <i class="material-icons">power_settings_new</i>
                                                            </a>
                                                            <a href="javascript:void(0)"  v-else-if="item.status === 0" @click="activeItem(item.id)" class="btn btn-link btn-danger btn-round btn-just-icon " title="Activate">
                                                                <i class="material-icons">power_settings_new</i>
                                                            </a>
                                                        </template>
                                                        <a v-if="$auth.can('edit-category')"  href="javascript:void(0)" @click="editItem(item)"
                                                           class="btn btn-link  btn-success btn-round btn-just-icon">
                                                            <i class="material-icons">edit</i>
                                                        </a>
                                                        <a v-if="$auth.can('delete-category')" href="javascript:void(0)" @click="deleteItem(item.id)"
                                                           class="btn btn-link btn-danger btn-round btn-just-icon">
                                                            <i class="material-icons">delete_forever</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Modal création/édition Category Orders -->
                                    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 v-show="!editmode" class="modal-title" id="addNewLabel"><b>New Category Order</b></h5>
                                                    <h5 v-show="editmode" class="modal-title" id="updatwNewLabel"><b>Update Category Order</b></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="RegisterValidation" @keydown="form.onKeydown($event)" @submit.prevent="editmode ? updateItem() : createItem()" role="form"
                                                          method="POST" action="" accept-charset="UTF-8">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating"></label>
                                                            <input v-model="form.name" type="text" name="name" placeholder="Category Name"
                                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                                            <has-error :form="form" field="name"></has-error>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating"></label>
                                                            <input v-model="form.icon" type="text" name="icon" placeholder="Material Icon" class="form-control" :class="{ 'is-invalid': form.errors.has('icon') }">
                                                            <has-error :form="form" field="icon"></has-error>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating"></label>
                                                            <input v-model="form.link_category_create" type="text" name="link_category_create" placeholder="Create Category Link (Non Required)" class="form-control" :class="{ 'is-invalid': form.errors.has('link_category_create') }">
                                                            <has-error :form="form" field="link_category_create"></has-error>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating"></label>
                                                            <input v-model="form.link_category" type="text" name="link_category" placeholder="Redirect Category Link or Route * ( Required)"
                                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('link_category') }">
                                                            <has-error :form="form" field="link_category"></has-error>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating"></label>
                                                            <select name="color_name" v-model="form.color_name" id="color_name" class="form-control" :class="{ 'is-invalid': form.errors.has('color_name') }">
                                                                <option value="" disabled>Choose your Color</option>
                                                                <option v-for="color in colors" :key="color.id" :value="color.slug">{{color.color_name}}</option>
                                                            </select>
                                                            <has-error :form="form" field="color_name"></has-error>
                                                        </div>
                                                        <br>
                                                        <div class="modal-footer">
                                                            <div class="text-center">
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                    <span class="btn-label">
                                                                        <i class="material-icons">clear</i>
                                                                        <b>Close</b>
                                                                    </span>
                                                                </button>
                                                                <button v-show="!editmode" type="submit" class="btn btn-success btn-raised">
                                                                    <span class="btn-label">
                                                                        <i class="material-icons">check</i>
                                                                        <b>Yes, Save</b>
                                                                    </span>
                                                                </button>
                                                                <button v-show="editmode" type="submit" class="btn btn-success btn-raised">
                                                                    <span class="btn-label">
                                                                        <i class="material-icons">save_alt</i>
                                                                        <b>Yes, Update</b>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <FooterAdmin/>
        </div>
    </div>
</template>

<script>
    import NavAdmin from "../../inc/admin/NavAdmin";
    import TopNav from "../../inc/admin/TopNav";
    import FooterAdmin from "../../inc/admin/FooterAdmin";
    import StatusAdmin from "../../inc/admin/StatusAdmin";
    import Loaded from "../../inc/animation/Loaded";
    export default {
        components: {Loaded, StatusAdmin, FooterAdmin, TopNav, NavAdmin},
        data() {
            return {
                loaded: false,
                editmode: false,
                categoryorders: {},
                colors: {},
                user:{},
                form: new Form({
                    id: '',
                    name: '',
                    link_category_create: '',
                    link_category: '',
                    icon: '',
                    color_name: '',
                    user_id: '',
                    status: '',
                    slug: ''
                })
            }
        },
        methods: {
            mydatatables(){
                $( function () {
                    $('#datatables').DataTable({
                        "pagingType": "full_numbers",
                        "lengthMenu": [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"]
                        ],
                        order: [[ 0, 'desc' ], [ 3, 'asc' ]],
                        responsive: true,
                        stateSave: true,
                        destroy: true,
                        retrieve:true,
                        autoFill: true,
                        colReorder: true,
                        language: {
                            search: "<i class='material-icons'>search</i>",
                            searchPlaceholder: "Search Record"
                        },
                        "sPaginationType": "full_numbers"
                    });
                });
            },
            getColorCardUser(){
				let colorUser = 'card-header card-header-icon card-header-' + this.user.color_name;
				return colorUser;
			},
            getColorHeaderUser(){
				let colorUser = 'card-header card-header-' + this.user.color_name;
				return colorUser;
			},
            getMaterialIcon(color){
                let icon = 'material-icons text-' + color;
                return icon;
            },
            updateItem() {
                //Start Progress bar
                this.$Progress.start();

                this.form.put('/admin/category-order/' + this.form.id)
                    .then(() => {
                        //Masquer le modal après la création
                        $('#addNew').modal('hide');

                        /** Debut de l'alert **/
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Category order updated successfully.</strong>', 'progress': 75});
                        }, 2000);
                        /** Fin alert **/

                        //Progres bar
                        this.$Progress.finish();
                    
                        //Event
                        Fire.$emit('AfterCreate');
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooop! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                    })
            },
            editItem(item) {
                this.editmode = true;
                this.form.reset();
                //Masquer le modal après la création
                $('#addNew').modal('show');
                //On passe les informations
                this.form.fill(item);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                //Masquer le modal après la création
                $('#addNew').modal('show');
            },
            deleteItem(id) {
                Swal.fire({
                    title: 'Delete Category Order?',
                    text: "Are you sure you want to delete this category order?",
                    type: 'warning',
                    animation: false,
                    customClass: 'animated shake',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    showCancelButton: true,
                    reverseButtons: true
                }).then((result) => {
                    //Envoyer la requete au server
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();

                        this.form.delete('/admin/category-order/' + id).then(() => {
                            /** Alert notify bootstrapp **/
                            var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                                allow_dismiss: false,
                                showProgressbar: true
                            });
                            setTimeout(function() {
                                notify.update({'type': 'success', 'message': '<strong>Category order deleted successfully.</strong>', 'progress': 75});
                            }, 2000);
                            /** End alert ***/

                            Fire.$emit('AfterCreate');
                        }).catch(() => {
                            //Failled message
                            this.$Progress.fail();
                            $.notify("Ooop! Something wrong. Try later", {
                                type: 'danger',
                                animate: {
                                    enter: 'animated bounceInDown',
                                    exit: 'animated bounceOutUp'
                                }
                            });
                        })
                    }
                })
            },
            /** Ici c'est l'activation de la couleur  **/
            activeItem(id) {
                //Start Progress bar
                this.$Progress.start();
                this.form.get('/admin/active_category-order/' + id).then(() => {
                    /** Alert notify bootstrapp **/
                    var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                        allow_dismiss: false,
                        showProgressbar: true
                    });
                    setTimeout(function() {
                        notify.update({'type': 'success', 'message': '<strong>Category order activated successfully.</strong>', 'progress': 75});
                    }, 2000);
                    /** End alert **/

                    //Progres bar
                    this.$Progress.finish();
                    
                    Fire.$emit('AfterCreate');
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                })
            },
            /* Ici c'est la desactivation de la couleur **/
            disableItem(id) {
                //Progress bar star
                this.$Progress.start();
                this.form.get('/admin/disable_category-order/' + id).then(() => {
                    /** Alert notify bootstrapp **/
                    var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                        allow_dismiss: false,
                        showProgressbar: true
                    });
                    setTimeout(function() {
                        notify.update({'type': 'success', 'message': '<strong>Category order desactivated successfully.</strong>', 'progress': 75});
                    }, 2000);
                    /** End alert **/

                    //Progres bar
                    this.$Progress.finish();
                    
                    Fire.$emit('AfterCreate');
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                })
            },
            loadItems() {
                //Start Progress bar
                this.$Progress.start();
                const url = "/admin/api/category-order";
                axios.get(url).then(response => {
                    this.loaded = true;
                    this.categoryorders = response.data.data;
                    this.mydatatables();
                    //End Progress bar
                    this.$Progress.finish();
                });
                axios.get("/admin/api/account/profile").then(response => {this.user = response.data.data});
                const urlColors = "/admin/api/colors";
                axios.get(urlColors).then(({data}) => (this.colors = data.data));
            },
            reload(){
                this.loadItems();
            },
            createItem() {
                //Start Progress bar
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.post("/admin/category-order")
                    .then(() => {
                        //Event
                        Fire.$emit('AfterCreate');

                        //Masquer le modal après la création
                        $('#addNew').modal('hide');

                        //Ici c'est l'insertion de l'alert !
                        var notify = $.notify('<strong>Please wait a moment</strong> ...', {
                            allow_dismiss: false,
                            showProgressbar: true,
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            },
                        });
                        setTimeout(function() {
                            notify.update({'type': 'success', 'message': '<strong>Category order Created Successfully.</strong>', 'progress': 75});
                        }, 2000);

                        //End Progress bar
                        this.$Progress.finish();
                    }).catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        $.notify("Ooop! Something wrong. Try later", {
                            type: 'danger',
                            animate: {
                                enter: 'animated bounceInDown',
                                exit: 'animated bounceOutUp'
                            }
                        });
                    })
            }
        },
        created() {
            this.loadItems();
            Fire.$on('AfterCreate', () => {
                this.loadItems();
            });
        }
    }
</script>

<style scoped>

</style>
