.contactsIcons-wrapper {
    position: absolute;
}

.contactsIcons-wrapper .container-icon {
    position: fixed;
    bottom: 140px;
    right: 25px;
    z-index: 10000;
}

.contactsIcons-wrapper .icon-phone {
    margin-bottom: 25px;
}

.contactsIcons-wrapper .icon-phone .img-icon-phone-hover {
    max-width: 50px;
}

.contactsIcons-wrapper .icon-phone .img-icon-phone-hover {
    display: none;
    margin: 10px 0 10px 15px;
    opacity: 0;
    transition: opacity 1ms;
}

.contactsIcons-wrapper .icon-phone span {
    display: inline-block;
    visibility: hidden;
    color: #63666a;
    font-size: 0;
    opacity: 0;
    transition: opacity 1ms;
    z-index: -5;
}

.contactsIcons-wrapper .icon-phone:hover,
.contactsIcons-wrapper .icon-phone:focus {
    width: 185px;
    height: 43px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #888888;
    border-radius: 21px;
    transition: width 300ms, height 300ms ease-in-out;
}

.contactsIcons-wrapper .icon-phone:hover .img-icon-phone {
    display: none;
}

.contactsIcons-wrapper .icon-phone:hover .img-icon-phone-hover {
    display: inline-block;
    opacity: 1;
    transition: opacity 3s;
}

.contactsIcons-wrapper .icon-phone:hover span {
    visibility: visible;
    margin: 10px 10px 10px 25px;
    font-size: 15px;
    opacity: 1;
    transition: opacity 3s;
}

.contactsIcons-wrapper .icon-contact,
.contactsIcons-wrapper .icon-phone {
    transition: width 300ms, height 300ms ease-in-out;
    cursor: pointer;
    width: 50px;
    height: 45px;
    float: right;
    clear: both;
}

.contactsIcons-wrapper .icon-contact .img-icon-contact {
    display: inline-block;
}

.contactsIcons-wrapper .icon-contact .img-icon-contact-hover {
    display: none;
    margin: 12px 0 15px 15px;
}

.contactsIcons-wrapper .icon-contact span {
    display: inline-block;
    visibility: hidden;
    color: #63666a;
    font-size: 0;
    opacity: 0;
    transition: opacity 1ms;
    z-index: -5;
}

.contactsIcons-wrapper .icon-contact:hover,
.contactsIcons-wrapper .icon-contact:focus {
    width: auto;
    height: 43px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #888888;
    border-radius: 21px;
    transition: width 300ms, height 300ms ease-in-out;
}

.contactsIcons-wrapper .icon-contact:hover .img-icon-contact {
    display: none;
}

.contactsIcons-wrapper .icon-contact:hover .img-icon-contact-hover {
    display: inline-block;
}

.contactsIcons-wrapper .icon-contact:hover span {
    visibility: visible;
    margin: 10px 25px 10px 25px;
    font-size: 15px;
    opacity: 1;
    transition: opacity 3s;
}
