.gallery-wrapper {
    margin-top: 50px;
}

.gallery-wrapper .gallery-card {
    margin-bottom: 50px;
}

.gallery-wrapper .gallery-card__date {
    color: #d12420;
    margin-bottom: 0;
    font-size: 12px;
    font-family: Open Sans, sans-serif;
    line-height: 1;
    margin-bottom: 10px;
}

.gallery-wrapper .gallery-card__img {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}

.gallery-wrapper .gallery-card__img:after {
    content: "";
    display: block;
    padding-bottom: 45.2%;
}

@media screen and (min-width: 768px) {
    .gallery-wrapper .gallery-card__img:after {
        padding-bottom: 56.5%;
    }
}

.gallery-wrapper .gallery-card__linkimage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gallery-wrapper .gallery-card__tag {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    color: #fff;
    background: #d12420;
    min-width: 90px;
    line-height: 20px;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
}

.gallery-wrapper .gallery-card__link {
    color: grey;
}

.gallery-wrapper .gallery-card__link:hover,
.gallery-wrapper .gallery-card__link:focus {
    text-decoration: underline;
}

.gallery-wrapper .gallery-card--white {
    color: #fff;
}

.gallery-wrapper .gallery-card--white:hover,
.gallery-wrapper .gallery-card--white:focus {
    color: #fff;
    text-decoration: underline;
}

.gallery-wrapper .gallery-card__position {
    padding: 20px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

.gallery-wrapper .gallery-card__title {
    color: #d12420;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0 10px;
}

.gallery-wrapper .gallery-card__excerpt {
    color: #fff;
    margin-bottom: 0;
    line-height: normal;
}
