.kazoucoin-title {
    font-family: OpenSans-Bold, Sans-Serif;
    line-height: 1.4;
    text-align: center;
    margin: 27px 0 22px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
}
.kazoucoin-subtitle {
    font-family: OpenSans-Bold, Sans-Serif;
    line-height: 1.6;
    font-size: 18px;
}
.kazoucoin-subtitle-small {
    font-size: 16px;
}
.title-no-uppercase {
    text-transform: none;
}
.title-left {
    text-align: left;
}
.title-right {
    text-align: right;
}
/*** White Title ***/
.title-white {
    color: #fff;
}
/*** Red Title ***/
.title-red {
    color: #d12420;
}
/*** Grey Title ***/
.title-grey {
    color: #63666a;
}
/*** Yellow Title ***/
.title-yellow {
    color: #ff9e0f;
}
