#map {
    width: 100%;
    height: 207%;
    margin-top: 0;
}
.container-content-squared {
    height: 300px;
}

.container-content-squared .gm-style-iw-t:before {
    content: "" !important;
    position: absolute !important;
    top: -13px !important;
    left: 0 !important;
    transform: translate(-50%, 0) !important;
    width: 0 !important;
    height: 0 !important;
    border-left: 24px solid transparent !important;
    border-right: 24px solid transparent !important;
    border-top: 24px solid rgb(217, 39, 46) !important;
}
.container-content-squared  .gm-style-iw-t:after {
    top: -12px!important;
    position: absolute!important;
    height: 0!important;
    width: 0!important;
    border-left: 20px solid transparent!important;
    border-right: 20px solid transparent!important;
    border-top: 20px solid #d12420!important;
    border-color: #fff transparent transparent!important;
    border-style: solid!important;
    transform: unset!important;
    transform: translateX(-20px)!important;
    background: unset!important;
    box-shadow: unset!important;
}
.container-content-squared .gm-style .gm-style-iw {
    top: -10px !important;
    overflow: hidden !important;
    cursor: default !important;
    clear: both !important;
    padding: 0 0 0 10px !important;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 0px !important;
    border-width: 2px !important;
    border-color: rgb(217, 39, 46) !important;
    border-style: solid !important;
    width: auto !important;
    height: auto !important;
    max-height: 500px !important;
    max-width: 500px !important;
}

.container-content-squared .gm-style-iw-d {
    max-height: 260px !important;
    max-width: 250px !important;
}
.container-content-squared .bodyContent {
    display: inline-block;
    position: relative;
    max-height: 500px !important;
    max-width: 500px !important;
    padding: 20px;
}
.container-content-squared .gm-style h2 {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #65696c;
    margin-bottom: 15px;
    text-transform: none;
}
.container-content-squared .gm-style p {
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    color: #b2b4b6;
}
@media screen and (max-width: 767px) {
    .map-container {
        height: 300px !important;
    }
}
