.trois-images-wrapper {
    width: 100%;
}
.trois-images-wrapper .module-main-content {
    text-align: left;
    text-align: justify;
}
.trois-images-wrapper .trois-images {
    display: flex;
    flex-direction: column;
    height: auto;
}
@media screen and (max-width: 1139px) {
    .trois-images-wrapper .trois-images {
        height: unset;
    }
}
.trois-images-wrapper .black-background-trois-images {
    background-color: #63666a;
}

.trois-images-wrapper .container-title-trois-images .title-vertically-card-component {
    text-align: center;
    font-family: OpenSans-ExtraBold, sans-serif;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #63666a;
    width: 100%;
    margin: -8px auto -6px;
    max-width: 318px;
}
@media only screen and (min-width: 767px) {
    .trois-images-wrapper .container-title-trois-images .title-vertically-card-component {
        max-width: 690px;
    }
}
@media only screen and (min-width: 992px) {
    .trois-images-wrapper .container-title-trois-images .title-vertically-card-component {
        max-width: 1110px;
    }
}

.trois-images-wrapper .container-title-trois-images .cta-alternate {
    margin: 7px 0 -5px;
    text-align: center;
    text-transform: uppercase;
}

.trois-images-wrapper .container-trois-images {
    display: flex;
    justify-content: center;
    margin: 25px auto 43px auto;
}
@media screen and (max-width: 1139px) {
    .trois-images-wrapper .container-trois-images {
        flex-direction: column;
        width: 100%;
        margin: 0 auto 0 auto;
        background-color: #e10f21;
    }
}
.trois-images-wrapper .outbox-trois-images {
    height: 350px;
    width: 380px;
    overflow: hidden;
    position: relative;
    transition: all 300ms ease-in-out;
}
@media screen and (max-width: 1139px) {
    .trois-images-wrapper .outbox-trois-images {
        width: 100%;
        height: auto;
        max-height: 280px;
        margin: 0 auto;
        border-bottom: 1px solid #fff;
    }
}
.trois-images-wrapper .img-trois-images {
    margin: 0 15px;
}
@media screen and (max-width: 1139px) {
    .trois-images-wrapper .img-trois-images {
        margin: 0 auto;
        width: 100%;
        height: 280px;
        overflow: hidden;
    }
}
.trois-images-wrapper .gradient-trois-images {
    position: absolute;
    width: 350px;
    height: 96px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16) 56%, rgba(0, 0, 0, 0.55));
    margin: 0 15px;
    bottom: 0;
}
@media screen and (max-width: 1139px) {
    .trois-images-wrapper .gradient-trois-images {
        margin: 0 auto;
        width: 100%;
    }
}
.trois-images-wrapper .trois-images-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: #ffffff;
    padding-right: 60px;
    opacity: 1;
    transition: all 300ms ease-in-out;
}
@media screen and (min-width: 1139px) {
    .trois-images-wrapper .trois-images-title {
        display: none;
    }
}
.trois-images-wrapper .arrow-style {
    position: relative;
    height: 40px;
    width: 65px;
    cursor: pointer;
}

.trois-images-wrapper .white-body-arrow {
    border-bottom: solid 1px #ffffff;
}

.trois-images-wrapper .body-arrow {
    width: 37px;
    border-bottom: solid 2px #ffffff;
    position: absolute;
    top: 50%;
    transition: width 300ms;
}
.trois-images-wrapper .arrow-style:hover .body-arrow {
    width: 57px;
    transition: width 300ms;
}
.trois-images-wrapper .white-head-arrow {
    border-right: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
}

.trois-images-wrapper .head-arrow {
    width: 15.7px;
    height: 15.7px;
    transform: rotate(-45deg);
    border-right: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    position: absolute;
    margin-top: -8.29px;
    left: 18.5px;
    position: absolute;
    top: 21px;
    transition: left 300ms;
}
.trois-images-wrapper .arrow-style:hover .head-arrow {
    left: 38.5px;
    transition: left 300ms;
}
.trois-images-wrapper .trois-images-title-active {
    opacity: 0;
}
.trois-images-wrapper .trois-images-mask {
    width: 350px;
    height: 350px;
    background-image: linear-gradient(to right, #e10f21, #930d18);
    position: relative;
    bottom: 0;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 15px;
    transition: all 300ms ease-in-out;
}
@media screen and (max-width: 1139px) {
    .trois-images-wrapper .trois-images-mask {
        margin: 0;
        width: 100%;
        bottom: auto;
        top: -60px;
        height: auto;
        padding: 20px 15px;
        background: rgba(225, 15, 33, 0);
        opacity: 0;
        transition: all 300ms ease-in-out;
    }
}
@media screen and (min-width: 767px) and (max-width: 1139px) {
    .trois-images-wrapper .trois-images-mask {
        padding: 20px 40px;
    }
}
@media screen and (min-width: 1140px) {
    .trois-images-wrapper .trois-images-mask {
        padding: 0 30px 30px;
    }
}
.trois-images-wrapper .trois-images-mask-txt {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
}
@media screen and (max-width: 1139px) {
    .trois-images-wrapper .trois-images-mask-txt {
        position: relative;
        bottom: auto;
        left: auto;
        transition: all 300ms ease-in-out;
        z-index: 2;
    }
}

.trois-images-wrapper .title-rectangle-trois-images {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 24px;
    line-height: 26px;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    bottom: 380px;
    left: 30px;
    letter-spacing: -0.5px;
}
@media screen and (max-width: 1139px) {
    .trois-images-wrapper .title-rectangle-trois-images {
        position: relative;
        padding-bottom: 20px;
        padding-right: 60px;
        bottom: auto;
        left: auto;
        transition: all 300ms ease-in-out;
    }
}
.trois-images-wrapper .arrow-trois-images {
    margin-top: 20px;
}
@media screen and (max-width: 1139px) {
    .trois-images-wrapper .arrow-trois-images {
        left: 15px;
    }
}
@media screen and (min-width: 1140px) {
    .trois-images-wrapper .img-trois-images img {
        width: 350px;
        height: 350px;
    }
    .trois-images-wrapper .outbox-trois-images:hover .trois-images-mask,
    .trois-images-wrapper .outbox-trois-images:focus .trois-images-mask {
        position: relative;
        margin: 0 15px;
        bottom: 350px;
        height: 350px;
        vertical-align: auto !important;
    }
    .trois-images-wrapper .outbox-trois-images:hover .title-rectangle-trois-images,
    .trois-images-wrapper .outbox-trois-images:focus .title-rectangle-trois-images {
        position: relative;
        padding-bottom: 20px;
        bottom: auto;
        left: auto;
    }
}
.trois-images-wrapper .rectangle-trois-images {
    display: none;
}
@media screen and (max-width: 1139px) {
    .trois-images-wrapper .rectangle-trois-images {
        display: flex;
        position: absolute;
        top: 240px;
        width: 40px;
        height: 40px;
        background-image: linear-gradient(to bottom, #e10f21, #930d18);
        z-index: 20;
        cursor: pointer;
    }
    .trois-images-wrapper .right-trois-images {
        right: 0 !important;
    }
    .trois-images-wrapper .toggle-arrow-trois-images {
        margin: auto;
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 7px;
        width: 20px;
        height: 20px;
        -webkit-transform: rotate(45deg) translate(-3px, -3px);
        -ms-transform: rotate(45deg) translate(-3px, -3px);
        transform: rotate(45deg) translate(-3px, -3px);
        transition: all 300ms ease-in-out;
    }
    .trois-images-wrapper .toggle-arrow-trois-images-active {
        -webkit-transform: rotate(-135deg) translate(-3px, -3px);
        -ms-transform: rotate(-135deg) translate(-3px, -3px);
        transform: rotate(-135deg) translate(-3px, -3px);
    }
    .trois-images-wrapper .img-solo-trois-img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-width: 280px;
    }
    .trois-images-wrapper .outbox-trois-images-active {
        max-height: 600px;
    }
    .trois-images-wrapper .rectangle-trois-images-active {
        top: 240px;
    }
    .trois-images-wrapper .trois-images-mask-active {
        top: 0;
        opacity: 1;
        background-image: linear-gradient(to right, #e10f21, #930d18);
    }
    .trois-images-wrapper .title-rectangle-trois-images-active {
        bottom: 160px; // --> mettere top
    // transition: all 300ms ease-in-out;
    }
}
