<template>
    <form @submit.prevent="submit" id="RegisterValidation" method="POST" action="" enctype="multipart/form-data" accept-charset="UTF-8">

        <div class="media media-post">
            <a class="author float-left" href="#pablo">
                <div class="avatar">
                    <img class="media-object" :alt="user.name" :src="user.avatar">
                </div>
            </a>
            <div class="media-body">
                <div class="form-group label-floating bmd-form-group">
                    <label class="form-control-label bmd-label-floating" for="exampleBlogPost"> Post your comment...</label>
                    <textarea v-model="body" class="form-control" name="body" rows="3" id="exampleBlogPost" minLength="3" required></textarea>
                </div>
                <div class="media-footer">

                    <button  class="btn btn-instagram btn-raised btn-round float-right send" type="submit">
                         <span class="btn-label">
                           <i class="material-icons">forum</i>
                         </span>
                        Post Comment
                    </button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "AddComment",
        data(){
            return {
                body: null,
            }
        },
        methods: {
            submit(){
                let uri = `${location.pathname}/comment`;
                axios.post(uri,this.data).then((response) =>{
                    this.$emit('created',response.data);
                    this.body = null;
                    //console.log(response.data);
                });
            },

        }
    }
</script>

<style scoped>

</style>