<template>
   <div>
       <h4 v-text="comment.user.name" class="media-heading">
           <small>&#xB7; {{ comment.created_at }}</small>
       </h4>
       <p v-if="editing === false" v-text="body"></p>

       <form @submit.prevent="update" v-else id="RegisterValidation" method="POST" action=" " enctype="multipart/form-data" accept-charset="UTF-8">

           <div class="media media-post">

               <div class="media-body">
                   <div class="form-group label-floating bmd-form-group">
                       <textarea v-model="body" class="form-control" name="body" rows="2" id="exampleBlogPost" ></textarea>
                   </div>
                   <div class="media-footer">


                       <button class="btn btn-success btn-round float-right" type="submit" title="update comment">
                                  <span class="btn-label">
                                    <i class="material-icons">done_all</i>
                                  </span>
                           update
                       </button>
                       <button @click="isEdited" type="button" class="btn btn-danger btn-round float-right"  title="cancel">
                                  <span class="btn-label">
                                    <i class="material-icons">cancel</i>
                                  </span>
                           cancel
                       </button>
                   </div>
               </div>
           </div>
       </form>

       <div class="media-footer">
           <a @click="destroy" href="javascript:void(0)" class="btn btn-danger btn-link float-right"   title="Delete you'r comment">
               <i class="material-icons">delete_forever</i>
           </a>
           <a @click="isEdited" href="javascript:void(0)" class="btn btn-success btn-link float-right"   title="Edit you'r comment">
               <i class="material-icons">edit</i>
           </a>
           <!--<a href="#pablo" class="btn btn-danger btn-link float-right">
               <i class="material-icons">favorite</i> 243
           </a>-->
       </div>
   </div>
</template>

<script>
    export default {
        name: "Comment",
        props:['comment'],
        data(){
            return {

                editing:false,
                body: this.comment.body
            }
        },
        methods:{
            isEdited(){
                if (this.editing === false) return this.editing = true;
                return this.editing = false;
            },
            update(){

                let uri = `${location.pathname}/${this.comment.id}/comment`;
                axios.patch(uri,this.$data).then ((response) => {

                    this.editing = false;
                });
                //Swal('Bom boulo');
            },
            destroy(){

                let uri = `${location.pathname}/${this.comment.id}/comment`;
                axios.delete(uri);
                this.$emit('deleted',this.comment.id);
                //Swal('Bom boulo');
            },
        }
    }
</script>

<style scoped>

</style>