<template>

    <div>
        <div v-for="(comment, index) in orderByComments" :key="comment.id" class="media comment">

            <a class="float-left" href="#pablo">
                <div class="avatar">
                    <img class="media-object" :src="comment.user.profile" alt="...">
                </div>
            </a>
            <div class="media-body">

                <comment :comment="comment" @deleted="remove(index)"></comment>


            </div>
        </div>
        <add-comment @created="add"></add-comment>
    </div>
</template>

<script>
    import Comment from './Comment';
    import AddComment from './AddComment';
    import collection from '../../mixins/collections';
    export default {
        name: "Comments",
        data(){
            return {

                comments: []
            }
        },

        created(){
            ///console.log(this.comments);

            this.fetch();
        },
        components: { Comment,AddComment },
        mixins: [collection],
        computed: {
            orderByComments(){
              return _.orderBy(this.comments,'created_at','desc')
            }
        },
        methods: {
            fetch(){
               let uri = `${location.pathname}/comment`;
                axios.get(uri).then((response) => {

                    this.comments = response.data;
                    //console.log(response.data);
                });
            },
             //add(item){
             //    return this.comments.push(item);
             //},
             //remove(index){
             //    return this.comments.splice(index,1);
             //},
        }


    }
</script>

<style scoped>

</style>